<ion-content class="ion-padding">
    <form [formGroup]="inverterForm">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h4 class="ion-no-padding ion-no-margin">Select Inverter model</h4>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <app-auto-complete [dataList]="listOfInverterMake" placeholder="inverter make*" mode="object"
                                       formControlName="invertermake" #make></app-auto-complete>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <app-auto-complete [dataList]="listOfInverterMade" placeholder="inverter model*" mode="object"
                                       formControlName="invertermodel" #model></app-auto-complete>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
                <ion-col></ion-col>
                <ion-col size="auto">
                    <ion-button fill="clear" (click)="submitForm()">Ok</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>


</ion-content>
