
.profile-icon{
    width: 50px;
    height: 50px;
    margin-right: 4px;
    float: left;
   
  }

  .padding_adjust{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mg{
      margin-right: 4px;
      margin-top: 4px;
      margin-left: 4px;
      margin-bottom: 4px;
  }
  .black{
      color:#111;
    background: #e9f1ff;
  }
  .grey{
      color:#737373;
  }