._padding{
    padding:12px;
}


.modal-wrapper.sc-ion-modal-md {
    -webkit-transform: translate3d(0, 40px, 0) !important;
    transform: translate3d(0, 40px, 0) !important;
    opacity: 0.01 !important;
    height: 50% !important;
}

textarea{
    height: 100px;
    padding: 7px;
}

ion-grid{
    padding: 14px;
}

input[type="file"]{
    visibility:hidden;
  }

  .label {
    color: #6C6C6C !important;
    font-size: 15px;
  }