<ion-segment scrollable (ionChange)="segmentChanged($event)" value="InStamping" mode="md">
  <ion-segment-button value="InStamping">
    <ion-label class="segment-btn">In Stamping</ion-label>
  </ion-segment-button>
  <ion-segment-button value="completed">
    <ion-label class="segment-btn">Completed</ion-label>
  </ion-segment-button>
  <ion-segment-button value="delivered">
    <ion-label class="segment-btn">Delivered</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content (click)="close()" style="padding-bottom: 250px;position: sticky;">
  <ion-refresher slot="fixed" (ionRefresh)="refreshDesigns($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-grid *ngIf="listOfDesignsHelper.length !== 0 ;else nodesignFound">

          <ion-row *ngFor="let item of listOfDesignsHelper;let i = index">

        <ion-col *ngFor="let designData of item.listOfDesigns;let j = index;trackBy: trackdesign" size="12">
            <ion-card class="ion-no-padding custom-card ion-no-margin" style="height: 100%;" (click)="gotoDetails(designData,$event)">
                <p class="customer-name" *ngIf="designData.personname != null && designData.personname != ''"
                routerDirection="forward">{{designData.personname}}


              <span fill="clear" background-border="clear" (click)="gotoActivity(designData,$event)" class="imagebutton"  size="small"  ><img src="/assets/images/activitylist.png" style="height: 20px;" /></span>
              <ng-container *ngIf="designData?.chatid!==null && designData?.addedtogroupchat">
                <span fill="clear" background-border="clear" (click)="gotoChats(designData,$event)" class="chatbutton"  size="small"  ><img  style= "height:20px" src="assets/images/chat.svg" /></span>
              </ng-container>

      </p>
      <p style="margin:0px">
        <!-- <span class="chipdetail ml-1 ml-1" style="background-color: #FA983A;"
        *ngIf="designData.isoutsourced == 'true'">Wattmonk</span> -->
        <span class="chipdetail" style="background-color: rgb(246, 77, 10);" *ngIf="designData.status == 'declined'"  >On Hold</span>
        <span class="chipdetail" style="background-color: #1289A7;;" *ngIf="designData.status == 'assigned'" >Assigned</span>
      <span class="chipdetail" style="background-color: rgb(109, 187, 26);"   *ngIf=" designData.acceptedbypeengineer==true && designData.status == 'assigned'" >Accepted</span>
      <span class="chipdetail" style="background-color: rgb(109, 187, 26);padding: 4px 5px;" *ngIf="designData.status == 'completed'" ><ion-icon name="checkmark-done-outline" style="color: #fff;"></ion-icon></span>
      <span class="chipdetail" style="background-color: rgb(183,21,64)" *ngIf="designData.isinrevisionstate"  >Revision</span>
      </p>

      <p style="margin:0px">
          <span class="customer-email"
                  routerDirection="forward">{{designData.email}}</span>
                  <span *ngIf="designData.isoverdue" class="latebystyle"><strong>Late by {{designData.lateby}}</strong></span>

      </p>
      <p style="margin:0px"  >
                <a href="tel:{{designData.contactnumber}}" style="text-decoration: none;" class="z-100">
                    <span class="customer-phone" *ngIf="designData.contactnumber != null && designData.contactnumber != ''">{{designData.contactnumber}}</span></a>
                    <span class="recordupdatedon">{{designData.deliverydate|date: 'dd MMM yyyy'}}</span>
                  </p>
                <span class="customer-address z-100" *ngIf="designData.deliveryaddress != null && designData.deliveryaddress != ''"
                        (click)="openAddressOnMap(designData.deliveryaddress,$event)">{{(designData.deliveryaddress | slice:0:60) + (designData.deliveryaddress.length > 60 ? '...' : '')}}

                             <ion-col>

                                </ion-col>

                    </span>
                    <!-- <ion-col *ngIf="designData.status=='assigned' || designData.status=='completed' || designData.status=='delivered'" style="font-size: 0.8em;padding-right: 0px;padding-bottom: 18px;">
                      <span style=" float:right"><strong>Assigned to : {{designData.assignedto.firstname | titlecase}} {{designData.assignedto.lastname | titlecase}}</strong></span>
                      </ion-col> -->

                  <ion-row class="ion-no-margin ion-no-margin" style="margin-bottom: 0px;">
                   <ion-col style="padding-left:0px" >
                    <span class="chipdetail"  style="background-color: #95afc0;align-self: center;" >{{designData?.source | titlecase}}</span>
                    <span class="chipdetail"  style="background-color: #95afc0;align-self: center;" >{{designData?.propertytype}}</span>
                    <span class="chipdetail"  style="background-color: #95afc0;align-self: center;" >{{designData?.type}}</span>
                </ion-col>



                    <!-- <ion-col *ngIf="segments=='status=assigned&status=declined'"> -->
                      <ion-col>
                                   <span style="float: right;">
                            <ng-container *ngIf="(designData.status == 'assigned' && (designData.acceptedbypeengineer==false && designData.declinedbypeengineer==false) && designData.type!=='both') || (userData.peengineertype=='structural' && designData.isstructuralassigned && designData.type == 'both' && !designData.acceptedbystructuralpeengineer) || (userData.peengineertype=='electrical' && designData.iselectricalassigned && designData.type == 'both' && !designData.acceptedbyelectricalpeengineer)" >
                                <ion-col size="8" class="ion-text-end action-button-color" (click)="accept(designData.id,designData,$event)">
                                   Accept
                                </ion-col>
                                <ion-col size="4" style="color:#dc6e67;" class="ion-text-end" (click)="decline(designData.id,'pestamp',$event)">
                                On Hold
                                </ion-col>
                            </ng-container>
                        </span>
                        <!-- <span style="float: right;">
                          <ng-container *ngIf="userData.peengineertype=='structural' && designData.isstructuralassigned && designData.type == 'both' && !designData.acceptedbystructuralpeengineer" >
                              <ion-col size="8" class="ion-text-end action-button-color" (click)="accept(designData.id,designData,$event)">
                                 Accept
                              </ion-col>
                              <ion-col size="4" style="color:#dc6e67;" class="ion-text-end" (click)="decline(designData.id,'pestamp',$event)">
                              On Hold
                              </ion-col>
                          </ng-container>
                      </span>
                      <span style="float: right;">
                        <ng-container *ngIf="userData.peengineertype=='electrical' && designData.iselectricalassigned && designData.type == 'both' && !designData.acceptedbyelectricalpeengineer" >
                            <ion-col size="8" class="ion-text-end action-button-color" (click)="accept(designData.id,designData,$event)">
                               Accept
                            </ion-col>
                            <ion-col size="4" style="color:#dc6e67;" class="ion-text-end" (click)="decline(designData.id,'pestamp',$event)">
                            On Hold
                            </ion-col>
                        </ng-container>
                    </span> -->
                    </ion-col>

                    <ion-col *ngIf="segments=='status=completed' && userData.role.type != 'clientsuperadmin' && userData.role.type !== 'clientadmin'">
                      <span style="float:right !important;" class="ion-text-end action-button-color" (click)="openreviewPassed(designData.id,designData)"
                      >  &nbsp; Deliver</span>
                      <!-- <span (click)="openDesigners(designData.id,designData)" style="float:right !important;" class="ion-text-end action-button-color"
                      >Reassign</span> -->
                      <!-- <span *ngIf="userData.role.type!='clientsuperadmin' &&(designData.status =='reviewpassed'||designData.status=='reviewfailed'||designData.status=='reviewassigned')" style="float:right !important;" class="ion-text-end action-button-color" (click)="openAnalysts(designData.id,designData)"
                      >Reassign Review</span> -->
                  </ion-col>



                </ion-row>

        </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #nodesignFound>
      <div *ngIf="listOfDesignsHelper.length === 0 " class="h-100 d-flex flex-column align-center justify-center">


                {{noDesignFound}}

          <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
      </div>
  </ng-template>


</ion-content>
