<ion-segment scrollable (ionChange)="segmentChanged($event)" value="newDesign" mode="md">
  <ion-segment-button value="newDesign">
    <ion-label class="segment-btn">New Designs</ion-label>
  </ion-segment-button>
  <ion-segment-button value="InDesign">
    <ion-label class="segment-btn">In Designing</ion-label>
  </ion-segment-button>
  <ion-segment-button value="completed">
    <ion-label class="segment-btn">Completed</ion-label>
  </ion-segment-button>
  <ion-segment-button value="InReview">
    <ion-label class="segment-btn"> In Review</ion-label>
  </ion-segment-button>
  <ion-segment-button value="delivered">
    <ion-label class="segment-btn">Delivered</ion-label>
  </ion-segment-button>
</ion-segment>


  <ion-content (click)="close()" style="padding-bottom: 250px;position: sticky;">
    <ion-refresher slot="fixed" (ionRefresh)="refreshDesigns($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-grid *ngIf="listOfDesignsHelper.length !== 0 ;else nodesignFound">
      <!-- <ion-row *ngFor="let item of listOfDesignsHelper;let i = index"> -->
        <!-- <ion-virtual-scroll [items]="listOfDesignsHelper"> -->
            <ion-row *ngFor="let item of listOfDesignsHelper;let i = index">
                <!-- <ion-row *virtualItem="let item;let i = index"> -->
          <!-- <ion-col size="12" class="ion-margin-top">
                  <span class="ion-padding" *ngIf="today === item.date">
                      Today
                      </span>
              <span class="ion-padding" *ngIf="today !== item.date">
                          {{item.date | date: 'dd MMM yyyy'}}
                  </span>
          </ion-col> -->
          <ion-col *ngFor="let designData of item.listOfDesigns;let j = index;trackBy: trackdesign" size="12">
              <ion-card class="ion-no-padding custom-card ion-no-margin" style="height: 100%;">
                  <p class="customer-name"
                  routerDirection="forward">{{designData.name}}
                  <!-- <span class="chipdetail" style="background-color: #1289A7;" [routerLink]="['/permit-design-details/',designData.id]" routerDirection="forward">
                    {{designData.deliverydate | date: 'hh:mm a'}}
                </span> -->

                <span class="chipdetail" style="background-color: rgb(246, 77, 10);" *ngIf="designData.status == 'requestdeclined'"  [routerLink]="['/permit-design-details/',designData.id]">On Hold</span>

                <span class="chipdetail" style="background-color: rgb(246, 77, 10);" *ngIf="designData.status == 'reviewfailed'"  [routerLink]="['/permit-design-details/',designData.id]">Review Failed</span>
                <span class="chipdetail" style="background-color: rgb(246, 104, 10);" *ngIf="designData.isoverdue" [routerLink]="['/permit-design-details/',designData.id]">Overdue</span>
                <span class="chipdetail" style="background-color: rgb(109, 187, 26);" *ngIf="designData.status == 'requestaccepted'" [routerLink]="['/permit-design-details/',designData.id]">Accepted</span>
                <span class="chipdetail" style="background-color: rgb(109, 187, 26);" *ngIf="designData.status == 'reviewpassed'" [routerLink]="['/permit-design-details/',designData.id]">Review Passed</span>
                <span class="chipdetail" style="background-color: rgb(109, 187, 26);" *ngIf="designData.status == 'delivered'" [routerLink]="['/permit-design-details/',designData.id]">Delivered</span>
                <span class="chipdetail" style="background-color: rgb(109, 187, 26);padding: 4px 5px;" *ngIf="designData.status == 'designcompleted'" [routerLink]="['/permit-design-details/',designData.id]"><ion-icon name="checkmark-done-outline" style="color: #fff;"></ion-icon></span>
                <span class="chipdetail" style="background-color: #1289A7;;" *ngIf="designData.status == 'created'" [routerLink]="['/permit-design-details/',designData.id]">Unassigned</span>
                <span class="chipdetail" style="background-color: #1289A7;;" *ngIf="designData.status == 'designassigned'" [routerLink]="['/permit-design-details/',designData.id]">Design Assigned</span>
                <span class="chipdetail" style="background-color: #1289A7;;" *ngIf="designData.status == 'reviewassigned'" [routerLink]="['/permit-design-details/',designData.id]">In Review</span>
                <span class="chipdetail" *ngIf="designData.status == 'outsourced' && (userData.role.name=='ContractorAdmin' || userData.role.name=='ContractorSuperAdmin')" style="background-color: #95afc0;" [routerLink]="['/permit-design-details/',designData.id]">Waiting for acceptance</span>
                <span class="chipdetail" style="background-color: rgb(183,21,64)" *ngIf="designData.isinrevisionstate"  [routerLink]="['/permit-design-details/',designData.id]">Revision</span>
                <span class="chipdetail ml-1 ml-1" style="background-color: #FA983A;"
                      *ngIf="designData.isoutsourced == 'true'">Wattmonk</span>
                <span fill="clear" background-border="clear" [routerLink]="['/','activity',designData.id,'design']" class="imagebutton"  size="small"  ><ion-icon  src="/assets/images/activitylist.svg" ></ion-icon></span>

        </p>

        <p style="margin:0px">
            <span class="customer-email" [routerLink]="['/permit-design-details/',designData.id]"
                    routerDirection="forward">{{designData.email}}</span>
                    <span *ngIf="designData.isoverdue" class="latebystyle"><strong>Late by {{designData.lateby}}</strong></span>

        </p>
        <p style="margin:0px">
                  <a href="tel:{{designData.phonenumber}}" style="text-decoration: none;" class="z-100">
                      <span class="customer-phone">{{designData.phonenumber}}</span></a>
                      <span class="recordupdatedon">Updated {{designData.recordupdatedon}}</span>
                    </p>
                  <span class="customer-address z-100"
                          (click)="openAddressOnMap(designData.address)">{{(designData.address | slice:0:60) + (designData.address.length > 60 ? '...' : '')}}

                               <ion-col>

                                  </ion-col>

                      </span>

                  <ion-row style="margin-bottom: 0px;" [routerLink]="['/permit-design-details/',designData.id]">
                     <ion-col style="padding-left:0px" >
                      <span class="chipdetail" style="background-color: #95afc0;align-self: center;" >{{designData?.source}}</span>
                      <span class="chipdetail" style="background-color: #95afc0;align-self: center;" >{{designData?.jobtype=='pvbattery' ? 'PV + Battery' : designData?.jobtype}}</span>
                  </ion-col>


                  <ion-col *ngIf="designData.status == 'designassigned'&& userData.role.type!='clientsuperadmin' && userData.role.type!='clientadmin'">
                          <span *ngIf="designData.status == 'designassigned'" style="float:right;text-align: right;">
                              {{designData.designremainingtime}}</span></ion-col>
                              <ion-col *ngIf="designData.status == 'outsourced'">
                                  <span *ngIf="designData.status == 'outsourced'" style="float:right;text-align: right;">
                                      {{designData.designacceptanceremainingtime}}</span></ion-col>
                                      <ion-col *ngIf="designData.status == 'reviewassigned' && designData.reviewassignedto.id==userData.id" style="color: #737373; font-size: 14px;">
                                          <span style="float: right;">{{designData.reviewremainingtime}}</span>
                                        </ion-col>
                  </ion-row>

                  <ion-row class="ion-no-margin ion-no-margin">
                    <ion-col *ngIf="segments=='requesttype=permit&status=reviewassigned&status=reviewfailed&status=reviewpassed' && userData.role.type != 'clientsuperadmin' && userData.role.type !== 'clientadmin'"  style="font-size: 0.8em;">
                        <span>Assigned to : {{designData.reviewassignedto.firstname | titlecase}} {{designData.reviewassignedto.lastname | titlecase}}</span>
                    </ion-col>
                      <ion-col *ngIf="segments=='requesttype=permit&status=created&status=outsourced&status=requestaccepted&status=requestdeclined' || segments=='requesttype=permit&status=created&status=outsourced&status=requestaccepted&&status=requestdeclined'">
                          <span *ngIf="designData.status == 'created' || (designData.status == 'requestaccepted' && (userData.role.type !== 'clientsuperadmin' && userData.role.type !== 'clientadmin')) " style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id,designData)"
                          >Assign</span>
                          <span style="float: right;">
                              <ng-container *ngIf="userData.role.type !=='clientsuperadmin' && userData.role.type !== 'clientadmin'">
                                  <ion-col size="8"  *ngIf="designData.status == 'outsourced'"  class="ion-text-end action-button-color" (click)="accept(designData.id,'requestaccepted')">
                                     Accept
                                  </ion-col>
                                  <ion-col size="4" *ngIf="designData.status == 'outsourced'"  class="ion-text-end action-button-color" (click)="decline(designData.id)">
                                  On Hold
                                  </ion-col>
                              </ng-container>
                          </span>

                          <span  *ngIf="designData.status == 'requestdeclined' && (userData.role.type=='clientsuperadmin' || userData.role.type=='clientadmin')" style="float:right !important;" class="ion-text-end action-button-color" (click)="directAssignToWattmonk(designData.id)"
                          >Reassign</span>
                      </ion-col>


                      <ion-col *ngIf="segments=='requesttype=permit&status=designassigned'">
                          <span *ngIf= "(designData.status =='designassigned') && userData.role.type !='clientsuperadmin' && userData.role.type !='clientadmin'" (click)="openDesigners(designData.id,designData)" style="float:right !important" class="ion-text-end action-button-color"
                          >Reassign</span>
                      </ion-col>

                      <ion-col *ngIf="segments=='requesttype=permit&status=designcompleted'">
                          <!-- <span *ngIf="(designData.isoutsourced=='true' && designData.outsourcedcompany=='Wattmonk' && (userData.role.type=='wattmonkadmins'|| userData.role.type=='superadmin')) || (designData.isoutsourced=='false' && designData.outsourcedcompany==null && (userData.role.type=='wattmonkadmins'|| userData.role.type=='superadmin'|| userData.role.type=='clientsuperadmin'))" style="float:right !important;" class="ion-text-end action-button-color" (click)="openAnalysts(designData.id,designData)"
                          >Assign Review</span> -->
                          <span *ngIf="userData.role.type !='clientsuperadmin' && userData.role.type != 'clientadmin'" style="float:right !important;" class="ion-text-end action-button-color" (click)="selfAssign(designData.id,designData)"
                          > &nbsp; Self Assign</span>

                          <span *ngIf="userData.role.type !='clientsuperadmin' && userData.role.type != 'clientadmin'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openAnalysts(designData.id,designData)"
                          >Assign Review</span>
                      </ion-col>
                      <ion-col *ngIf="segments=='requesttype=permit&status=reviewassigned&status=reviewfailed&status=reviewpassed' && userData.role.type != 'clientsuperadmin' && userData.role.type !== 'clientadmin'">
                          <span *ngIf="designData.status =='reviewpassed'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openreviewPassed(designData.id,designData)"
                          >  &nbsp; Deliver</span>
                          <span *ngIf="userData.role.type!='clientsuperadmin' &&(designData.status =='reviewpassed'||designData.status=='reviewfailed'||designData.status=='reviewassigned')" style="float:right !important;" class="ion-text-end action-button-color" (click)="openAnalysts(designData.id,designData)"
                          >Reassign Review</span>
                      </ion-col>

                      <ion-col *ngIf="segments=='requesttype=permit&status=delivered'">
                        <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="designDownload(designData)">
                            <ion-icon name="cloud-download-outline"></ion-icon></span>&nbsp;
                          <span  style="float:right !important;margin-right: 8px;" class="ion-text-end action-button-color" (click)="shareWhatsapp(designData)">
                              <ion-icon name="share-social-outline"></ion-icon></span>&nbsp;
                          <span style="float:right !important;margin-right: 8px;" class="ion-text-end action-button-color" (click)="shareViaEmails(designData.id,designData)">
                              <ion-icon name="mail" ></ion-icon></span>
                              <span *ngIf="userData.role.type=='clientsuperadmin' || userData.role.type=='clientadmin'" style="float:right !important;margin-right: 8px;" class="ion-text-end action-button-color" (click)="Resend(designData.id, designData.requesttype)">
                                  Resend</span>
                      </ion-col>
                      <!-- <ion-col class="ion-no-margin ion-no-padding">
                          <ion-button class="ion-no-margin ion-no-padding" fill="clear" [routerLink]="['/surveyprocess/' + designData.id + '/' + designData.jobtype + '/' + designData.latitude + '/' + designData.longitude]"
                          routerDirection="forward">
                              Restart Survey
                          </ion-button>
                      </ion-col> -->
                  </ion-row>
                  <!-- <ion-progress-bar [value]="1" mode="ios" color="success" class="progress-bar-height"></ion-progress-bar> -->
                    <!-- <span class="ion-text-end timestamp" [routerLink]="['/permit-design-details/',designData.id]" routerDirection="forward">
                          {{designData.deliverydate | date: 'hh:mm a'}}

              </span> -->
          </ion-card>
          </ion-col>
      </ion-row>
      <!-- </ion-virtual-scroll> -->
      
    
      
      <!-- <ion-row>
          <ion-col size="12" style="height: 100px;">

          </ion-col>
      </ion-row>  -->
    </ion-grid>
    <ng-template #nodesignFound>
        <div *ngIf="listOfDesignsHelper.length === 0 " class="h-100 d-flex flex-column align-center justify-center">
                <!-- <div *ngIf="!netSwitch"> -->
                    
                  {{noDesignFound}}
                <!-- </div> -->
      
            <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
        </div>
    </ng-template>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" >
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
         >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
</ion-content>

<ion-bottom-drawer [(state)]="drawerState" minimumHeight="0" dockedHeight="300" draggable="false" disableDrag="true"
             shouldBounce="true" distanceTop="0" class="drawer" style="z-index: 9999 !important;">
<form [formGroup]="assignForm">
  <ion-grid class="drawer">
      <ion-row>
         <ion-col size="12">
              <app-user-selector  (assigneeData)=getassignedata($event) placeholder="assign" [assignees]="listOfAssignees"  [reviewAssigned]=reviewAssignedTo
                                 formControlName="assignedto"></app-user-selector>

          </ion-col>
      </ion-row>
      <!--<ion-row style="margin-left: 8px;">
          <ion-col size="12">
              <span class="input-placeholder">comments</span>
          </ion-col>
          <ion-col size="12" style="padding-top: 0px;">
              <ion-textarea style="max-width: 98%;" class="ion-no-margin ion-no-padding comment_box" rows="3"
                            formControlName="comment"></ion-textarea>
          </ion-col>
      </ion-row>-->
      <ion-row style="justify-content: flex-end;">
          <ion-col size="auto" style="padding-top: 0px; margin-right: 6px;">
              <ion-button class="buttom-drawer-button" fill="clear" (click)="assignToDesigner()">
                  Confirm
              </ion-button>
          </ion-col>
          <ion-col size="auto">
              <ion-button class="buttom-drawer-button-cancel" fill="clear" (click)="dismissBottomSheet()">
                  Cancel
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</form>

</ion-bottom-drawer>
