<ion-footer style="background-color: #FBF9F4;padding: 5px;" class="ion-text-center ion-no-border">
  <div class="Footer1">
   <!-- <span>©{{getFullYear}} WattMonk private Limited All Rigths Reserved</span> -->
   <span>© 2020 WattMonk Technologies Private Limited. All Rights Reserved.</span>
  </div>
  <div class="Footer2">
    <span><a (click)="privacy()" class="greyactionlink">Privacy Policy</a>  | <a  (click)="agreement()" class="greyactionlink">Service Agreement</a></span>
  </div>
  </ion-footer>