.assignee-image {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  object-fit: fill;
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  background: #FFF1CF;
}

.assignee-margin {
  margin: 8px;
  text-align: center;
}

.selected {
  border: 4px solid #DC6E67;
  border-radius: 50%;
}

.normal {
  border: 4px solid white;
}

div[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
}

.name_div {
  font-size: 20px;
}


