<div class="d-flex flex-column transparent-background">
  <span class="input-placeholder" style="margin-left: 8px;">{{placeholder}}</span>
  <span class="input-placeholder" *ngIf="required">*</span>
  <div scrollX="true" style="margin-top: 4px;">
    <div class="d-flex flex-row">
      <div *ngFor="let assignee of assignees" class="assignee-margin " (click)="selectAssignee(assignee)">
        <div class="selected d-flex"
             [class.selected]="assignee.selected" [class.normal]="!assignee.selected">
          <img *ngIf="assignee.contractorlogo && assignee.contractorlogo.logo" [src]="assignee.contractorlogo.logo.url" class="assignee-image"/>
          <div *ngIf="!assignee.contractorlogo || !assignee.contractorlogo.logo" class="assignee-image d-flex flex-row align-center justify-center">
            <div class="name_div">
              <span style="text-transform: capitalize;">{{assignee?.firstname?.substring(0, 1)}}{{assignee?.lastname?.substring(0, 1)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

