<div class="d-flex flex-column">
  <span class="input-placeholder">{{placeholder}}</span>
  <span class="input-placeholder" *ngIf="required">*</span>
  <div scrollX="true">
    <div class="d-flex flex-row">
      <div *ngFor="let assignee of assignees" class="assignee-margin assignee-image" (click)="selectAssignee(assignee)">
        <img *ngIf="assignee.logo" [src]="assignee.logo.url" class="assignee-image selected"
             [class.selected]="assignee.selected" [class.normal]="!assignee.selected"/>
        <div *ngIf="!assignee.logo" class="assignee-image selected d-flex flex-row align-center justify-center"
             style="background: #FFF1CF;" [class.selected]="assignee.selected" [class.normal]="!assignee.selected">
          <div class="name_div">
            <span style="text-transform: capitalize;">{{assignee.firstname.substring(0, 1)}}{{assignee.lastname.substring(0, 1)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

