<ion-content [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="getSurveys($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="listOfSurveyDataHelper.length !== 0">
    <ion-row *ngFor="let item of listOfSurveyDataHelper;let i = index" id={{i}}>
        <ion-col size="12" class="ion-margin-top">
                <span class="ion-padding" *ngIf="today == item.date" id="todayitems">
                    Today
                  </span>
            <span class="ion-padding" *ngIf="today != item.date">
                      {{item.date | date: 'dd MMM yyyy'}}
                </span>
        </ion-col>
        <ion-col *ngFor="let surveyData of item.listOfSurveys;let i = index " size="12">
            <div class="ion-no-padding custom-card" style="height: 100%;" (click)="gotoDetails(surveyData,$event)">
                <p class="customer-name" >{{surveyData.name}}
                      <span class="chipdetail" style="background-color: #1289A7;"  routerDirection="forward">
                        {{utils.formatTimeInDisplayFormat(surveyData.datetime)}}
                    </span>
                    <span fill="clear" background-border="clear"    (click)="gotoActivity(surveyData,$event)"  class="imagebutton"  size="small"  ><img src="/assets/images/activitylist.png" style="height: 20px;" /></span>
                    <ng-container *ngIf="surveyData.createdby.id !== surveyData.assignedto.id">
                      <span fill="clear" background-border="clear" (click)="gotoChats(surveyData,$event)" class="chatbutton"  size="small"  ><img  style= "height:20px" src="assets/images/chat.svg" /></span>
                    </ng-container>

                </p>
            <p style="margin:0px">

                <span class="customer-email"
                      routerDirection="forward">{{surveyData.email}}</span>
            </p>
            <p style="margin:0px">
                <a href="tel:{{surveyData.phonenumber}}" (click)="$event.stopPropagation()" style="text-decoration: none;" class="z-100">
                    <span class="customer-phone">{{surveyData.phonenumber}}</span></a>
                    <span class="recordupdatedon">Updated {{surveyData.recordupdatedon}}</span></p>
                <span class="customer-address z-100"
                      (click)="openAddressOnMap(surveyData.address,$event)">{{(surveyData.address | slice:0:60) + (surveyData.address?.length > 60 ? '...' : '')}}</span>

                <ion-row class="ion-no-margin ion-no-margin"  >

                    <span class="chipdetail" style="background-color: #95afc0;" >{{surveyData.source | titlecase}}</span>
                    <span class="chipdetail" style="background-color: #95afc0;align-self: center;" >{{surveyData?.jobtype=='pvbattery' ? 'PV + Battery' : surveyData?.jobtype | uppercase}}</span>
                </ion-row>
                 <ion-row class="ion-no-margin ion-no-margin">
                    <ion-col class="ion-no-margin ion-no-padding">
                      <p class="warninginfo" *ngIf="surveyData.remainingfilestoupload > 0">Files to upload: {{surveyData.remainingfilestoupload}}</p>
                    </ion-col>
                    <ion-col class="ion-no-margin ion-no-padding">
                        <ion-button *ngIf="surveyData.status != 'completed'" class="ion-no-margin ion-no-padding" style="float: right;" fill="clear" (click)="startsurvey(surveyData,$event)">
                        Start Survey
                    </ion-button>
                    </ion-col>
                </ion-row>
                <!-- <ion-progress-bar [value]="surveyData.totalpercent" mode="ios" color="success" class="progress-bar-height"></ion-progress-bar> -->
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" style="height: 100px;">
        </ion-col>
    </ion-row>
</ion-grid>

<div *ngIf="listOfSurveyDataHelper.length === 0" class="h-100 d-flex flex-column align-center justify-center">
  <!-- <div *ngIf="!netSwitch"> -->
  No Surveys found
  <!-- </div> -->
  <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
</div>
</ion-content>
