<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getSurveys($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="listOfSurveyDataHelper.length !== 0">
    <ion-row *ngFor="let item of listOfSurveyDataHelper;let i = index">
        <ion-col size="12" class="ion-margin-top">
                <span class="ion-padding" *ngIf="today == item.date">
                    Today
                  </span>
            <span class="ion-padding" *ngIf="today != item.date">
                      {{item.date | date: 'dd MMM yyyy'}}
                </span>
        </ion-col>
        <ion-col *ngFor="let surveyData of item.listOfSurveys;let i = index " size="12">
            <div class="ion-no-padding custom-card" style="height: 100%;">
                <p class="customer-name" [routerLink]="['/survey-detail/',surveyData.id]"
                      routerDirection="forward">{{surveyData.name}}
                      <span class="chipdetail" style="background-color: #1289A7;" [routerLink]="['/survey-detail/',surveyData.id]" routerDirection="forward">
                        {{surveyData.datetime | date: 'hh:mm a'}}
                    </span>
                      <span *ngIf="surveyData.status=='surveyassigned'" class="chipdetail" style="background-color: #3C78D8;" [routerLink]="['/survey-detail/',surveyData.id]" routerDirection="forward">
                        pending
                    </span>
                    <span class="chipdetail" style="background-color: rgb(246, 77, 10);" *ngIf="surveyData.lateby > 0">Overdue</span>
            </p>
            <p style="margin:0px">

                <span class="customer-email" [routerLink]="['/survey-detail/',surveyData.id]"
                      routerDirection="forward">{{surveyData.email}}</span>
                      <span *ngIf="surveyData.lateby > 1" class="latebystyle"><strong>Late by {{surveyData.lateby}} days</strong></span>
                      <span *ngIf="surveyData.lateby == 1" class="latebystyle"><strong>Late by a day</strong></span>
            </p>
                <a href="tel:{{surveyData?.phonenumber}}" style="text-decoration: none;" class="z-100">
                    <span class="customer-phone">{{surveyData?.phonenumber}}</span></a>
                <span class="customer-address z-100"
                      (click)="openAddressOnMap(surveyData.address)">{{(surveyData.address | slice:0:60) + (surveyData.address?.length > 60 ? '...' : '')}}</span>

                <ion-row style="margin-bottom: 8px;"  [routerLink]="['/survey-detail/',surveyData.id]">
                    <span class="chipdetail" style="background-color: #95afc0;" >Wattmonk</span>
                    <span class="chipdetail" style="background-color: #95afc0;" >{{surveyData.formattedjobtype}}</span>
                   
                </ion-row>
                <ion-row class="ion-no-margin ion-no-margin">
                    <ion-col></ion-col>
                    <!-- <ion-col class="ion-no-margin ion-no-padding"> -->
                    <ion-col class="ion-no-margin ion-no-padding ion-text-end" *ngIf="today==item.date">
                        <ion-button class="ion-no-margin ion-no-padding" fill="clear" [routerLink]="['/surveyprocess/' + surveyData.id + '/' + surveyData.jobtype + '/' + surveyData.latitude + '/' + surveyData.longitude + '/' + surveyData.city + '/' + surveyData.state]"
                        routerDirection="forward">
                            Start Survey
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-progress-bar [value]="surveyData.totalpercent" mode="ios" color="success" class="progress-bar-height"></ion-progress-bar>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" style="height: 100px;">
        </ion-col>
    </ion-row>
</ion-grid>

<div *ngIf="listOfSurveyDataHelper.length === 0" class="h-100 d-flex flex-column align-center justify-center">
    <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
</div>
</ion-content>
