<ion-header class="ion-no-border grey-bg;">
    <ion-toolbar>
        <ion-title></ion-title>
        <ion-col size="1">
            <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
                <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
            </ion-button>
        </ion-col>
        <ion-col size="9" style="text-align:center;font-size: x-large;position: absolute;">Search</ion-col>

        <ion-button style="float: right;" fill="clear">
            <ion-icon name="filter-outline"></ion-icon>&nbsp;<ion-select value="both" (ionChange)="searchfor($event)"
                style="padding-left: 0px;text-transform: none;" interface="popover" [(ngModel)]="Type">
                <ion-select-option #d name="Designs" value="design">{{'Designs' | lowercase}}</ion-select-option>
                <ion-select-option #s name="Surveys" value="survey">{{'Surveys' | lowercase}}</ion-select-option>
                <ion-select-option value="both">{{'Both' | lowercase}}</ion-select-option>
            </ion-select>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar class="searchStyle" debounce="0" placeholder="Search Here" (ionChange)="searchfor($event)"
        [(ngModel)]="searchElement"></ion-searchbar>
    <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid *ngIf="SortedModel.length!==0 ; else norecordfound">
        <ion-col *ngFor="let search of SortedModel">

            <ion-card class="ion-no-padding custom-card ion-no-margin">

                <div  *ngIf="search?.type=='design'">
                    <p class="customer-name">
    <span
    >{{search?.name}}</span>
    <span fill="clear" background-border="clear" (click)="gotoActivity(search,$event)" class="imagebutton"  size="small"  ><img src="/assets/images/activitylist.png" style="height: 20px;" /></span>
        <ng-container *ngIf="search?.chatid!==null">
<span fill="clear" background-border="clear" (click)="gotoChats(search,$event)"
    class="chatbutton" size="small"><img style="height:20px" src="assets/images/chat.svg" /></span>
</ng-container>
</p>
                    <p style="margin:0px">

                    <span class="chipdetail" style="background-color:rgb(228, 77, 102);"
                        [routerLink]="['/design-details/',search?.id]">design</span>
                    <span class="chipdetail" style="background-color:rgb(228, 77, 102);"
                        [routerLink]="['/design-details/',search?.id]">{{search?.requesttype}}</span>
                    <span class="chipdetail" style="background-color: rgb(246, 77, 10);"
                        *ngIf="search?.status == 'requestdeclined'"
                        [routerLink]="['/design-details/',search?.id]">Declined</span>
                    <span class="chipdetail" style="background-color: rgb(246, 104, 10);"
                        *ngIf="search?.deliverydate > 0" [routerLink]="['/design-details/',search?.id]">Overdue</span>
                    <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                        *ngIf="search?.status == 'requestaccepted'"
                        [routerLink]="['/design-details/',search?.id]">Accepted</span>
                    <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                        *ngIf="search?.status == 'reviewpassed'" [routerLink]="['/design-details/',search?.id]">Review
                        Passed</span>
                    <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                        *ngIf="search?.status == 'delivered'"
                        [routerLink]="['/design-details/',search?.id]">Delivered</span>
                    <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                        *ngIf="search?.status == 'designcompleted'"
                        [routerLink]="['/design-details/',search?.id]">Completed</span>
                    <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                        *ngIf="search?.status == 'reviewfailed'" [routerLink]="['/design-details/',search?.id]">Review
                        Failed</span>
                    <span class="chipdetail" style="background-color: #1289A7;" *ngIf="search?.status == 'created'"
                        [routerLink]="['/design-details/',search?.id]">Unassigned</span>
                    <span class="chipdetail" style="background-color: #1289A7;"
                        *ngIf="search?.status == 'designassigned'" [routerLink]="['/design-details/',search?.id]">Design
                        Assigned</span>
                    <span class="chipdetail" style="background-color: #1289A7;"
                        *ngIf="search?.status == 'reviewassigned'" [routerLink]="['/design-details/',search?.id]">In
                        Review</span>
                    <span class="chipdetail" *ngIf="search?.isoutsourced == 'true'"
                        style="background-color: rgb(246, 104, 10);"
                        [routerLink]="['/design-details/',search?.id]">Outsourced</span>
                    <span *ngIf="search?.status=='surveyassigned'" class="chipdetail" style="background-color: #3C78D8;"
                        [routerLink]="['/design-details/',search?.id]">
                        pending
                    </span>
                </p>
                    <p style="margin:0px">
                    <span style="float:left;font-size: smaller;">{{search?.email}}</span><br></p>
                    <span style="float:left;text-align:left;font-size: smaller;"> {{search?.address}}</span><br>
                    <span style="font-size:small ;float:right;font-style: italic;">
                        {{search?.updated_at|date: 'dd MMM yyyy'}}</span><br>
                    <!-- <span class="chipdetail" style="background-color: #95afc0;"  [routerLink]="['/design-details/',search?.id]">{{search?.company}}</span> -->
                    <span class="chipdetail" style="background-color: #95afc0;"
                        [routerLink]="['/design-details/',search?.id]">{{search?.requesttype}}</span>
                    <span *ngIf="search?.requesttype=='permit'" class="chipdetail" style="background-color: #95afc0;"
                        [routerLink]="['/design-details/',search?.id]">{{search?.jobtype=='pvbattery' ? 'PV + Battery' : search?.jobtype | uppercase}}</span>
                    <span class="chipdetail" style="background-color: #95afc0;"
                        [routerLink]="['/design-details/',search?.id]">{{search?.source | titlecase}}</span>
                    <ion-row class="ion-no-margin ion-no-margin">
                        <!-- <ion-col *ngIf="segments=='requesttype=prelim&status=created&status=outsourced&status=requestaccepted'">
          <span *ngIf="search?.status == 'created' || search?.status == 'requestaccepted'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(search?.id,search)"
          >Assign</span>
          <span style="float: right;">

              <ion-col size="8"  *ngIf="search?.status == 'outsourced'"  class="ion-text-end action-button-color" (click)="accept(search?.id,'requestaccepted')">
                 Accept
              </ion-col>
              <ion-col size="4" *ngIf="search?.status == 'outsourced'"  class="ion-text-end action-button-color" (click)="decline(search?.id)">
              On Hold
              </ion-col>
          </span>

          <span *ngIf="search?.status == 'requestdeclined'"style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(search?.id,search)"
          >Reassign</span>
      </ion-col>


      <ion-col *ngIf="search?.requesttype=='prelim'&& search?.status=='designcompleted'">
          <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="openAnalysts(search?.id,search)"
          >Assign Review</span>
      </ion-col>
      <ion-col *ngIf="search?.status == 'reviewpassed' || search?.status == 'reviewfailed'|| search?.status == 'reviewassigned'">
          <span *ngIf="search?.status == 'reviewpassed'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openreviewPassed(search?.id,search)"
          >&nbsp;Deliver</span>
          <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="openAnalysts(search?.id,search)">
            Reassign Review</span>
      </ion-col>
      <ion-col *ngIf="search?.requesttype=='prelim'&& search?.status=='delivered'" >
        <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="shareWhatsapp(search)">
            <ion-icon name="share-social-outline"></ion-icon></span>&nbsp;
        <span style="float:right !important;margin-right: 8px;" class="ion-text-end action-button-color" (click)="shareViaEmails(search?.id,search)">
            <ion-icon name="mail" ></ion-icon></span>
      </ion-col>
       -->
                    </ion-row>

                </div>
                <div *ngIf="search?.type=='survey'">
                    <p class="customer-name">
                        <span
                        >{{search?.name}}</span>
                        <span fill="clear" background-border="clear" (click)="gotoSurveyActivity(search,$event)" class="imagebutton"  size="small"  ><img src="/assets/images/activitylist.png" style="height: 20px;" /></span>
                            <ng-container *ngIf="search?.chatid!==null">
                    <span fill="clear" background-border="clear" (click)="gotoChats(search,$event)"
                        class="chatbutton" size="small"><img style="height:20px" src="assets/images/chat.svg" /></span>
                    </ng-container>
                    </p>
                    <p style="margin:0px">

                    <span class="chipdetail" style="background-color:rgb(228, 77, 102);"
                        [routerLink]="['/survey-detail/',search?.id]" routerDirection="forward">survey</span>
                    <span class="chipdetail" style="background-color: rgb(246, 77, 10);"
                        *ngIf="search?.status == 'requestdeclined'" [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">Declined</span>
                    <span class="chipdetail" style="background-color: rgb(246, 104, 10);"
                        *ngIf="search?.deliverydate > 0" [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">Overdue</span>
                    <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                        *ngIf="search?.status == 'requestaccepted'" [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">Accepted</span>
                    <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                        *ngIf="search?.status == 'reviewpassed'" [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">Review Passed</span>
                    <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                        *ngIf="search?.status == 'delivered'" [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">Delivered</span>
                    <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                        *ngIf="search?.status == 'designcompleted'" [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">Completed</span>
                    <span class="chipdetail" style="background-color: #1289A7;" *ngIf="search?.status == 'created'"
                        [routerLink]="['/survey-detail/',search?.id]" routerDirection="forward">Unassigned</span>
                    <span class="chipdetail" style="background-color: #1289A7;"
                        *ngIf="search?.status == 'designassigned'" [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">Design Assigned</span>
                    <span class="chipdetail" style="background-color: #1289A7;"
                        *ngIf="search?.status == 'reviewassigned'" [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">In Review</span>
                    <span class="chipdetail" *ngIf="search?.isoutsourced == 'true'" style="background-color: #95AFC0;"
                        [routerLink]="['/survey-detail/',search?.id]" routerDirection="forward">Waiting for
                        acceptance</span>
                    <span *ngIf="search?.status=='surveyassigned'" class="chipdetail" style="background-color: #3C78D8;"
                        [routerLink]="['/survey-detail/',search?.id]" routerDirection="forward">
                        pending
                    </span></p>
                   <p style="margin:0px">
                    <span style="float:left;font-size: smaller;">{{search?.email}}</span><br></p>
                    <span style="float:left;font-size: smaller;"> {{search?.address}}</span><br>
                    <span
                        style="font-size:small ;float:right;font-style: italic;">{{search?.updated_at|date: 'dd MMM yyyy'}}</span><br>
                    <!-- <span class="chipdetail" style="background-color: #95afc0;"[routerLink]="['/survey-detail/',search?.id]" routerDirection="forward">{{search?.company}}</span> -->
                    <span class="chipdetail" style="background-color: #95afc0;"
                        [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">{{search?.jobtype=='pvbattery' ? 'PV + Battery' : search?.jobtype}}</span>
                    <span class="chipdetail" style="background-color: #95afc0;"
                        [routerLink]="['/survey-detail/',search?.id]"
                        routerDirection="forward">{{search?.source | titlecase}}</span>
                    <ion-row class="ion-no-margin ion-no-margin">
                        <!-- <ion-col *ngIf="segments=='requesttype=prelim&status=created&status=outsourced&status=requestaccepted'">
            <span *ngIf="search?.status == 'created' || search?.status == 'requestaccepted'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openSurveyors(search?.id,search)"
            >Assign</span>
            <span style="float: right;">

                <ion-col size="8"  *ngIf="search?.status == 'outsourced'"  class="ion-text-end action-button-color" (click)="accept(search?.id,'requestaccepted')">
                   Accept
                </ion-col>
                <ion-col size="4" *ngIf="search?.status == 'outsourced'"  class="ion-text-end action-button-color" (click)="decline(search?.id)">
                Decline
                </ion-col>
            </span>

            <span *ngIf="search?.status == 'requestdeclined'"style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(search?.id,search)"
            >Reassign</span>
        </ion-col>


        <ion-col *ngIf="search?.requesttype=='prelim'&& search?.status=='designcompleted'">
            <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="openAnalysts(search?.id,search)"
            >Assign Review</span>
        </ion-col>
        <ion-col *ngIf="search?.status == 'reviewpassed' || search?.status == 'reviewfailed'|| search?.status == 'reviewassigned'">
            <span *ngIf="search?.status == 'reviewpassed'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openreviewPassed(search?.id,search)">
            &nbsp;Deliver</span>
            <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="openreviewPassed(search?.id,search)">
            Reassign Review</span>
        </ion-col>
        <ion-col *ngIf="search?.requesttype=='prelim'&& search?.status=='delivered'" >
            <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="shareWhatsapp(search)">
                <ion-icon name="share-social-outline"></ion-icon></span>&nbsp;
            <span style="float:right !important;margin-right: 8px;" class="ion-text-end action-button-color" (click)="shareViaEmails(search?.id,search)">
                <ion-icon name="mail" ></ion-icon></span>
          </ion-col>
         -->
                    </ion-row>
                </div>

            </ion-card>
        </ion-col>


    </ion-grid>


    <ng-template #norecordfound>
        <div *ngIf="SortedModel.length == 0 && searchElement!=''"
            class="h-100 d-flex flex-column align-center justify-center">
            <!-- <div *ngIf="!netSwitch"> -->
            No such record found
            <!-- </div> -->

            <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
        </div>
        <div *ngIf="SortedModel.length == 0 && searchElement==''"
            class="h-100 d-flex flex-column align-center justify-center">
            <!-- <div *ngIf="!netSwitch"> -->
            Enter text to search
            <!-- </div> -->

            <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
        </div>
    </ng-template>




</ion-content>
<ng-container *ngIf="showBottomDraw">

    <ion-bottom-drawer [(state)]="drawerState" [minimumHeight]="0" [dockedHeight]="320" [draggable]="false"
        [disableDrag]="true" [shouldBounce]="true" [distanceTop]="0" class="drawer" style="z-index: 9999 !important;">
        <form [formGroup]="assignForm">
            <ion-grid class="drawer">
                <ion-row>
                    <ion-col size="12">
                        <app-user-selector (assigneeData)=getassignedata($event) placeholder="Assign"
                            [assignees]="listOfAssignees" formControlName="assignedto"></app-user-selector>
                    </ion-col>
                </ion-row>
                <!-- <ion-row style="margin-left: 8px;">
                  <ion-col size="12">
                      <span class="input-placeholder">comments</span>
                  </ion-col>
                  <ion-col size="12" style="padding-top: 0px;">
                      <ion-textarea style="max-width: 98%;" class="ion-no-margin ion-no-padding comment_box" rows="3"
                                    formControlName="comment"></ion-textarea>
                  </ion-col>
              </ion-row>-->
                <ion-row style="justify-content: flex-end;">
                    <ion-col size="auto" style="padding-top: 0px; margin-right: 6px;">
                        <ion-button class="buttom-drawer-button" fill="clear" (click)="assign()">
                            Confirm
                        </ion-button>
                    </ion-col>
                    <ion-col size="auto">
                        <ion-button class="buttom-drawer-button-cancel" fill="clear" (click)="dismissBottomSheet()">
                            Cancel
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>

    </ion-bottom-drawer>
</ng-container>
