<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button mode="md"  > <ion-img fill="clear" class="ion-no-margin  menu_im" src="assets/icon/new/menu.svg" ></ion-img></ion-menu-button>
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>Report</ion-title>
    <!-- <ion-title>comingsoon</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="mt">
  <!-- <label>Coming Soon</label> -->
  <img src="assets/images/comingsoon.png" />
  <label  style="font-size: 16px;font-weight: bold;">Soon your report will have all the required data insights. Stay tuned!!</label>
</div>
</ion-content>