<ion-content style="position: relative;">
    <!-- <ion-header class="ion-no-border white-bg" style="position: relative;">
        <ion-toolbar> -->
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col *ngIf="showHome === true">
                <h1 class="ion-no-padding ion-no-margin home">Home</h1>
            </ion-col>
            <ion-col *ngIf="showSearchBar === true">
                <ion-searchbar debounce="0" placeholder="home" (ionClear)="showHom()" [(ngModel)]="searchbarElement"
                               (ionChange)="searchDesginAndSurvey($event)" class="custom"></ion-searchbar>
            </ion-col>
            <ion-col size="auto" *ngIf="showHome === true">
                <div class="notification-padding" (click)="onClick()">
                    <ion-img src="/assets/images/icons8-search.svg" class="notification-icon"></ion-img>
                </div>
            </ion-col>
            <ion-col size="auto">
                <div class="notification-padding" [routerLink]="['/notification']" routerDirection="forward">
                    <ion-img src="/assets/images/notification.svg" class="notification-icon"></ion-img>
                    <span class="badge">
                                4
                            </span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- </ion-toolbar> -->
    <!-- </ion-header> -->
    <ion-tabs style="margin-top: 52px;">
        <ion-tab-bar slot="top" class="ion-no-border">
            <ion-tab-button tab="design">
                <ion-label>Design</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="survey">
                <ion-label>Survey</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

    <ion-grid style="position: absolute;">
        <div class="searchbar_div">
            <ion-grid *ngIf="searchDesginItem && searchDesginItem.length !== 0">
                <ion-row *ngFor="let searchitem of searchDesginItem" (click)="getdesigndata(searchitem)">
                    <ion-col size="2">
                        <ion-img class="profile-icon" src="/assets/images/icons8-checked.svg"></ion-img>
                    </ion-col>
                    <ion-col size="10" style="margin-top: 6px;">
                        <div style="display: flex; justify-content: space-between;">
                            <span class="history-name">{{searchitem.name}}</span>
                            <span class="history-add">{{searchitem.created_at | date:'dd/MM/yyyy'}}</span>
                        </div>
                        <div>
                              <span class="history-add">
                                {{searchitem.address}}
                              </span>
                        </div>
                        <!-- <div>
                              <span class="assign">
                               desgined assign to.....
                              </span>
                        </div> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid *ngIf="(searchSurveyItem && searchSurveyItem.length !== 0) else noDesignandSurvey" >
                <ion-row *ngFor="let searchitem of searchSurveyItem">
                    <ion-col size="2">
                        <ion-img class="profile-icon" src="/assets/images/icons8-checked.svg"></ion-img>
                    </ion-col>
                    <ion-col size="10" style="margin-top: 6px;">
                        <div style="display: flex; justify-content: space-between;">
                            <span class="history-name">{{searchitem.name}}</span>
                            <span class="history-add">{{searchitem.created_at | date:'dd/MM/yyyy'}}</span>
                        </div>
                        <div>
                              <span class="history-add">
                                {{searchitem.address}}
                              </span>
                        </div>
                        <!-- <div>
                              <span class="assign">
                               desgined assign to.....
                              </span>
                        </div> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="searchbar_div nodata_div">
            <ng-template #noDesignandSurvey>
            <ion-grid *ngIf="searchbarElement != '' && (searchSurveyItem && searchSurveyItem.length === 0) && (searchDesginItem && searchDesginItem.length === 0)">
                    <div class="h-100 d-flex flex-column align-center justify-center">
                        <span>No desgin or survey found</span>
                    </div>
                </ion-grid>
            </ng-template>
            </div>
    </ion-grid>

</ion-content>

<ion-footer class="ion-no-border white-bg" *ngIf="showFooter">
    <div class="position-relative">
        <ion-fab horizontal="center" class="fab-position position-absolute">
            <ion-fab-button [routerLink]="['/schedule']" routerDirection="forward" mode="md">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <ion-grid class="bottom-bar ion-no-margin ion-no-padding">
            <ion-row>
                <ion-col size="4">
                    <div class="tab">
                        <ion-img src="/assets/images/home-outline.svg" class="tab-icon"></ion-img>
                        <span class="tabText">Home</span>
                    </div>
                </ion-col>
                <ion-col size="4" [routerLink]="['/message']">
                    <div class="tab">
                        <ion-img src="/assets/images/message-outline.svg" class="tab-icon"></ion-img>
                        <span class="tabText">Messages</span>
                    </div>
                </ion-col>
                <ion-col size="4" [routerLink]="['/profile']" routerDirection="forward">
                    <div class="tab">
                        <ion-img src="/assets/images/account-outline.svg" class="tab-icon"></ion-img>
                        <span class="tabText">Profile</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-footer>
