<ion-content style="position: relative;">
    <!-- <ion-header class="ion-no-border white-bg" style="position: relative;">
        <ion-toolbar> -->
    <ion-grid>
        <ion-row class="ion-align-items-center">
        <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        <ion-row class="ion-align-items-center">
            <ion-col *ngIf="showHome === true">
                <h1 class="ion-no-padding ion-no-margin home">Prelim Dashboard</h1>
            </ion-col>
            <!-- <ion-col *ngIf="showSearchBar === true" >
                <ion-searchbar debounce="0" placeholder="home" class="custom"></ion-searchbar>
            </ion-col> -->
            <ion-col size="auto" *ngIf="showHome === true">
                <div class="notification-padding" (click)="searchbar()">
                    <ion-img src="/assets/images/icons8-search.svg" class="notification-icon"></ion-img>
                </div>
            </ion-col>
            <ion-col size="auto" style="position: relative;">
                <div class="notification-padding" [routerLink]="['/notification']" routerDirection="forward" (click)="setzero()">
                    <ion-img src="/assets/images/notification.svg" class="notification-icon"></ion-img>
                   <span class="badge" *ngIf="unreadCount > 0">
                                {{unreadCount > 99 ? '99+' : unreadCount }}
                            </span> 
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
    </ion-row>
    </ion-grid>
    <!-- </ion-toolbar> -->
    <!-- </ion-header> -->
   

    <!-- <ion-tabs style="margin-top: 20%;">
        <ion-tab-bar slot="top">
          <ion-tab-button tab="pending">
            <ion-label>Pending</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="completed">
            <ion-label>Completed</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="inreview">
            <ion-label>Review</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="delivered">
            <ion-label>Delivered</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs> -->

    <ion-grid style="position: absolute;">
        <div class="searchbar_div">
            <ion-grid *ngIf="searchDesginItem && searchDesginItem.length !== 0">
                <ion-row *ngFor="let searchitem of searchDesginItem;" (click)="getdesigndata(searchitem)">
                    <ion-col size="2">
                        <ion-img class="profile-icon" src="/assets/images/icons8-checked.svg"></ion-img>
                    </ion-col>
                    <ion-col size="10" style="margin-top: 6px;">
                        <div style="display: flex; justify-content: space-between;">
                            <span class="history-name">{{searchitem.name}}</span>
                            <span class="history-add">{{searchitem.created_at | date:'dd/MM/yyyy'}}</span>
                        </div>
                        <div>
                              <span class="history-add">
                                {{searchitem.address}}
                              </span>
                        </div>
                        <!-- <div>
                              <span class="assign">
                               desgined assign to.....
                              </span>
                        </div> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid *ngIf="(searchSurveyItem && searchSurveyItem.length !== 0)">
                <ion-row *ngFor="let searchitem of searchSurveyItem" (click)="getdesigndata(searchitem)">
                    <ion-col size="2">
                        <ion-img class="profile-icon" src="/assets/images/icons8-checked.svg"></ion-img>
                    </ion-col>
                    <ion-col size="10" style="margin-top: 6px;">
                        <div style="display: flex; justify-content: space-between;">
                            <span class="history-name">{{searchitem.name}}</span>
                            <span class="history-add">{{searchitem.created_at | date:'dd/MM/yyyy'}}</span>
                        </div>
                        <div>
                              <span class="history-add">
                                {{searchitem.address}}
                              </span>
                        </div>
                        <!-- <div>
                              <span class="assign">
                               desgined assign to.....
                              </span>
                        </div> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="searchbar_div nodata_div">
            <ng-template #noDesignandSurvey>
                <ion-grid
                        *ngIf="searchbarElement !== '' && (searchSurveyItem && searchSurveyItem.length === 0) && (searchDesginItem && searchDesginItem.length === 0)">
                    <div class="h-100 d-flex flex-column align-center justify-center">
                        <span>No desgin or survey found</span>
                    </div>
                </ion-grid>
            </ng-template>
        </div>
    </ion-grid>
</ion-content>
<ion-tabs style="margin-top: 52px">
    <!-- <ion-tab-bar class="ion-no-border"> -->
        <!-- <ion-tab-button tab="design" *ngIf="isUserDesigner">
            <ion-label>Designs</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="survey" *ngIf="isUserSurveyor">
            <ion-label>Surveys</ion-label>
        </ion-tab-button> -->
    <!-- </ion-tab-bar> -->
</ion-tabs>

<ion-footer class="ion-no-border white-bg" *ngIf="showFooter">
    <div class="position-relative">
        <ion-fab horizontal="center" class="fab-position position-absolute" *ngIf="isUserSurveyor && isUserDesigner">
            <ion-fab-button (click)="scheduledPage()" [disabled]='!netSwitch' routerDirection="forward" mode="md">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <ion-grid class="bottom-bar ion-no-margin ion-no-padding">
            <ion-row>
                <ion-col size="4">
                    <div class="tab">
                        <ion-img src="/assets/images/home-outline.svg" class="tab-icon"></ion-img>
                        <span class="tabText">Home</span>
                    </div>
                </ion-col>
                <ion-col size="4" [routerLink]="['/groups']">
                    <div class="tab">
                        <ion-img src="/assets/images/message-outline.svg" class="tab-icon"></ion-img>
                        <span class="tabText">Messages</span>
                    </div>
                </ion-col> 
                <ion-col size="4" [routerLink]="['/profile']" routerDirection="forward">
                    <div class="tab">
                        <ion-img src="/assets/images/account-outline.svg" class="tab-icon"></ion-img>
                        <span class="tabText">Profile</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-footer>

