<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554801985112-nijh19mkub3rufm3d4kmrmltq32u5815.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554801985112-nijh19mkub3rufm3d4kmrmltq32u5815</string>
	<key>API_KEY</key>
	<string>AIzaSyBHUoLlA-rfW50z8zdmBduy8HQsVsCnbbA</string>
	<key>GCM_SENDER_ID</key>
	<string>554801985112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.watt.monk</string>
	<key>PROJECT_ID</key>
	<string>wattmonk-273002</string>
	<key>STORAGE_BUCKET</key>
	<string>wattmonk-273002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554801985112:ios:94efdc2f44cc92a8e53c2d</string>
	<key>DATABASE_URL</key>
	<string>https://wattmonk-273002.firebaseio.com</string>
</dict>
</plist>