<ion-content class="ion-padding">

  <h4 style="color: gray; text-align: center;">Analysts Statistics</h4>
  <form [formGroup]="desginForm" novalidate style="overflow:scroll">
    <ion-row class="ion-margin-top">
      <ion-col size="6">
          <ion-item class="ion-no-padding">
            <ion-label position="floating" style="width: 280px;">From Date*</ion-label>
              <app-date style="width: 180px;" #startdate placeholder="DD/MM/YY" formControlName="startdate"  readonly></app-date>
          </ion-item>
      </ion-col>
      
      <ion-col size="6">
        <ion-item class="ion-no-padding">
          <ion-label position="floating">To Date*</ion-label>
            <app-date style="width: 180px;" #enddate placeholder="DD/MM/YY" formControlName="enddate"  readonly></app-date>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row style="margin-top: 30px;">
        <ion-col ><ion-button color="primary" size="small"  class="button-inner" style="min-width: 10em; margin-left: 30%;" (click)="sendValue()" >Search</ion-button></ion-col>
        </ion-row>
      <ion-row style="margin-top: 20px;">
        <ion-col size="4">
          <ion-item class="ion-no-padding">
            <ion-label position="floating" style="font-size: 13px;">Type</ion-label>
            <ion-select interface="popover" (ionChange)="eventTypeChange($event)" formControlName="requesttype" style="font-size:14px;" value="prelim" >
              <ion-select-option value="prelim" >Prelim</ion-select-option>
              <ion-select-option value="permit">Permit</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="5">
        <ion-item class="ion-no-padding">
      <ion-label position="floating">Select Field</ion-label>
      <ion-select interface='popover' (ionChange)="eventFieldChange($event)" formControlName="filterFields">
      <ion-select-option value="Avg Comp Time">Avg Comp Time</ion-select-option>
      <ion-select-option value="Avg Review Failure">Avg Review Failure</ion-select-option>
      <ion-select-option value="Delayed">Delayed</ion-select-option>
      <ion-select-option value="Monthly Rating">Monthly Rating</ion-select-option> 
      <ion-select-option value="On Time">On Time</ion-select-option> 
      <ion-select-option value="Assigned">Assigned</ion-select-option> 
      </ion-select>
    </ion-item></ion-col>
    <ion-col size="3">
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Sort</ion-label>
        <ion-select interface="popover" (ionChange)="eventSortChange()" formControlName="sort">
          <ion-select-option value="hightolow">High to Low</ion-select-option>
          <ion-select-option value="lowtohigh">Low to High</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
      </ion-row>

      <ion-row style=" background-color: rgb(211,211,211); text-align: center;">
        <ion-col >
        <ion-label position="fixed" style="float: left;">Analysts</ion-label>
      </ion-col>
      <ion-col *ngIf="isSelected" >
        <ion-label position="fixed" style="float: right;">{{fieldChangeValue}}</ion-label>
      </ion-col>
    </ion-row>
  <ion-content style="height: 140px;" [scrollEvents]="true">
    
    
    <ion-list><!--<ion-card style=" background-color: rgb(211,211,211);">-->
      
    
      
        <ion-item  *ngFor="let analysts of analystsList;" style="text-align: center; font-size: small;" >
           <ion-col>
           <ion-label style="float: left" class="clickEnableCls" (click)="details(analysts, 'analystname')" >{{analysts.analyst}}</ion-label>
          </ion-col>
          <ion-col *ngIf="isSelected && fieldChangeValue=='Avg Comp Time'">
            <ion-label style="float: right;" class="item-input ion-label">{{analysts.avgdesigncompletiontime}}</ion-label>
          </ion-col>
          <ion-col *ngIf="isSelected && fieldChangeValue=='Avg Review Failure'">
            <ion-label style="float: right;" class="item-input ion-label">{{analysts.avgreviewfailurecount}}</ion-label>
          </ion-col>
          <ion-col *ngIf="isSelected && fieldChangeValue=='Delayed'">
            <ion-label style="float: right;" class="item-input ion-label">{{analysts.latedesignscompleted}}</ion-label>
          </ion-col>
          <ion-col *ngIf="isSelected && fieldChangeValue=='Monthly Rating'">
            <ion-label style="float: right;" class="item-input ion-label">{{analysts.monthlyrating}}</ion-label>
          </ion-col>
          <ion-col *ngIf="isSelected && fieldChangeValue=='On Time'">
            <ion-label style="float: right;" class="item-input ion-label">{{analysts.ontimedesignscompleted}}</ion-label>
          </ion-col>
          <ion-col *ngIf="isSelected && fieldChangeValue=='Assigned'">
            <ion-label style="float: right;" class="item-input ion-label">{{analysts.totaldesignscreated}}</ion-label>
          </ion-col>
          <ion-col></ion-col>
        <a (click)="statsDetails(analysts.id)" style="border-bottom: 1px solid skyblue;">Details</a>
          </ion-item>
          </ion-list>
          </ion-content>
          </form>
</ion-content>