.top-block {
    color: #3c4257;
    font-size: 12px;
    text-align: center;
}

.bottom-block {
    color: #3c4257;
    font-size: 12px;
    text-align: center;
}

.greyactionlink {
    color: #FBB200;
    font-size: 12px;
}

a {
    color: #FBB200;
}