<ion-footer style="background-color: #F8F8F8;padding: 5px;" class="ion-text-center ion-no-border">
    <div class="top-block">
        <!-- <span>©{{getFullYear}} WattMonk private Limited All Rigths Reserved</span> -->
        <span>© WattMonk Technologies Private Limited. All Rights Reserved.</span>
    </div>
    <div class="bottom-block">
        <span><a (click)="privacy()" class="greyactionlink">Privacy Policy</a> | <a (click)="agreement()"
                class="greyactionlink">Service Agreement</a></span>
    </div>
</ion-footer>