<ion-row  style="background: #F8F8F8;">
    <ion-col >
        
        <h1 class="ion-no-padding ion-no-margin home" >Sales Proposal</h1>
    </ion-col>
    <ion-col size="4" >
        <div class="flex-container" style="float:right;margin-right: 8px;">
            
            <div class="joblist" [routerLink]="['/job-list']">Job Listing</div>
        
        
    </div>
        
        
    </ion-col>

    </ion-row>


<!--<ion-segment mode="md" scrollable (ionChange)="segmentChanged($event)" value="requesttype=prelim&status=created&status=outsourced&status=requestaccepted">-->
<ion-segment mode="md" class="sege_mar" scrollable (ionChange)="segmentChanged($event)" value="InReview" mode="md">
    <!-- <ion-segment-button *ngIf="userData.role.type !=='SuperAdmin'"  value="requesttype=prelim&status=created&status=outsourced&status=requestaccepted">
        <ion-label class="segment-btn">Pending</ion-label>
      </ion-segment-button>
     <ion-segment-button value="requesttype=prelim&status=designassigned">
        <ion-label class="segment-btn">In Designing</ion-label>
      </ion-segment-button>
      <ion-segment-button value="requesttype=prelim&status=designcompleted">
        <ion-label class="segment-btn">Completed</ion-label>
      </ion-segment-button>-->
    <!--<ion-segment-button value="requesttype=prelim&status=reviewassigned&status=reviewfailed&status=reviewpassed">-->
    <ion-segment-button value="InReview">
        <ion-label class="segment-btn">In Review ({{prelimCounts.inreviewdesign}})</ion-label>
    </ion-segment-button>
    <ion-segment-button value="delivered">
        <ion-label class="segment-btn">Delivered Designs ({{prelimCounts.delivered}})</ion-label>
    </ion-segment-button>
</ion-segment>
<ion-content (click)="close()" style="padding-bottom: 250px;" #content>
    <ion-refresher slot="fixed" (ionRefresh)="refreshDesigns($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-grid  *ngIf="isanadesign" class="padd padd-list">
        <!-- <ion-row *ngFor="let item of listOfDesignsHelper;let i = index"> -->
        <!-- <ion-virtual-scroll [items]="listOfDesignsHelper"> -->
       
       <ng-container *ngIf="listOfDesignsHelper.length !== 0">
       
            <ion-row *ngFor="let item of listOfDesignsHelper;let i = index" class="padd padd-top">
            <!-- <ion-row *virtualItem="let item;let i = index"> -->
            <!-- <ion-col size="12" class="ion-margin-top">
                      <span class="ion-padding" *ngIf="today === item.date">
                          Today
                          </span>
                  <span class="ion-padding" *ngIf="today !== item.date">
                              {{item.date | date: 'dd MMM yyyy'}}
                      </span>
              </ion-col> -->
            <ion-col class="padd padd-col" *ngFor="let designData of item.listOfDesigns;let j = index;trackBy: trackdesign " size="12">
                <ion-card class=" custom-card " style="height: 100%;"
                    (click)="gotoDetails(designData,$event)">
                    
                    <ion-row class="ion-no-margin" >
                        <ion-col size="8" class="padd ">
                        <div class="customer-name"><span routerDirection="forward">{{designData.name}}</span>
                           
                       </div>
                       </ion-col><ion-col size="4" class="padd "><span> <a (click)="gotoActivity(designData,$event)"
                           style="text-decoration: none;" class="imagebutton phone">
                           <span class="customer-phone"><ion-img src="assets/images/activity.svg" style="width:12px;height: 12px;" ></ion-img></span></a></span></ion-col>
                       <ion-col size="12" class="padd "  >
                        <div class="chip-block">
                          <div class="chipdetail4" 
                                       *ngIf="designData.status == 'requestdeclined'">On Hold</div>
           
                                   <div class="chipdetail1" 
                                       *ngIf="designData.status == 'reviewfailed'">Review Failed</div>
                                   <div class="chipdetail1" 
                                       *ngIf="designData.isoverdue">Overdue</div>
                                   <div class="chipdetail4" 
                                       *ngIf="designData.unhold &&
                                       designData.status != 'requestdeclined'">Un Hold</div>
                                   <div class="chipdetail2" 
                                       *ngIf="designData.status == 'requestaccepted'">Accepted</div>
                                   <div class="chipdetail2" 
                                       *ngIf="designData.status == 'reviewpassed'">Review Passed</div>
                                   <div class="chipdetail2" 
                                       *ngIf="designData.status == 'delivered'">Delivered</div>
                                   <div class="chipdetail2" 
                                       *ngIf="designData.status == 'designcompleted'">
                                       Completed
                                   </div>
                                   <div class="chipdetail3" 
                                       *ngIf="designData.status == 'created'">Unassigned</div>
                                   <div class="chipdetail3" 
                                       *ngIf="designData.status == 'designassigned'">Design Assigned</div>
                                   <div class="chipdetail3" 
                                       *ngIf="designData.status == 'reviewassigned'">In Review</div>
                                   <div class="chipdetail3"
                                       *ngIf="designData.status == 'outsourced' && isClient"
                                       >Waiting for acceptance</div>
                                   <div class="chipdetail1" 
                                       *ngIf="designData.isinrevisionstate">Revision</div>
                       </div></ion-col>
                       
                       
                       
                       
                       
                       <ion-col size="8" class="padd ">
           
                           <div class="loc-flex location_list" >
                               <div class="flex"><div class="list_clo" ><ion-icon name="location-outline" ></ion-icon></div></div>
                                <div><span class="customer-address" 
                                   (click)="openAddressOnMap(designData.address,$event,designData.latitude, designData.longitude)">{{(designData.address | slice:0:60) +
                                       (designData.address.length > 60 ? '...' : '')}}</span></div>
                              
                             </div>
                   
           
                             <div class="loc-flex asignee_list" *ngIf="!isClient && designData?.company != null">
                               <div class="flex">		   <div class="list_clo" ><ion-icon name="business-outline" ></ion-icon></div></div>
                               <div><span class="customer-address" >{{(designData.company )}}</span></div>
                              
                             </div>
           
           
                             <!--<div class="loc-flex asignee_list" *ngIf="designData?.reviewassignedto != null ">
                               <div class="flex">		   <div class="list_clo" ><ion-icon name="person-circle-outline" ></ion-icon></div>		   
                           </div><div><span class="customer-address" >Assigned to : {{designData.reviewassignedto.firstname | titlecase}}
                                   {{designData.reviewassignedto.lastname | titlecase}}</span></div>
                              
                             </div>
                             <div class="loc-flex asignee_list" *ngIf="designData?.designassignedto != null ">
                               <div class="flex">		   <div class="list_clo" ><ion-icon name="person-circle-outline" ></ion-icon></div>		   
                           </div><div><span class="customer-address" >Assigned to : {{designData.designassignedto.firstname | titlecase}}
                                   {{designData.designassignedto.lastname | titlecase}}</span></div>
                              
                             </div>-->
           
                           </ion-col>
                           
                           <ion-col size="4" class="padd " >
                           
                         <!--<div class="loc-flex location_list" style="float:right;">  
                       <span class="chipdetail" style="align-self: center; float: right;">{{designData?.jobtype=='pvbattery'
                                           ? 'PV+Battery' : designData?.jobtype | uppercase}}</span>
                           
                           </div>-->
                           <div class="loc-flex location_list" style="float:right;">  <span style="float: right;">{{designData.designremainingtime}}</span></div>
                           </ion-col>
                           
                           
                           
                           
                          <!----
                      <ion-row  class="padd " *ngIf="designData?.reviewassignedto != null && getSelectedSegment == 'InReview'">
                      
                      <ion-col size="1" class="padd ">
                      <ion-icon name="person-circle-outline" style="margin-top:4px"></ion-icon>		   
                      </ion-col>
                      
                      <ion-col size="7" class="padd " >
                      <span class="customer-email" >Assigned to : {{designData.reviewassignedto.firstname | titlecase}}
                                               {{designData.reviewassignedto.lastname | titlecase}}</span></ion-col>
                                   
                                   
                               
                           </ion-row>	
                           <ion-row  class="padd " *ngIf="designData?.designassignedto != null && (getSelectedSegment == 'InDesign' || getSelectedSegment == 'completed')">
                      
                      <ion-col size="1" class="padd ">
                      <ion-icon name="person-circle-outline" style="margin-top:4px"></ion-icon>		   
                      </ion-col>
                      
                      <ion-col size="7" class="padd " >
                      <span class="customer-email" >Assigned to : {{designData.designassignedto.firstname | titlecase}}
                                               {{designData.designassignedto.lastname | titlecase}}</span></ion-col>
                                   
                                   
                               
                           </ion-row>		
                       -->		
                    
                       
                           </ion-row>
                                <ion-row class="ion-no-margin"  *ngIf="!userAccessRights?.viewonly">
                               <ion-col class=""><span style="margin:0px" ><span class="recordupdatedon" routerDirection="forward" *ngIf="designData.outsourceddate ==null;else outsourceddate">
                                {{ designData.updated_at | date: "HH:mm" }}
                               </span> <ng-template #outsourceddate>
                                       <span class="recordupdatedon">
                                        {{ designData.outsourceddate | date: "HH:mm" }}
                                          
                                       </span>
                                   </ng-template><span class="recordupdatedon" *ngIf="today == item.date" id="todayitems">
                                  |   {{item.date | date: 'dd MMM yyyy'}}
                               </span>
                               <span class="recordupdatedon" *ngIf="today != item.date">
                                   |   {{item.date | date: 'dd MMM yyyy'}}
                               </span> </span>
                               </ion-col>
                              
           
                            </ion-row>
                    
                    <!--<p class="customer-name" routerDirection="forward">{{designData.name}}
                        <!-- <span class="chipdetail" style="background-color: #1289A7;"  routerDirection="forward">
                        {{designData.deliverydate | date: 'hh:mm a'}}
                    </span> -->

                        <!--<span fill="clear" background-border="clear" class="imagebutton"
                            (click)="gotoActivity(designData,$event)" size="small"><img
                                src="/assets/images/activitylist.png" style="height:20px" /></span>
                        <!-- comment on 20220211 -->
                        <!-- <ng-container *ngIf="!userAccessRights?.viewonly && designData?.chatid!==null && designData?.addedtogroupchat">
                            <span fill="clear" background-border="clear" (click)="gotoChats(designData,$event)"
                                class="chatbutton" size="small"><img style="height:20px"
                                    src="assets/images/chat.svg" /></span>
                        </ng-container> -->
                   <!---- </p>
                    <p style="margin:0px">
                        <span class="chipdetail" style="background-color: rgb(204, 153, 0);"
                            *ngIf="designData.requirementtype=='proposal'">Proposal</span>
                        <span class="chipdetail" style="background-color: rgb(204, 153, 0);"
                            *ngIf="designData.requirementtype=='assessment'">Assessment</span>
                        <span class="chipdetail" style="background-color: rgb(246, 77, 10);"
                            *ngIf="designData.status == 'requestdeclined'">Declined</span>
                        <span class="chipdetail" style="background-color: rgb(246, 104, 10);"
                            *ngIf="item.lateby > 0">Overdue</span>
                        <span class="chipdetail" style="background-color: #000"
                            *ngIf="designData.unhold">Un Hold</span>
                        <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                            *ngIf="designData.status == 'requestaccepted'">Accepted</span>
                        <span class="chipdetail" style="background-color: rgb(109, 187, 26); cursor: pointer;"
                            *ngIf="designData.status == 'delivered'">Delivered</span>
                        <span class="chipdetail" style="background-color: rgb(109, 187, 26);"
                            *ngIf="designData.status == 'designcompleted'">Completed</span>
                        <span class="chipdetail" style="background-color: #1289A7;;"
                            *ngIf="designData.status == 'created'">Unassigned</span>
                        <span class="chipdetail" style="background-color: #1289A7;;"
                            *ngIf="designData.status == 'designassigned'">Design Assigned</span>
                        <span class="chipdetail" style="background-color: #1289A7;; cursor: pointer;"
                            *ngIf="designData.status == 'reviewassigned'">In Review</span>
                        <span class="chipdetail"
                            *ngIf="designData.status == 'outsourced' && (userData.role.name=='ContractorAdmin' || userData.role.name=='ContractorSuperAdmin')"
                            style="background-color: #95afc0;">Waiting for acceptance</span>

                        <span class="chipdetail" style="background-color: rgb(109, 187, 26) ;"
                            *ngIf="designData.status == 'reviewpassed'">Review Passed</span>
                        <span class="chipdetail" style="background-color: rgb(246, 77, 10) ;"
                            *ngIf="designData.status == 'reviewfailed'">Review Failed</span>
                        <span class="chipdetail" style="background-color: rgb(183,21,64)"
                            *ngIf="designData.isinrevisionstate">Revision</span>
                        <!-- <span class="chipdetail ml-1 ml-1" style="background-color: #FA983A;"
                *ngIf="designData.isoutsourced == 'true'">Wattmonk</span> -->
                    <!--</p>

                    <p style="margin:0px">
                        <span class="customer-email" routerDirection="forward">{{designData.email}}</span>
                        <span *ngIf="item.lateby > 1" class="latebystyle"><strong>Late by {{item.lateby}}
                                days</strong></span>
                        <span *ngIf="item.lateby == 1" class="latebystyle"><strong>Late by a day</strong></span>
                    </p>
                    <a href="tel:{{designData.phonenumber}}" style="text-decoration: none;" class="z-100">
                        <span class="customer-phone">{{designData.phonenumber}}</span></a>
                    <!-- <span class="recordupdatedon">{{designData.deliverydate|date: 'dd MMM yyyy'}}</span> -->
                    <!--<span class="customer-address z-100"
                        (click)="openAddressOnMap(designData.address,$event)">{{(designData.address | slice:0:60) +
                        (designData.address.length > 60 ? '...' : '')}}</span>

                    <ion-row style="margin-bottom: 8px;">
                        <!-- <span class="chipdetail" style="background-color: #95afc0; cursor: pointer;" >Wattmonk</span> -->
                        <!--<ion-col>
                            <span class="chipdetail" *ngIf="designData?.source"
                                style="background-color: #95afc0; cursor: pointer;">{{designData?.source |
                                titlecase}}</span>
                        </ion-col>
                        <ion-col *ngIf="designData.status == 'reviewassigned'" style="color: #737373; font-size: 12px;">
                            <span style="float: right;">{{designData?.reviewremainingtime}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="date-time">
                        <p *ngIf="designData.status != 'delivered' && designData.expecteddeliverydate">
                            {{ designData.expecteddeliverydate | date: " dd MMM yy HH:mm " }}
                        </p>
                        <p *ngIf="designData.status == 'delivered' && designData.actualdelivereddate">
                            {{ designData.actualdelivereddate | date: " dd MMM yy" }}
                        </p>
                    </ion-row>-->



                    <!-- <ion-row class="ion-no-margin ion-no-margin" *ngIf="!userAccessRights?.viewonly">
                      <ion-col *ngIf="segments=='requesttype=prelim&status=delivered'">
                        <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="shareWhatsapp(designData,$event)">
                            <ion-icon name="share-social-outline"></ion-icon></span>&nbsp;
                        <span style="float:right !important;margin-right: 8px;" class="ion-text-end action-button-color" (click)="shareViaEmails(designData.id,designData,$event)">
                            <ion-icon name="mail" ></ion-icon></span>
                    </ion-col></ion-row> -->
                    <!-- <ion-row class="ion-no-margin ion-no-margin">
                          <ion-col *ngIf="segments=='requesttype=prelim&status=created&status=outsourced&status=requestaccepted'">
                              <span *ngIf="designData.status == 'created' || designData.status == 'requestaccepted'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id,designData)"
                              >Assign</span>
                              <span style="float: right;">

                                  <ion-col size="8"  *ngIf="designData.status == 'outsourced'"  class="ion-text-end action-button-color" (click)="accept(designData.id,'requestaccepted')">
                                     Accept
                                  </ion-col>
                                  <ion-col size="4" *ngIf="designData.status == 'outsourced'"  class="ion-text-end action-button-color" (click)="decline(designData.id)">
                                  Decline
                                  </ion-col>
                              </span>

                              <span *ngIf="designData.status == 'requestdeclined'"style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id)"
                              >Reassign</span>
                          </ion-col>


                          <ion-col *ngIf="segments=='requesttype=prelim&status=designcompleted'">
                              <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id)"
                              >Assign Review</span>
                          </ion-col>
                          <ion-col *ngIf="segments=='requesttype=prelim&status=designassigned'">
                              <span *ngIf="designData.status == 'reviewpassed'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id)"
                              >Deliver</span>
                          </ion-col>-->
                    <!-- <ion-col class="ion-no-margin ion-no-padding">
                              <ion-button class="ion-no-margin ion-no-padding" fill="clear" [routerLink]="['/surveyprocess/' + designData.id + '/' + designData.jobtype + '/' + designData.latitude + '/' + designData.longitude]"
                              routerDirection="forward">
                                  Restart Survey
                              </ion-button>
                          </ion-col> -->
                    <!-- </ion-row>-->
                    <!-- <ion-progress-bar [value]="1" mode="ios" color="success" class="progress-bar-height"></ion-progress-bar> -->
                    <!-- <span class="ion-text-end timestamp"  routerDirection="forward">
                              {{designData.deliverydate | date: 'hh:mm a'}}
                         <ion-col *ngIf="segments=='requesttype=prelim&status=delivered'">
                                <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="shareWhatsapp(designData)">
                                    <ion-icon name="share-social-outline"></ion-icon></span>&nbsp;
                                    <ion-icon name="mail" ></ion-icon></span>
                            </ion-col>
                  </span> -->
                    <!--   <ion-col *ngIf="requesttype=prelim&status=delivered">
                    <span  style="float:right !important;" class="ion-text-end action-button-color" (click)="shareWhatsapp()">
                    <ion-icon name="logo-whatsapp"></ion-icon></span>
                </ion-col>-->
                </ion-card>
            </ion-col>
        </ion-row>

    </ng-container>
        <!-- </ion-virtual-scroll> -->
        <!-- <ion-row>
              <ion-col size="12" style="height: 100px;">

              </ion-col>
          </ion-row> -->
    </ion-grid>

    <div *ngIf="listOfDesignsHelper.length === 0 && isanadesign" class="h-100 d-flex flex-column align-center justify-center mar_not">
        <!-- <div *ngIf="!netSwitch">
                  No internet Connection
              </div> -->
        {{noDesignFound}}

        <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
    </div>

    <ion-grid class="padd padd-list" *ngIf="!isanadesign">
        <ion-row class="padd padd-top">
          <ion-col class="padd padd-col">
            <ng-container *ngFor="let notifications of [1,2,3,4,5,6]">
                <div class="custom-card" style="margin-top:8px;margin-bottom:8px; ">
                    <ion-row class="padd padd-top">
                     
                      <ion-col size="12"  class="padd padd-col">
                        <ion-row >
                          <ion-col size="9"><ion-skeleton-text animated style="width: 80%; height: 22px;"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 40%; height: 10px;"></ion-skeleton-text>
                        </ion-col>
                          <ion-col size="3"><ion-skeleton-text animated style="width: 55%; height: 22px; float:right"></ion-skeleton-text></ion-col>
                        </ion-row>
                        <ion-row >
                          <ion-col size="9"><ion-skeleton-text animated style="width: 65%; height: 8px;"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 65%; height: 8px;"></ion-skeleton-text>
                        </ion-col>
      
                          <ion-col size="3"><ion-skeleton-text animated style="width: 35%; height: 22px; float:right"></ion-skeleton-text></ion-col>
                        </ion-row>
                        <ion-row >
                          <ion-col size="9">
                            <ion-skeleton-text animated style="width: 65%; height: 8px;"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 65%; height: 8px;"></ion-skeleton-text></ion-col>
                          <ion-col size="3"><ion-skeleton-text animated style="width: 95%; height: 32px; float:right"></ion-skeleton-text></ion-col>
                          
                        </ion-row>
                      </ion-col>
                    </ion-row>
                
            </div>
          </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>



</ion-content>
<ng-container *ngIf="showBottomDraw && !userAccessRights?.viewonly">

    <ion-bottom-drawer [(state)]="drawerState" [minimumHeight]="0" [dockedHeight]="320" [draggable]="false"
        [disableDrag]="true" [shouldBounce]="true" [distanceTop]="0" class="drawer" style="z-index: 9999 !important;">
        <form [formGroup]="assignForm">
            <ion-grid class="drawer">
                <ion-row>
                    <ion-col size="12">
                        <app-user-selector (assigneeData)=getassignedata($event) placeholder="Assign"
                            [assignees]="listOfAssignees" formControlName="assignedto"></app-user-selector>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-left: 8px;">
                    <ion-col size="12">
                        <span class="input-placeholder">comments</span>
                    </ion-col>
                    <ion-col size="12" style="padding-top: 0px;">
                        <ion-textarea style="max-width: 98%;" class="ion-no-margin ion-no-padding comment_box" rows="3"
                            formControlName="comment"></ion-textarea>
                    </ion-col>
                </ion-row>
                <ion-row style="justify-content: flex-end;">
                    <ion-col size="auto" style="padding-top: 0px; margin-right: 6px;">
                        <ion-button class="buttom-drawer-button" fill="clear" (click)="assignToDesigner()">
                            Confirm
                        </ion-button>
                    </ion-col>
                    <ion-col size="auto">
                        <ion-button class="buttom-drawer-button-cancel" fill="clear" (click)="dismissBottomSheet()">
                            Cancel
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>

    </ion-bottom-drawer>
</ng-container>


<!-- <router-outlet></router-outlet> -->