<ion-row>
  <ion-col style="margin-top: 5px;">
    <h5 class="ion-no-padding ion-no-margin">Add Permit Design Request</h5>
  </ion-col>
<ion-col size="auto">
  <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
      <ion-icon name="close-outline" color="dark" size="large"></ion-icon>
  </ion-button>
</ion-col>
</ion-row>
  <ion-row class="ion-padding-start ion-padding-end mrT"  style="background: #ffffff;">
      <ion-col size="9"  style="background: #ffffff;">
          <p></p>
          <!-- <span class="address-text"> -->
          {{address == "" ? "No Address Found" : address}}
          <!-- </span> -->
      </ion-col>
    
      <ion-col class="ion-text-end" *ngIf="!tabsDisabled" size="3">
          <p></p>
          <span [routerLink]="['/map-page']" routerDirection="forward" style="color: #4E6FB0;">
              Change
          </span>
      </ion-col>
      <ion-col class="ion-text-end" *ngIf="tabsDisabled" size="3">
          <p></p>
          <span   style="color:grey;">
              Change
          </span>
      </ion-col>
  </ion-row>


<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom" style="height:650px;">
          <form [formGroup]="desginForm" novalidate style="overflow:scroll">
            <ion-grid style="position: relative;margin-top: 10px;">
              <ion-row >
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">name*</ion-label>
                        <ion-input type="text" class="form_input" autocapitalize="words"
                                    formControlName="name"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="desginForm.get('name').hasError('pattern') && desginForm.get('name').dirty">
                            <span class="error">{{nameError}}</span>
                        </div>
                        <div *ngIf="desginForm.get('name').value === '' && desginForm.get('name').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">email*</ion-label>
                        <ion-input class="form_input" type="email" autocapitalize="none" autocomplete="off"
                                    formControlName="email" [disabled]="fieldDisabled" ></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="desginForm.get('email').hasError('pattern') && desginForm.get('email').dirty">
                            <span class="error">{{emailError}}</span>
                        </div>
                        <div *ngIf="desginForm.get('email').value === '' && desginForm.get('email').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col>
                  <ion-item class="ion-no-padding">
                      <ion-label position="floating">phone*</ion-label>
                      <ion-input class="form_input" type="number" autocapitalize="none" autocomplete="off"
                                  formControlName="phone" ></ion-input>
                  </ion-item>
                  <div style="height: 5px;">
                      <div *ngIf="desginForm.get('phone').hasError('pattern') && desginForm.get('phone').dirty">
                          <span class="error">{{phoneError}}</span>
                      </div>
                  <!--    <div *ngIf="desginForm.get('phone').value === '' && desginForm.get('phone').dirty">
                          <span class="error">{{fieldRequired}}</span>
                      </div>-->
                  </div>
              </ion-col>
          </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">annual units (Kwh)*</ion-label>
                        <ion-input class="form_input"  type="tel" (ionInput)="numberfield($event)"
                                    formControlName="monthlybill" maxLength="5"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="desginForm.get('monthlybill').dirty && desginForm.get('monthlybill').hasError('pattern')">
                            <span class="error">{{"Annual units should be a vaid number"}}</span>
                        </div>
                        <!-- <div *ngIf="desginForm.get('monthlybill').hasError('pattern') && desginForm.get('monthlybill').dirty">
                            <span class="error">{{annualunitError}}</span>
                        </div> -->
                    </div>
                </ion-col>
            </ion-row>
          
           
            <ion-row>
              <ion-col size="6">
                <mat-form-field style="width: 100%;">
                  <mat-label>module make</mat-label>
                  <input type="text" matInput [matAutocomplete]="auto" formControlName="modulemake" required>
                 
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let modulemake of filteredModuleMakes | async" [value]="modulemake.name"
                      (onSelectionChange)="fetchModuleModelsData($event,modulemake)">{{modulemake.name}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </ion-col>
              <ion-col size="6">
                <mat-form-field style="width: 100%;">
                  <mat-label>module model</mat-label>
                  <input type="text" matInput [matAutocomplete]="auto1" formControlName="modulemodel" required>
                  
                  <mat-autocomplete #auto1="matAutocomplete">
                    <mat-option *ngFor="let modulemodel of filteredModuleModels | async" [value]="modulemodel.name"
                      (onSelectionChange)="setSelectedModuleModel(modulemodel)">{{modulemodel.name}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <mat-form-field style="width: 100%;">
                  <mat-label>inverter make</mat-label>
                  <input type="text" matInput [matAutocomplete]="auto2" formControlName="invertermake" required>
                 
                  <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let invertermake of filteredInverterMakes | async" [value]="invertermake.name"
                      (onSelectionChange)="fetchInverterModelsData($event,invertermake)">{{invertermake.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </ion-col>
              <ion-col size="6">
                <mat-form-field style="width: 100%;">
                  <mat-label>inverter model</mat-label>
                  <input type="text" matInput [matAutocomplete]="auto3" formControlName="invertermodel" required>
                 
                  <mat-autocomplete #auto3="matAutocomplete">
                    <mat-option *ngFor="let invertermodel of filteredInverterModels | async"
                      [value]="invertermodel.name" (onSelectionChange)="setSelectedInverterModel(invertermodel)">
                      {{invertermodel.name}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </ion-col>
            </ion-row>
          
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="6">
                <ion-item class="ion-no-padding">
                    <ion-label style="display: none;">project type*</ion-label>
                    <ion-label position="floating">Project type*</ion-label>
                    <!-- <ion-label style="display: none;">Project Type</ion-label> -->
                    <!-- <ion-label position="floating">project type</ion-label> -->
                    <ion-select class="form_input" ok-text="" 
                                cancel-text=""
                                formControlName="projecttype" interface="popover">
                        <ion-select-option value="residential">Residential</ion-select-option>
                        <ion-select-option value="commercial">Commercial</ion-select-option>
                    </ion-select>
                </ion-item>

            </ion-col>
            <ion-col size="6">
              <ion-item class="ion-no-padding">
                  <ion-label position="floating">New Construction*</ion-label>
                  
                  <!-- <ion-label style="display: none;">New construction</ion-label> -->
                  <!-- <ion-label position="floating">new construction</ion-label> -->
                  <ion-select  (ionChange)="showUpload($event)" class="form_input select_div" 
                                  ok-text=""
                              cancel-text=""
                              formControlName="newconstruction" interface="popover" value="false"  >
                      <ion-select-option  value="true">Yes</ion-select-option>
                      <ion-select-option  value="false">No</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="6">
          <ion-item class="ion-no-padding">
              <ion-label style="display: none;">Job Type*</ion-label>
              <ion-label position="floating">Job Type*</ion-label>
              <ion-select class="form_input select_div"
                          ok-text=""
                          cancel-text=""
                          formControlName="jobtype" interface="popover">
                  <ion-select-option value="pvbattery">PV+Battery</ion-select-option>
                  <ion-select-option value="battery">Battery</ion-select-option>
                  <ion-select-option value="pv">PV</ion-select-option>
              </ion-select>
          </ion-item>
      </ion-col>

          <ion-col size="6">
              <ion-item class="ion-no-padding">
                  <ion-label style="display: none;">Mounting Type*</ion-label>
                  <ion-label position="floating">Mounting Type*</ion-label>
                  <!-- <ion-label position="floating">mounting type</ion-label> -->
                  <ion-select class="form_input select_div" (ionChange)="eventcheck($event)" 
                              ok-text="" cancel-text=""
                              formControlName="mountingtype" interface="popover">
                      <ion-select-option value="roof">Roof</ion-select-option>
                      <ion-select-option value="ground">Ground</ion-select-option>
                      <ion-select-option value="both">Both</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
      </ion-row>
      
      <!-- condition base roof type-->
      <ion-row>
          <ion-col size="6" *ngIf='(showValue=="roof" ||showValue== "both")'>
              <ion-item class="ion-no-padding">
                  <ion-label style="display: none;">Roof Type</ion-label>
                  <ion-label position="floating">Roof type*</ion-label>
                  <ion-select class="form_input select_div"
                              ok-text="" cancel-text=""
                              formControlName="rooftype" interface="popover">
                      <ion-select-option value="flat">Flat</ion-select-option>
                      <ion-select-option value="pitch">Pitch</ion-select-option>
                      <ion-select-option value="both">Both</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size="6" *ngIf='(showValue=="ground" || showValue=="both")'>
                  <ion-item class="ion-no-padding">
                      <ion-label position="floating" style="font-size: 13px;">Tilt for ground mount*</ion-label>
                      <ion-input class="form_input"  type="tel" formControlName="tiltofgroundmountingsystem" maxlength="5"></ion-input>
                  </ion-item>
                  <div style="height: 5px;">
                      <div *ngIf="desginForm.get('tiltofgroundmountingsystem').dirty && desginForm.get('tiltofgroundmountingsystem').hasError('pattern')">
                          <span class="error">{{"It should be a valid number"}}</span>
                      </div>
                      <div *ngIf="desginForm.get('tiltofgroundmountingsystem').hasError('pattern') && desginForm.get('tiltofgroundmountingsystem').dirty">
                          <span class="error">{{tiltforgroundError}}</span>
                      </div>
                  </div>
          </ion-col>
      </ion-row>
          <!--upload box-->
<ion-row *ngIf='uploadbox=="true"'>
  <ion-col size="12">

      <ng-container>
          <ion-item class="ion-no-padding" (click)="f.click()">
              <ion-label position="floating">Architectural design*</ion-label>
                  <input type="file" #f class="form_input"  (change)="files($event)" style="margin-top: 12px;" formArrayName="architecturaldesign" multiple>
                  <ion-icon name="attach-outline" slot="end" style="margin-top:21px"></ion-icon>
              </ion-item>
              <div *ngFor="let file of archFiles;let i of index">
                  <ion-item>
                      <ion-col size="11">
                          {{file.name}}
                      </ion-col>
                      <ion-col size="1" (click)="removeArc(i)">x</ion-col>
                  </ion-item>
              </div>
              </ng-container>
      <!-- <ion-item class="ion-no-padding"> -->
          <!-- <ion-input class="form_input" type="file" placeholder="Upload Architectural design" 
                  (ionChange)="files($event)"  multiple></ion-input> -->
                  <!-- <ion-label position="floating">architectural design*</ion-label>
                  <p style="margin-top: 10px;" *ngFor="let architecture of architecturalData;let i=index"><ion-row style="display:flex;align-items: flex-end;" ><ion-col style="display:flex;align-items: flex-end;"><ion-label style="-webkit-text-stroke: thin;" *ngIf="architecture.value!=''" position="floating">{{architecture?.name}}</ion-label></ion-col>
                      <ion-col style="display:flex;align-items: flex-end;"> <ion-icon name="close-circle-outline" *ngIf="architecture.name!=''" (click)="remove(architecture,architecture?.id)"></ion-icon></ion-col></ion-row></p>
                  <ion-input type="file"  class="form_input"  (change)="files($event)" style="margin-top: 12px;" formControlName="architecturaldesign" placeholder="Upload Architectural design" multiple></ion-input>
              </ion-item> -->
              
          </ion-col>
                       <!-- <ion-item> -->
                       <!-- <ion-label position="floating">architectural design*</ion-label> -->
                              <ng-container *ngIf="design && design.architecturaldesign !==null">
                                  <div *ngFor="let arc of design.architecturaldesign">
                                     <ion-item>
                                         <ion-col size="11"> {{arc.name}}{{arc.ext}}</ion-col>
                                         <ion-col size="1" (click)="remove(arc.id)">x</ion-col>
                                        
    
                                     </ion-item>
                                 
                                     
                                 </div> 
                              </ng-container>
                       <!-- </ion-item> -->
  
</ion-row>

          <ion-row>
              <ion-col size="12">
                  <ng-container>
                  <ion-item class="ion-no-padding" (click)="d.click()">
                  <ion-label position="floating">Attachments</ion-label>
                 
                             
                              <input #d type="file"  class="form_input"  (change)="permitfiles($event)" style="margin-top: 12px;" formArrayName="architecturaldesign" multiple>
                              <ion-icon name="attach-outline" slot="end" style="margin-top:21px"></ion-icon>
                          </ion-item>
                          <div *ngFor="let file of permitFiles;let i of index">
                              <ion-item>
                                  <ion-col size="11">
                                      {{file.name}}
                                  </ion-col>
                                  <ion-col size="1" (click)="removePermit(i)">x</ion-col>
                              </ion-item>
                          </div>
                          </ng-container>
                  <!-- <ion-item class="ion-no-padding"> -->
                      <!-- <ion-input class="form_input" type="file" placeholder="Upload Architectural design" 
                              (ionChange)="files($event)"  multiple></ion-input> -->
                              <!-- <ion-label position="floating">architectural design*</ion-label>
                              <p style="margin-top: 10px;" *ngFor="let architecture of architecturalData;let i=index"><ion-row style="display:flex;align-items: flex-end;" ><ion-col style="display:flex;align-items: flex-end;"><ion-label style="-webkit-text-stroke: thin;" *ngIf="architecture.value!=''" position="floating">{{architecture?.name}}</ion-label></ion-col>
                                  <ion-col style="display:flex;align-items: flex-end;"> <ion-icon name="close-circle-outline" *ngIf="architecture.name!=''" (click)="remove(architecture,architecture?.id)"></ion-icon></ion-col></ion-row></p>
                              <ion-input type="file"  class="form_input"  (change)="files($event)" style="margin-top: 12px;" formControlName="architecturaldesign" placeholder="Upload Architectural design" multiple></ion-input>
                          </ion-item> -->
                          
                      </ion-col>
                                   <!-- <ion-item> -->
                                   <!-- <ion-label position="floating">architectural design*</ion-label> -->
                                          <ng-container *ngIf="design && design.attachments !==null">
                                              <div *ngFor="let arc of design.attachments">
                                                 <ion-item>
                                                     <ion-col size="11"> {{arc.name}}{{arc.ext}}</ion-col>
                                                     <ion-col size="1" (click)="remove(arc.id)">x</ion-col>
                                                    
                
                                                 </ion-item>
                                             
                                                 
                                             </div> 
                                          </ng-container>
          </ion-row>

      <ion-row class="ion-margin-top">
          <ion-label position="floating">Comments</ion-label></ion-row>
         <ion-row class="ion-margin-top"> <ion-col size="12" class="ion-no-padding">
              <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                              formControlName="comments"></ion-textarea>
          </ion-col>
      </ion-row>
        </ion-grid>
        
      </form>

      </ion-content>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
            <ion-button class="action-button-color" fill="clear" (click)="addForm('save')">Save</ion-button>
            <ion-button class="action-button-color" *ngIf="userdata.role.type=='clientsuperadmin'" fill="clear" (click)="addForm('send')">Send to Wattmonk</ion-button>
            </ion-col>
            </ion-row>  