<ion-content>
    <ion-list>
        <ion-item button lines="none" (click)="showImages('electrical')">
            Electricals
        </ion-item>
        <ion-item button lines="none" (click)="showImages('roof')">
            Roof
        </ion-item>
        <ion-item button lines="none" (click)="showImages('roofdimensionimages')">
            Roofdimensionimages
        </ion-item>
        <ion-item button lines="none" (click)="showImages('appliancesimages')">
            Appliancesimages
        </ion-item>
        <ion-item button lines="none" (click)="showImages('atticimages')">
            Atticimages
        </ion-item>
        <ion-item button lines="none" (click)="showImages('obstaclesimages')">
            Obstaclesimages
        </ion-item>
        <ion-item button lines="none" (click)="showImages('obstaclesdimensionsimages')">
            Obstaclesdimensionsimages
        </ion-item>
    </ion-list>

</ion-content>
