<ion-content>
    <ion-list>
        <ion-item button lines="none" (click)="showImages('mspimages')">
            MSP Images
        </ion-item>
        <ion-item button lines="none" (click)="showImages('pvinverterimages')">
            PV Inverter
        </ion-item>
        <ion-item button lines="none" (click)="showImages('pvmeterimages')">
            PV Meter
        </ion-item>
        <ion-item button lines="none" (click)="showImages('utilitymeterimages')">
            Utility Meter
        </ion-item>
        <ion-item button lines="none" (click)="showImages('roofimages')">
            Roof Images
        </ion-item>
        <ion-item button lines="none" (click)="showImages('acdisconnectimages')">
            AC Disconnect Images
        </ion-item>
    </ion-list>

</ion-content>
