<ion-content style="--background: #FEF8F8;">
   <ion-grid>
    <ion-row >
      <ion-col size="2">
        <ion-img class="profile-icon" src="/assets/images/icons8-checked.svg"></ion-img>
      </ion-col>
      <ion-col size="10" style="margin-top: 6px;">
        <div style="display: flex; justify-content: space-between;">
          <span class="history-name" >Will Smith</span>
          <span class="history-add" >updated May 2,2020</span>
        </div>
        <div>
          <span class="history-add" >
            25,Wanright,St Providence Road USA
          </span>
        </div>
        <div>
          <span class="assign">
           desgined assign to.....
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>