<div style="background:#121212;border-radius:  0px 0px 0px 24px; height: 235px;width: 100%;display: block;">
    <div class="center"><span class="logo" style="margin:auto;">
            <img src="assets/images/wattmonk_logo.png">
        </span>
    </div>

    <img class="one" src="assets/icon/splash/1.svg">
    <img class="two" src="assets/icon/splash/2.svg">
    <img class="three" src="assets/icon/splash/3.svg">
    <img class="four" src="assets/icon/splash/4.svg">
    <img class="five" src="assets/icon/splash/5.svg">
    <img class="six" src="assets/icon/splash/6.svg">
    <img class="seven" src="assets/icon/splash/7.svg">
    <img class="eight" src="assets/icon/splash/2.svg">
    <img class="nine" src="assets/icon/splash/2.svg">
    <img class="ten1" src="assets/icon/splash/2.svg">
    <img class="ten" src="assets/icon/splash/2.svg">
</div>