<ion-content>
    <!-- <div class="ion-padding"> -->
    <ion-grid>
        <div class="ion-text-start">
            <p class="account">Reset Password</p>
        </div>
        <ion-row class="login_for">
            <ion-col size="12">

                <p class="registrationtext">Let us help you reset your password.</p>
            </ion-col>
        </ion-row>
        <form [formGroup]="resetpassword" novalidate>

            <ion-row>
                <ion-col size="12">
                    <span class="input-placeholder">Email Code*</span>
                    <!-- <div class="password_box"> -->
                    <ion-input type="text" class="form_input" placeholder="Ex. john@wattmonk.com"
                        formControlName="emailcode">
                    </ion-input>
                    <!-- <div class="eye_box">
                            <ion-icon name="eye" *ngIf="isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-icon>
                            <ion-icon name="eye-off" *ngIf="!isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-icon>
                        </div> -->
                    <!-- </div> -->

                    <!-- <div class="error_div">
                    <div
                        *ngIf="resetpassword.get('emailcode').value === '' && resetpassword.get('emailcode').dirty">
                        <span class="error">{{fieldRequired}}</span>
                    </div>
                </div> -->
                    <div class="error_div">
                        <div
                            *ngIf="resetpassword.get('emailcode').invalid && resetpassword.get('emailcode').dirty ||  (resetpassword.get('emailcode').touched && resetpassword.get('emailcode').invalid) && resetpassword.get('emailcode').pristine">
                            <span class="error">{{getEmailCodeErrorMessage()}}</span>
                        </div>
                        <!-- <div *ngIf="resetpassword.get('newpassword').hasError('minlength') && resetpassword.get('newpassword').dirty">
                                      <span class="error">{{invalidPassword}}</span>
                                  </div>
                  <div
                      *ngIf="resetpassword.get('newpassword').value === '' && resetpassword.get('newpassword').dirty">
                      <span class="error">{{fieldRequired}}</span>
                  </div> -->
                    </div>
                </ion-col>
                <ion-col size="12">
                    <span class="input-placeholder">New Password*</span>

                    <!-- <div class="password_box"> -->
                    <ion-input type="password" placeholder="***********" class="form_input" [type]="getType()"
                        formControlName="newpassword">
                    </ion-input>
                    <div class="eye_box">
                        <ion-img src="/assets/icon/new/openeye.svg" style="width:16px;height: 16px;"
                            *ngIf="isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-img>
                        <ion-img src="/assets/icon/new/closeeye.svg" style="width:16px;height: 16px;"
                            *ngIf="!isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-img>
                    </div>
                    <!-- </div> -->

                    <div class="error_div">
                        <div
                            *ngIf="resetpassword.get('newpassword').invalid && resetpassword.get('newpassword').dirty ||  (resetpassword.get('newpassword').touched && resetpassword.get('newpassword').invalid) && resetpassword.get('newpassword').pristine">
                            <span class="error">{{getPasswordErrorMessage()}}</span>
                        </div>
                        <!-- <div *ngIf="resetpassword.get('newpassword').hasError('minlength') && resetpassword.get('newpassword').dirty">
                                            <span class="error">{{invalidPassword}}</span>
                                        </div>
                        <div
                            *ngIf="resetpassword.get('newpassword').value === '' && resetpassword.get('newpassword').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div> -->
                    </div>
                </ion-col>
                <ion-col size="12">
                    <span class="input-placeholder">Confirm Password*</span>

                    <!-- <div class="password_box"> -->
                    <ion-input type="password" placeholder="***********" class="form_input" [type]="getnewType()"
                        formControlName="confirmpassword">
                    </ion-input>
                    <div class="eye_box">
                        <ion-img src="/assets/icon/new/openeye.svg" style="width:16px;height: 16px;"
                            *ngIf="isActiveToggleTextnewPassword" (click)="toggleTextnewPassword()" slot="end">
                        </ion-img>
                        <ion-img src="/assets/icon/new/closeeye.svg" style="width:16px;height: 16px;"
                            *ngIf="!isActiveToggleTextnewPassword" (click)="toggleTextnewPassword()" slot="end">
                        </ion-img>

                    </div>
                    <!-- </div> -->

                    <div class="error_div">
                        <!-- <div *ngIf="resetpassword.get('confirmpassword').hasError('minlength') && resetpassword.get('confirmpassword').dirty">
                          <span class="error">{{invalidPassword}}</span>
                      </div> -->
                        <div
                            *ngIf="resetpassword.get('confirmpassword').invalid && resetpassword.get('confirmpassword').dirty ||  (resetpassword.get('confirmpassword').touched && resetpassword.get('confirmpassword').invalid) && resetpassword.get('confirmpassword').pristine">
                            <span class="error">{{getConfirmPasswordErrorMessage()}}</span>
                        </div>
                        <!-- <div
                            *ngIf="resetpassword.get('confirmpassword').value === '' && resetpassword.get('confirmpassword').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div> -->
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-button class=button expand="block" class="SignInBtn" (click)="resetPassword()">Confirm
                    </ion-button>
                </ion-col>
            </ion-row>
            <!-- <div style="margin-top: -48px;"> -->

            <p class="registeredText" style="text-align: center;">Don't want to reset password?<a
                    style="color: #f1ad1a;margin-top: 0px;" (click)="gotoSignIn()"> Sign in </a></p>
            <!-- </div> -->

        </form>

    </ion-grid>
    <!-- </div> -->

</ion-content>
<app-footer></app-footer>