input[type="file"]{
    visibility:hidden;
  }

  .label {
    color: #6C6C6C !important;
    font-size: 15px;
  }

  .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }

  .select_div {
    border-bottom: 1px solid #E1E1E1;
  }
  ion-label {
    color: #6C6C6C !important;
  }