<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>pestamp-schedule</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-row>
  <ion-col>
    <h5 class="ion-no-margin ion-padding" style="font-weight: bolder;padding-bottom: 2px;">Add PE Stamp Request </h5>
  </ion-col>
  <ion-col size="auto" style="align-self: center;">
    <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
        <ion-icon name="close-outline" style="color: dimgrey;" size="large"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>

<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom" style="height:650px">
  <form [formGroup]="firstFormGroup" novalidate style="overflow:scroll">
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="label">Name*</ion-label>
          <ion-input class="form_input" type="name" autocapitalize="none" autocomplete="off"
          formControlName="name"  ></ion-input>
        </ion-item>
        <div style="height: 5px;">
          <div *ngIf="firstFormGroup.get('name').hasError('pattern') && firstFormGroup.get('name').dirty">
              <span class="error">{{nameError}}</span>
          </div>
          <div *ngIf="firstFormGroup.get('name').value === '' && firstFormGroup.get('name').dirty">
              <span class="error">{{fieldRequired}}</span>
          </div>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="label">Email*</ion-label>
           <ion-input class="form_input" type="email" autocapitalize="none" autocomplete="off"
          formControlName="email" [disabled]="fieldDisabled" ></ion-input>

        </ion-item>
        <div style="height: 5px;">
          <div *ngIf="firstFormGroup.get('email').hasError('pattern') && firstFormGroup.get('email').dirty">
              <span class="error">{{emailError}}</span>
          </div>
          <div *ngIf="firstFormGroup.get('email').value === '' && firstFormGroup.get('email').dirty">
              <span class="error">{{fieldRequired}}</span>
          </div>
      </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 20px;">
      <ion-label style="font-weight: bold;">Mode of Stamping</ion-label>
    </ion-row>
    <ion-radio-group formControlName="stampingmode" (ionChange)="stampingModeOption($event)">
      <ion-row >
        <ion-col size="auto">
      <ion-item lines="none">
        <ion-label class="margin" style="font-size: small;">Email Copy</ion-label>
        <ion-radio slot="start" [disabled]="fieldDisabled" value="ecopy" ></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col size="auto">
      <ion-item lines="none">
        <ion-label class="margin"   style="font-size: small;">Hard Copy</ion-label>
        <ion-radio slot="start" [disabled]="fieldDisabled" value="hardcopy" ></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col size="auto">
      <ion-item lines="none">
        <ion-label class="margin"   style="font-size: small;">Both</ion-label>
        <ion-radio slot="start" [disabled]="fieldDisabled"  value="both" ></ion-radio>
      </ion-item>
    </ion-col>
    </ion-row>
    </ion-radio-group>
    <!-- <ion-row *ngIf="!isECopy"> -->
      <ion-row *ngIf="stampingModeValue == 'hardcopy' || stampingModeValue == 'both'">
      <ion-col>
          <ion-item class="ion-no-padding">
              <ion-label position="floating" class="label">No. of Hard Copies*</ion-label>
              <ion-input type="cell" class="form_input" autocapitalize="words"
                          formControlName="numberofhardcopy" autocomplete="off" maxLength="4"></ion-input>
          </ion-item>
          <div style="height: 5px;">
            <div *ngIf="firstFormGroup.get('numberofhardcopy').hasError('max') && firstFormGroup.get('numberofhardcopy').dirty">
                <span class="error">{{hardCopiesError}}</span>
            </div>
            <div *ngIf="(firstFormGroup.get('numberofhardcopy').dirty && firstFormGroup.get('numberofhardcopy').hasError('pattern')) || (firstFormGroup.get('numberofhardcopy').hasError('min') && firstFormGroup.get('numberofhardcopy').dirty)">
              <span class="error">{{hardCopiesPatternError}}</span>
          </div>
            <div *ngIf="firstFormGroup.get('numberofhardcopy').value === '' && firstFormGroup.get('numberofhardcopy').dirty">
                <span class="error">{{fieldRequired}}</span>
            </div>
        </div>
      </ion-col>
  </ion-row>
  <ion-row *ngIf="stampingModeValue == 'hardcopy' || stampingModeValue == 'both'">
    <ion-col>
      <ion-item class="ion-no-padding">
        <ion-label position="floating" class="label">Shipping Address*</ion-label>
        <ion-input type="text" class="form_input" autocapitalize="words"
                    formControlName="shippingaddress" autocomplete="off"  (ionChange)="updateSearchResults($event)"
                    (ionClear)="onCancel()" debounce="300"
                    (ionFocus)="forAutoComplete($event)" (ionBlur)="onBlur()"></ion-input>
    </ion-item>
    <!-- <ion-item class="ion-no-padding">
      <ion-label position="floating" class="label">Shipping Address*</ion-label>
      <ion-input type="text" class="form_input" autocapitalize="words"
                  formControlName="shippingaddress" autocomplete="off"></ion-input>
  </ion-item> -->
    <ion-list style="padding:0px" *ngIf="!isSelectSearchResult && designId == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
          <ion-label>
              {{ item.description }}
          </ion-label>
      </ion-item>
  </ion-list>
  <div style="height: 5px;">
    <div *ngIf="firstFormGroup.get('shippingaddress').hasError('pattern') && firstFormGroup.get('shippingaddress').dirty">
        <span class="error">{{addressError}}</span>
    </div>
    <div *ngIf="firstFormGroup.get('shippingaddress').value === '' && firstFormGroup.get('shippingaddress').dirty">
        <span class="error">{{fieldRequired}}</span>
    </div>
</div>


  <!-- <ion-item *ngIf="autocompleteItems.length === 0" lines="none">
      <ion-label class="ion-text-center">
          Search for address
      </ion-label>
  </ion-item> -->
    </ion-col>
  </ion-row>
  <ion-row *ngIf="stampingModeValue == 'hardcopy' || stampingModeValue == 'both'">
    <ion-col>
      <ion-item class="ion-no-padding">
        <ion-label position="floating" class="label">Contact Number*</ion-label>
        <ion-input type="tel" class="form_input" autocapitalize="none"
                    formControlName="contactnumber" autocomplete="off" maxLength="15"></ion-input>
    </ion-item>
    <div style="height: 5px;">
      <div *ngIf="firstFormGroup.get('contactnumber').hasError('pattern') && firstFormGroup.get('contactnumber').dirty">
          <span class="error">{{contactError}}</span>
      </div>
      <div *ngIf="firstFormGroup.get('contactnumber').value === '' && firstFormGroup.get('contactnumber').dirty">
          <span class="error">{{fieldRequired}}</span>
      </div>
  </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item class="ion-no-padding">
          <!-- <ion-label style="display: none;">Mounting Type*</ion-label> -->
          <ion-label position="floating">Property Type*</ion-label>
          <!-- <ion-label position="floating">mounting type</ion-label> -->
          <ion-select class="form_input select_div"
                      ok-text="" cancel-text=""
                      formControlName="propertytype" [disabled]="fieldDisabled" interface="popover">
              <ion-select-option value="residential">Residential</ion-select-option>
              <ion-select-option value="commercial">Commercial</ion-select-option>
          </ion-select>
      </ion-item>
  </ion-col>
    <ion-col size="6">
      <ion-item class="ion-no-padding">
          <!-- <ion-label style="display: none;">Mounting Type*</ion-label> -->
          <ion-label position="floating">Mounting Type*</ion-label>
          <!-- <ion-label position="floating">mounting type</ion-label> -->
          <ion-select class="form_input select_div"
                      ok-text="" cancel-text=""
                      formControlName="mountingtype" [disabled]="fieldDisabled" interface="popover">
              <ion-select-option value="roof">Roof</ion-select-option>
              <ion-select-option value="ground">Ground</ion-select-option>
              <ion-select-option value="both">Both</ion-select-option>
          </ion-select>
      </ion-item>
  </ion-col>

</ion-row>

    <ion-row style="margin-top: 20px;">
    <ion-label style="font-weight: bold;">Type of Stamping</ion-label>
  </ion-row>
  <ion-radio-group formControlName="stampingtype" (ionChange)="stampingTypeOption($event)">
    <ion-row >
      <ion-col size="auto">
    <ion-item lines="none">
      <ion-label class="margin" style="font-size: small;">Structural</ion-label>
      <ion-radio slot="start" [disabled]="fieldDisabled" value="structural"></ion-radio>
    </ion-item>
  </ion-col>
  <ion-col size="auto">
    <ion-item lines="none">
      <ion-label class="margin"   style="font-size: small;">Electrical</ion-label>
      <ion-radio slot="start" [disabled]="fieldDisabled" value="electrical"></ion-radio>
    </ion-item>
  </ion-col>
  <ion-col size="auto">
    <ion-item lines="none">
      <ion-label class="margin"   style="font-size: small;">Both</ion-label>
      <ion-radio slot="start" [disabled]="fieldDisabled" value="both"></ion-radio>
    </ion-item>
  </ion-col>
  </ion-row>
  </ion-radio-group>
  <ion-row *ngIf="stampingTypeValue == 'electrical'" class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12">
      <ion-item class="ion-no-padding">
          <ion-label style="display: none;">Job Type*</ion-label>
          <ion-label position="floating">Job Type*</ion-label>
          <ion-select [disabled]="nonEditableField" class="form_input select_div"
                      ok-text=""
                      cancel-text=""
                      formControlName="jobtype" interface="popover">
              <ion-select-option value="pvbattery">PV+Battery</ion-select-option>
              <ion-select-option value="battery">Battery</ion-select-option>
              <ion-select-option value="pv">PV</ion-select-option>
          </ion-select>
      </ion-item>
  </ion-col>
  </ion-row>
  <ion-row *ngIf="stampingTypeValue == 'structural' || stampingTypeValue =='both'">
    <ion-col size="12">

        <ng-container>
            <ion-item class="ion-no-padding" (click)="attic.click()">
                <ion-label position="floating" class="label">Attic Photos*</ion-label>
                    <input type="file" #attic class="form_input" (change)="atticFiles($event)" style="margin-top: 12px;" formControlName="atticphotos" multiple>
                    <ion-icon name="attach-outline" slot="end" style="margin-top:21px"></ion-icon>
                </ion-item>
                <div *ngFor="let file of atticPhotosList;let i = index">
                    <ion-item>
                        <ion-col size="11">
                            {{file.name}}
                        </ion-col>
                        <ion-col size="1" (click)="removeArc(i,'attic')">x</ion-col>
                    </ion-item>
                </div>
                </ng-container>

            </ion-col>
            <ng-container *ngIf="design && design.atticphotos !==null">
              <div *ngFor="let arc of design.atticphotos;let i=index">
                 <ion-item>
                     <ion-col size="auto"> {{arc.name}}{{arc.ext}}</ion-col>
                     <!-- <ion-col size="1" (click)="removeattachment(arc,i)">x</ion-col> -->
                     <ion-col size="1" (click)="removeattachment(arc,i,'attic')">x</ion-col>


                 </ion-item>


             </div>
          </ng-container>

  </ion-row>
  <ion-row *ngIf="stampingTypeValue == 'structural' || stampingTypeValue =='both'">
    <ion-col size="12">

        <ng-container>
            <ion-item class="ion-no-padding" (click)="roof.click()">
                <ion-label position="floating" class="label">Roof Photos*</ion-label>
                    <input type="file" #roof class="form_input" (change)="roofFiles($event)" style="margin-top: 12px;" formControlName="roofphotos" multiple>
                    <ion-icon name="attach-outline" slot="end" style="margin-top:21px"></ion-icon>
                </ion-item>
                <div *ngFor="let file of roofPhotosList;let i = index">
                    <ion-item>
                        <ion-col size="11">
                            {{file.name}}
                        </ion-col>
                        <ion-col size="1" (click)="removeArc(i,'roof')">x</ion-col>
                    </ion-item>
                </div>
                </ng-container>

            </ion-col>
            <ng-container *ngIf="design && design.roofphotos !==null">
              <div *ngFor="let arc of design.roofphotos;let i=index">
                 <ion-item>
                     <ion-col size="auto"> {{arc.name}}{{arc.ext}}</ion-col>
                     <!-- <ion-col size="1" (click)="removeattachment(arc,i)">x</ion-col> -->
                     <ion-col size="1" (click)="removeattachment(arc,i,'roof')">x</ion-col>


                 </ion-item>


             </div>
          </ng-container>

  </ion-row>
  <ion-row *ngIf="stampingTypeValue == 'structural' || stampingTypeValue =='both' || stampingTypeValue == 'electrical'">
    <ion-col size="12">

        <ng-container>
            <ion-item class="ion-no-padding" (click)="permitplan.click()">
                <ion-label position="floating" class="label">Permit Plan*</ion-label>
                    <input type="file" #permitplan class="form_input" (change)="permitPlanFiles($event)" accept="application/pdf" style="margin-top: 12px;" formControlName="permitplanphotos" multiple>
                    <ion-icon name="attach-outline" slot="end" style="margin-top:21px"></ion-icon>
                </ion-item>
                <div *ngFor="let file of permitPlanList;let i = index">
                    <ion-item>
                        <ion-col size="11">
                            {{file.name}}
                        </ion-col>
                        <ion-col size="1" (click)="removeArc(i,'permitplan')">x</ion-col>
                    </ion-item>
                </div>
                </ng-container>

            </ion-col>
            <ng-container *ngIf="design && design.permitplan !==null">
              <div *ngFor="let arc of design.permitplan;let i=index">
                 <ion-item>
                     <ion-col size="auto" > {{arc.name}}{{arc.ext}}</ion-col>
                     <!-- <ion-col size="1" (click)="removePermitPlan(arc,i)">x</ion-col> -->
                     <ion-col size="1" (click)="removeattachment(arc,i,'permitplan')">x</ion-col>


                 </ion-item>


             </div>
          </ng-container>

  </ion-row>
  <!-- <ion-row style="margin-top: 20px;">
    <ion-label style="font-weight: bold;">Type of Stamping</ion-label>
  </ion-row>
  <ion-radio-group formControlName="stampingtype" (ionChange)="stampingTypeOption($event)">
    <ion-row >
      <ion-col size="auto">
    <ion-item lines="none">
      <ion-label class="margin" style="font-size: small;">Structural</ion-label>
      <ion-radio slot="start" value="structural"></ion-radio>
    </ion-item>
  </ion-col>
  <ion-col size="auto">
    <ion-item lines="none">
      <ion-label class="margin"   style="font-size: small;">Electrical</ion-label>
      <ion-radio slot="start"  value="electrical"></ion-radio>
    </ion-item>
  </ion-col>
  <ion-col size="auto">
    <ion-item lines="none">
      <ion-label class="margin"   style="font-size: small;">Both</ion-label>
      <ion-radio slot="start"  value="both"></ion-radio>
    </ion-item>
  </ion-col>
  </ion-row>
  </ion-radio-group> -->

  <ion-row style="margin-top: 16px;">
    <ion-col size="12">
        <span class="input-placeholder">Comments</span>
    </ion-col>
    <ion-col size="12" style="padding-top: 0px;">
        <ion-textarea style="max-width: 98%;" class="ion-no-margin ion-no-padding comment_box" rows="3"
         formControlName="comment"></ion-textarea>
    </ion-col>
</ion-row>
</form>
<!-- <form [formGroup]="secondFormGroup" novalidate style="overflow:scroll">

</form> -->
</ion-content>
<ion-row>
  <ion-col></ion-col>
  <ion-col size="auto">
    <ion-button class="action-button-color" fill="clear" (click)="submitForm('save')">Save for later</ion-button>
    <ion-button class="action-button-color"
      *ngIf="(userdata.role.type=='clientsuperadmin' || userdata.role.type=='clientadmin') && designId==0" fill="clear"
      (click)="submitForm('send')">Send to WattMonk</ion-button>
  </ion-col>
</ion-row>
