<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom">
    <form [formGroup]="desginForm" novalidate>
        <ion-grid style="position: relative;">
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-input class="form_input" placeholder="name*" autocapitalize="words"
                                   formControlName="name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-input class="form_input" type="email" placeholder="email*" autocapitalize="none" autocomplete="off"
                                   formControlName="email"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="desginForm.get('email').hasError('pattern') && desginForm.get('email').dirty">
                            <span class="error">{{emailError}}</span>
                        </div>
                        <div *ngIf="desginForm.get('email').value === '' && desginForm.get('email').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-input class="form_input"  type="number" placeholder="monthly bill*" 
                                   formControlName="monthlybill"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <!-- <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-range [min]="minRange" [max]="maxRange" formControlName="monthlybill" mode="ios" pin="true"
                               class="ion-no-padding">
                        <ion-label slot="start">{{minRange | currency :'USD':'symbol':'1.0-0'}}</ion-label>
                        <ion-label slot="end">{{maxRange | currency :'USD':'symbol':'1.0-0'  }} <span style="color:red">*</span></ion-label>
                       
                    </ion-range>
                    
                </ion-col>
            </ion-row> -->

            <ion-row>
                <ion-col size="6">
                    <app-auto-complete [dataList]="listOfSolarMake" placeholder="module make*"
                                       formControlName="solarmake"></app-auto-complete>
                </ion-col>
                <ion-col size="6">
                    <app-auto-complete [dataList]="listOfSolarMade" placeholder="module model*"
                                       formControlName="solarmodel"></app-auto-complete>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <app-auto-complete [dataList]="listOfInverterMake" placeholder="inverter make*"
                                       formControlName="invertermake"></app-auto-complete>
                </ion-col>
                <ion-col size="6">
                    <app-auto-complete [dataList]="listOfInverterMade" placeholder="inverter model*"
                                       formControlName="invertermodel"></app-auto-complete>
                </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="6">
                    <ion-item class="ion-no-padding">
                        <ion-label style="display: none;">Project Type</ion-label>
                        <ion-select class="form_input" placeholder="project type" ok-text=""
                                    cancel-text=""
                                    formControlName="projecttype" interface="popover">
                            <ion-select-option value="residential">Residential</ion-select-option>
                            <ion-select-option value="commercial">Commercial</ion-select-option>
                        </ion-select>
                    </ion-item>

                </ion-col>
                <ion-col size="6">
                    <ion-item class="ion-no-padding">
                        <ion-label style="display: none;">Roof Type</ion-label>
                        <ion-select class="form_input select_div" placeholder="roof type"
                                    ok-text="" cancel-text=""
                                    formControlName="rooftype" interface="popover">
                            <ion-select-option value="flat">Flat</ion-select-option>
                            <ion-select-option value="pitch">Pitch</ion-select-option>
                            <ion-select-option value="both">Both</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="6">
                    <ion-item class="ion-no-padding">
                        <ion-label style="display: none;">Job Type</ion-label>
                        <ion-select class="form_input select_div" placeholder="job type"
                                    ok-text=""
                                    cancel-text=""
                                    formControlName="jobtype" interface="popover">
                            <ion-select-option value="pvbattery">PV+Battery</ion-select-option>
                            <ion-select-option value="battery">Battery</ion-select-option>
                            <ion-select-option value="pv">PV</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item class="ion-no-padding">
                        <ion-label style="display: none;">New construction</ion-label>
                        <ion-select class="form_input select_div"
                                    placeholder="new construction" ok-text=""
                                    cancel-text=""
                                    formControlName="newconstruction" interface="popover">
                            <ion-select-option value="true">Yes</ion-select-option>
                            <ion-select-option value="false">No</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col size="12" class="ion-no-padding">
                    <span class="input-placeholder">comments</span>
                </ion-col>
                <ion-col size="12" class="ion-no-padding">
                    <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                  formControlName="comments"></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-user-selector placeholder="assign" [assignees]="listOfAssignees"
                                           formControlName="assignedto"></app-user-selector>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>
