<ion-content class="ion-padding">
  <form [formGroup]="desginForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-input class="form_input" placeholder="name" autocapitalize="words" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-input class="form_input" placeholder="email" autocapitalize="none" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-range min="1000" max="2000" step="100" snaps="true" color="secondary"></ion-range>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="ion-no-padding">
            <ion-input class="form_input" placeholder="solar make" autocapitalize="none" formControlName="email">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="ion-no-padding">
            <ion-input class="form_input" placeholder="solar made" autocapitalize="none" formControlName="email">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="ion-no-padding">
            <ion-input class="form_input" placeholder="inverter make" autocapitalize="none" formControlName="email">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="ion-no-padding">
            <ion-input class="form_input" placeholder="inverter made" autocapitalize="none" formControlName="email">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col size="12" class="ion-no-padding">
            <span class="input-placeholder">Comment</span>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
            <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3" ></ion-textarea>
        </ion-col>
    </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col>
            <ion-item class="ion-no-padding no-border" lines="none">
                <app-user-selector  placeholder="assign" [assignees]="listOfAssignees"></app-user-selector>
            </ion-item>
        </ion-col>
    </ion-row>
    </ion-grid>
  </form>

  <ion-footer class="ion-no-border">
    <ion-grid>
        <ion-row>
            <ion-col size="auto">
            </ion-col>
            <ion-col></ion-col>
            <ion-col  size="auto" class="ion-align-self-end">
                <ion-button class="action-button-color" fill="clear">Done</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>

</ion-content>