.user-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

ion-range {
    --bar-background: #CBCBCB;
    --bar-background-active: #CBCBCB;
    --knob-background: #DC6E67;
    --knob-border-radius: 2px solid white;
    --knob-size: 20px;
    --knob-border-radius: 50%;
    --pin-color: #E1E1E1;
}
