.black{
    color:#111;
    margin-left:5px;
}
.CogratulationalertClass{
    background-color: lightsteelblue;
    text-align: center;
    

}
.clickEnableCls{
    pointer-events: visible !important;
 }


 
