<ion-header  class="ion-no-border white-bg">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-grid class="ion-padding-top ion-padding-start ion-padding-end header-bg">
      <ion-row  >
    <ion-col size="1">
    <ion-button fill="clear" size="small" class="ion-no-padding" (click)="cancel()">
        <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
    </ion-button>
</ion-col>
<ion-col class="ion-text-center" size="9" style="padding-left: 27px; text-align: center;">
  <ion-grid class="ion-align-items-center ion-justify-content-center">
      <ion-row class="ion-align-items-center ion-justify-content-center">
          <span class="survey-name ion-text-center" style="font-size:x-large; text-align: center;">Confirm your order</span>
      </ion-row>
  </ion-grid>
</ion-col>
</ion-row><ion-row></ion-row>
</ion-grid></ion-toolbar></ion-header>
<ion-content><ion-row>
  <h4 style="font-weight: bold;margin-bottom:0px !important;padding: 10px;"></h4>
</ion-row>
<ion-row>
      <h6 *ngIf="user?.ispaymentmodeprepay" style="margin:10px;padding:5px;">Please make the payment to process your order with Wattmonk.</h6>
      <h6 *ngIf="!user?.ispaymentmodeprepay" style="margin:10px;padding:5px;">Please find below summary of your service purchase.</h6>
    </ion-row>
    <ion-row >
    <ion-card style="position: relative; width:100%;" class="ion-padding">
      <ion-row style="width: 100%;">
        <ion-col size="6">
          <ion-label style="font-size: medium;color:#111;font-weight: bold;float: left;">Amount in Wallet</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label style="font-size: large;color:#111;float:right;">$ {{user?.amount}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="width: 100%;"><ion-col size="6">
      <ion-label style="font-size: medium;color:#111;font-weight: bold; float: left;">Service Price</ion-label>
      </ion-col>
      <ion-col size="6">
      <ion-label style="font-size: large;color:#111; float:right;"> $ {{settingValue}} </ion-label>
    </ion-col>
    </ion-row>
    <!-- <a (click)='openModal()'><u>Have a Promocode</u></a> -->
<ion-row ><ion-col size="12"><ion-item *ngIf="coupondata!=null"  >
  <ion-input type="text"  autocapitalize="words"
    class="ion-padding"  disabled="true">{{coupondata?.code}}</ion-input>
  <ion-label class="clickEnableCls" style="color:midnightblue;" (click)="removeCoupon()" >remove</ion-label>
  </ion-item>
</ion-col>
   <!-- <ion-col style="align-self: flex-end;"><ion-button size='small' (click)="Congratulations()">Apply</ion-button> </ion-col> -->
  </ion-row> 
  <ion-row style="width: 100%;" *ngIf="discount!=null"><ion-col size="6">
    <ion-label style="font-size: medium;color:#111;font-weight: bold;float: left;">Discount</ion-label>
    </ion-col>
    <ion-col size="6">    <ion-label style="font-size: large;color:#111; float:right;" >$ {{discount}}</ion-label>
    
  </ion-col>
  <ion-col size="6">
    <!-- <ion-label style="font-size: larger;">Service Used</ion-label><br>
    <ion-label style="font-size: x-large;">{{design}} design</ion-label> -->
  </ion-col>
</ion-row>

<!-- <ion-row>
  <ion-col>
  <ion-label style="font-size: larger;">You have to pay</ion-label><br>
  <ion-label *ngIf="count>freeCharges;else stat" style="font-size: x-large;"> $ {{settingValue}}
   </ion-label>
  <ng-template #stat>
    <ion-label  style="font-size: x-large;">$ 0</ion-label>
  </ng-template>
</ion-col>
<ion-col size="6">
  <ion-label style="font-size: larger;">Design Id</ion-label><br>
  <ion-label style="font-size: x-large;" >{{id}}</ion-label>
</ion-col>
</ion-row> -->
<!-- <ion-row style="width: 100%;" *ngIf="coupondata!=null">
  <ion-col size="10"><ion-label style="font-size:small;color:#111;">Coupon Code Discount</ion-label></ion-col>
    <ion-col size="2"><ion-label style="font-size: large;color:#111" >{{code_discount}} </ion-label></ion-col>
</ion-row>  -->
    </ion-card>
  </ion-row>
  <!--<ion-row style="width: 100%;">
    <ion-col size="10"><ion-label style="font-size:small;color:#111;">You have to pay</ion-label></ion-col>
      <ion-col size="2"><ion-label style="font-size: large;color:#111" >$ 35 </ion-label></ion-col>
  </ion-row>-->
  <ion-item><ion-row style="width: 100%;">
    <ion-col size="10"><ion-label style="font-size:medium;color:#111;font-weight: bold;">Net Payable Amount</ion-label></ion-col>
      <ion-col size="2"><ion-label style="font-size: large;color:#111" *ngIf="netPay!=null" >$ {{netPay}} </ion-label>
      <ion-label style="font-size: large;color:#111" *ngIf="netPay==null" >$ {{settingValue}} </ion-label></ion-col>
    </ion-row></ion-item>
  <ion-row class="ion-padding">
    <ion-col size="12" *ngIf="user?.ispaymentmodeprepay" >
      <!-- <ion-item *ngIf="user?.amount>=settingValue" (click)="confirm()" >
        <ion-button  fill="clear"><ion-icon name="checkmark-circle-outline" style="color: blue;"></ion-icon>&nbsp;<ion-label class="black">Confirm</ion-label></ion-button>
      </ion-item> -->
      <ion-item (click)="addWallet('wallet')" *ngIf="netPay>user?.amount" >
        <ion-button  fill="clear" ><ion-icon name="cash-outline" style="color:green;font-size:25px"></ion-icon>&nbsp;<ion-label class="black">Add Money</ion-label></ion-button>
      </ion-item>
       <ion-item (click)="addWallet('card')" *ngIf="netPay>user?.amount">
        <ion-button  fill="clear"  ><ion-icon name="card-outline" style="color:brown;font-size:25px"></ion-icon>&nbsp;<ion-label class="black">Pay via card </ion-label></ion-button>
      </ion-item>
    </ion-col>
    <ion-col size="12" *ngIf="!user?.ispaymentmodeprepay" >
      <!-- <ion-item  (click)="confirmforPostpaid()" >
        <ion-button  fill="clear"><ion-icon name="checkmark-circle-outline" style="color: blue;"></ion-icon>&nbsp;<ion-label class="black">Confirm</ion-label></ion-button>
      </ion-item> -->
    </ion-col>
    </ion-row>
    </ion-content>
    <ion-footer *ngIf="user?.ispaymentmodeprepay && user?.amount>=netPay" (click)="confirm()"  class="ion-padding" style="text-align: center;background: blue;color:#fff">
      Confirm
       </ion-footer>
    <ion-footer *ngIf="!user?.ispaymentmodeprepay" (click)="confirmforPostpaid()" class="ion-padding" style="text-align: center;background: blue;color:#fff">Confirm</ion-footer>
