<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom" style="height:650px">
  <form [formGroup]="desginForm" novalidate style="overflow:scroll">
      <ion-grid style="position: relative;margin-top: 30px;">
          <!-- <ion-row *ngIf="address !== ''">
              <ion-col>
                  {{address}}
              </ion-col>
          
          </ion-row>
          <ion-row *ngIf="address == ''">
              <ion-col>
              Address not found.
              </ion-col>
          
          </ion-row> -->
          <ion-row >
              <ion-col>
                  <ion-item class="ion-no-padding">
                      <ion-label position="floating">name*</ion-label>
                      <ion-input type="text" class="form_input" autocapitalize="words"
                                  formControlName="name"></ion-input>
                  </ion-item>
                  <div style="height: 5px;">
                      <div *ngIf="desginForm.get('name').hasError('pattern') && desginForm.get('name').dirty">
                          <span class="error">{{nameError}}</span>
                      </div>
                      <div *ngIf="desginForm.get('name').value === '' && desginForm.get('name').dirty">
                          <span class="error">{{fieldRequired}}</span>
                      </div>
                  </div>
              </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col>
                  <ion-item class="ion-no-padding">
                      <ion-label position="floating">email*</ion-label>
                      <ion-input class="form_input" type="email" autocapitalize="none" autocomplete="off"
                                  formControlName="email" [disabled]="fieldDisabled"></ion-input>
                  </ion-item>
                  <div style="height: 5px;">
                      <div *ngIf="desginForm.get('email').hasError('pattern') && desginForm.get('email').dirty">
                          <span class="error">{{emailError}}</span>
                      </div>
                      <div *ngIf="desginForm.get('email').value === '' && desginForm.get('email').dirty">
                          <span class="error">{{fieldRequired}}</span>
                      </div>
                  </div>
              </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col>
                  <ion-item class="ion-no-padding">
                      <ion-label position="floating">annual units (Kwh)*</ion-label>
                      <ion-input class="form_input"  type="tel" (ionInput)="numberfield($event)"
                                  formControlName="monthlybill" maxLength="5"></ion-input>
                  </ion-item>
                  <div style="height: 5px;">
                      <div *ngIf="desginForm.get('monthlybill').dirty && desginForm.get('monthlybill').hasError('pattern')">
                          <span class="error">{{"Annual units should be a valid number"}}</span>
                      </div>
                      <!-- <div *ngIf="desginForm.get('monthlybill').hasError('pattern') && desginForm.get('monthlybill').dirty">
                          <span class="error">{{annualunitError}}</span>
                      </div> -->
                  </div>
              </ion-col>
          </ion-row>
  
          <!-- <ion-row class="ion-margin-top">
              <ion-col>
                  <ion-range [min]="minRange" [max]="maxRange" formControlName="monthlybill" mode="ios" pin="true"
                              class="ion-no-padding">
                      <ion-label slot="start">{{minRange | currency :'USD':'symbol':'1.0-0'}}</ion-label>
                      <ion-label slot="end">{{maxRange | currency :'USD':'symbol':'1.0-0'  }} <span style="color:red">*</span></ion-label>
                      
                  </ion-range>
                  
              </ion-col>
          </ion-row> -->
  
          <ion-row>
              <ion-col size="6">
                  <!-- <ion-label position="floating">module make*</ion-label> -->
                  <app-auto-complete #myinput style="font-size: 14px;" [dataList]="listOfSolarMake"
                formControlName="solarmake"><ion-label position="floating" >Module make*</ion-label></app-auto-complete>
  
              </ion-col>
              <ion-col size="6">
                  <!-- <ion-label position="floating">module model*</ion-label> -->
                  <app-auto-complete style="font-size: 14px;"  [dataList]="listOfSolarMade" 
                                      formControlName="solarmodel" ><ion-label position="floating" >Module model*</ion-label></app-auto-complete>
  
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col size="6">
                  <!-- <ion-label position="floating">inverter make*</ion-label> -->
                  <app-auto-complete style="font-size: 12px;" [dataList]="listOfInverterMake" 
                                      formControlName="invertermake"><ion-label position="floating" >Inverter make*</ion-label></app-auto-complete>
              </ion-col>
              <ion-col size="6">
                  <!-- <ion-label position="floating">invertor model*</ion-label> -->
                  <app-auto-complete style="font-size: 10px;" [dataList]="listOfInverterMade" 
                                      formControlName="invertermodel" ><ion-label position="floating" >Inverter model*</ion-label></app-auto-complete>
              </ion-col>
          </ion-row>
  
          <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="6">
                  <ion-item class="ion-no-padding">
                      <ion-label style="display: none;">project type*</ion-label>
                      <ion-label position="floating">Project type*</ion-label>
                      <!-- <ion-label style="display: none;">Project Type</ion-label> -->
                      <!-- <ion-label position="floating">project type</ion-label> -->
                      <ion-select class="form_input" ok-text="" 
                                  cancel-text=""
                                  formControlName="projecttype" interface="popover">
                          <ion-select-option value="residential">Residential</ion-select-option>
                          <ion-select-option value="commercial">Commercial</ion-select-option>
                      </ion-select>
                  </ion-item>
  
              </ion-col>
          
              <!-- <ion-col size="6">
                  <ion-item class="ion-no-padding">
                      <ion-label style="display: none;">Job Type</ion-label>
                      <ion-select class="form_input select_div" placeholder="job type"
                                  ok-text=""
                                  cancel-text=""
                                  formControlName="jobtype" interface="popover">
                          <ion-select-option value="pvbattery">PV+Battery</ion-select-option>
                          <ion-select-option value="battery">Battery</ion-select-option>
                          <ion-select-option value="pv">PV</ion-select-option>
                      </ion-select>
                  </ion-item>
              </ion-col> -->
              <ion-col size="6">
                  <ion-item class="ion-no-padding">
                      <ion-label position="floating">New Construction*</ion-label>
                      
                      <!-- <ion-label style="display: none;">New construction</ion-label> -->
                      <!-- <ion-label position="floating">new construction</ion-label> -->
                      <ion-select  (ionChange)="showUpload($event)" class="form_input select_div" 
                                      ok-text=""
                                  cancel-text=""
                                  formControlName="newconstruction" interface="popover" value="false"  >
                          <ion-select-option  value="true">Yes</ion-select-option>
                          <ion-select-option  value="false">No</ion-select-option>
                      </ion-select>
                  </ion-item>
              </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="12">
                <ion-item class="ion-no-padding">
                    <mat-form-field style="width: 100%; height: 45px;" class="ion-no-padding">
                        <mat-label>Utility Name</mat-label>
                        <input type="text" class="form_input font-size" matInput [matAutocomplete]="auto" autocomplete="off" formControlName="utility" required>
                       
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let utility of filteredModuleMakes | async" [value]="utility.name"
                          (onSelectionChange)="fetchUtilityData($event,utility)" class="font">{{utility.name}}</mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </ion-item>
            </ion-col>    
          </ion-row >
          <ion-row>
            <ion-col>
                <ion-item class="ion-no-padding">
                    <mat-form-field style="width: 100%; height: 45px;" class="ion-no-padding">
                      <mat-label>Utility Rate</mat-label>
                      <input type="text" class="form_input font-size" matInput [matAutocomplete]="auto1" autocomplete="off" formControlName="utilityrate" required>
                      <mat-autocomplete #auto1="matAutocomplete">
                        <mat-option *ngFor="let module of filteredModuleModels | async" [value]="module.rate"
                        (onSelectionChange)="setSelectedUtilityRate(module)" class="font">{{module.rate}}</mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </ion-item>
            </ion-col>
        </ion-row>

        <!-- <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col style="margin-top: 15px;">
              <ion-label>Annual Utility Escalation*</ion-label>
              <ion-range [color]="color"
              class="ion-no-padding" min="0" max="5" formControlName="annualutilityescalation" pin="true"  (ionChange)="onRangeChangeHandler()">
                <ion-label slot="start">0.0%</ion-label>
                <ion-label slot="end">5.0%</ion-label>
              </ion-range>
          </ion-col>
    </ion-row> -->
    <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col>
            <ion-item class="ion-no-padding">
            <ion-label position="floating">Annual Utility Escalation*</ion-label>
            <ion-select  class="form_input select_div" 
            ok-text=""
        cancel-text=""
        formControlName="annualutilityescalation" interface="popover" >
        <ion-select-option  value=0>0 %</ion-select-option>
<ion-select-option  value=0.5>0.5 %</ion-select-option>
<ion-select-option  value=1>1 %</ion-select-option>
<ion-select-option  value=1.5>1.5 %</ion-select-option>
<ion-select-option  value=2>2 %</ion-select-option>
<ion-select-option  value=2.5>2.5 %</ion-select-option>
<ion-select-option  value=3>3 %</ion-select-option>
<ion-select-option  value=3.5>3.5 %</ion-select-option>
<ion-select-option  value=4>4 %</ion-select-option>
<ion-select-option  value=4.5>4.5 %</ion-select-option>
<ion-select-option  value=5>5 %</ion-select-option>
</ion-select>
</ion-item>
        </ion-col>
  </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
            <ion-item class="ion-no-padding">
                <ion-label position="floating">Any Incentives*</ion-label>
                <ion-select class="form_input select_div"
                ok-text="" cancel-text=""
                formControlName="incentive" interface="popover" >
        <ion-select-option *ngFor="let incentive of incentives" [value]="incentive.id">{{incentive.title}}</ion-select-option>
  </ion-select>
          </ion-item>
      </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="6">
        <ion-item class="ion-no-padding">
            <ion-label position="floating">Cost of System* (Watt)</ion-label>
            <ion-input type="number" class="form_input"
            formControlName="costofsystem"></ion-input>
        </ion-item>
    </ion-col>
<!-- </ion-row>

<ion-row class="ion-align-items-center ion-justify-content-center"> -->
  <ion-col size="6">
      <ion-item class="ion-no-padding">
          <ion-label position="floating">Installer Name*</ion-label>
          <ion-input type="text" class="form_input" autocapitalize="words"
          formControlName="personname"></ion-input>
      </ion-item>
  </ion-col>
</ion-row>  
<ion-row class="ion-align-items-center ion-justify-content-center">
  <ion-col>
      <ion-item class="ion-no-padding">
          <ion-label position="floating">Company Name</ion-label>
          <ion-input  type="text" class="form_input" autocapitalize="words"
          formControlName="company"></ion-input>
      </ion-item>
  </ion-col>
</ion-row> 

<ion-row class="ion-align-items-center ion-justify-content-center">
  <!-- <ion-col>
      <ion-item class="ion-no-padding">
          <ion-label position="floating">Company Logo</ion-label>
          <ion-input  type="text" class="form_input" autocapitalize="words"
          formControlName="companylogo"></ion-input>
      </ion-item>
  </ion-col> -->
  <ion-col size="12" (click)="fileInput.click()">
    <ion-item  class="ion-no-padding">
      <ion-label position="floating">Upload Logo</ion-label>
      <input type='file' id="imageUpload" placeholder="Upload logo" accept="image/" #fileInput (change)="uploadFile($event)" />
      </ion-item>
   
        <div *ngIf="logo !=null && logo !=''" class="avatar-upload" style="text-align: center;">
            <img [src]=logo height="100px" width="100px" />
      </div>
    
  <!-- </ion-item> -->
</ion-col>
</ion-row>  
  
          <ion-row class="ion-align-items-center ion-justify-content-center">
          
              <ion-col size="12">
                  <ion-item class="ion-no-padding">
                      <ion-label style="display: none;">Mounting Type*</ion-label>
                      <ion-label position="floating">Mounting Type*</ion-label>
                      <!-- <ion-label position="floating">mounting type</ion-label> -->
                      <ion-select class="form_input select_div" (ionChange)="eventcheck($event)" 
                                  ok-text="" cancel-text=""
                                  formControlName="mountingtype" interface="popover">
                          <ion-select-option value="roof">Roof</ion-select-option>
                          <ion-select-option value="ground">Ground</ion-select-option>
                          <ion-select-option value="both">Both</ion-select-option>
                      </ion-select>
                  </ion-item>
              </ion-col>
          </ion-row>
          
          <!-- condition base roof type-->
          <ion-row>
              <ion-col size="6" *ngIf='(showValue=="roof" ||showValue== "both")'>
                  <ion-item class="ion-no-padding">
                      <ion-label style="display: none;">Roof Type</ion-label>
                      <ion-label position="floating">Roof type*</ion-label>
                      <ion-select class="form_input select_div"
                                  ok-text="" cancel-text=""
                                  formControlName="rooftype" interface="popover">
                          <ion-select-option value="flat">Flat</ion-select-option>
                          <ion-select-option value="pitch">Pitch</ion-select-option>
                          <ion-select-option value="both">Both</ion-select-option>
                      </ion-select>
                  </ion-item>
              </ion-col>
              <ion-col size="6" *ngIf='(showValue=="ground" || showValue=="both")'>
                      <ion-item class="ion-no-padding">
                          <ion-label position="floating" style="font-size: 13px;">Tilt for ground mount*</ion-label>
                          <ion-input class="form_input"  type="tel" formControlName="tiltofgroundmountingsystem" maxlength="5"></ion-input>
                      </ion-item>
                      <div style="height: 5px;">
                          <div *ngIf="desginForm.get('tiltofgroundmountingsystem').dirty && desginForm.get('tiltofgroundmountingsystem').hasError('pattern')">
                              <span class="error">{{"It should be a valid number"}}</span>
                          </div>
                          <div *ngIf="desginForm.get('tiltofgroundmountingsystem').hasError('pattern') && desginForm.get('tiltofgroundmountingsystem').dirty">
                              <span class="error">{{tiltforgroundError}}</span>
                          </div>
                      </div>
              </ion-col>
          </ion-row>
              <!--upload box-->
  <ion-row *ngIf='uploadbox=="true"'>
      <ion-col size="12">
  
          <ng-container>
              <ion-item class="ion-no-padding" (click)="f.click()">
                  <ion-label position="floating">Architectural design*</ion-label>
                      <input type="file" #f class="form_input"  (change)="files($event)" style="margin-top: 12px;" formControlName="architecturaldesign" multiple>
                      <ion-icon name="attach-outline" slot="end" style="margin-top:21px"></ion-icon>
                  </ion-item>
                  <div *ngFor="let file of archFiles;let i = index">
                      <ion-item>
                          <ion-col size="11">
                              {{file.name}}
                          </ion-col>
                          <ion-col size="1" (click)="removeArc(i)">x</ion-col>
                      </ion-item>
                  </div>
                  </ng-container>
          <!-- <ion-item class="ion-no-padding"> -->
              <!-- <ion-input class="form_input" type="file" placeholder="Upload Architectural design" 
                      (ionChange)="files($event)"  multiple></ion-input> -->
                      <!-- <ion-label position="floating">architectural design*</ion-label>
                      <p style="margin-top: 10px;" *ngFor="let architecture of architecturalData;let i=index"><ion-row style="display:flex;align-items: flex-end;" ><ion-col style="display:flex;align-items: flex-end;"><ion-label style="-webkit-text-stroke: thin;" *ngIf="architecture.value!=''" position="floating">{{architecture?.name}}</ion-label></ion-col>
                          <ion-col style="display:flex;align-items: flex-end;"> <ion-icon name="close-circle-outline" *ngIf="architecture.name!=''" (click)="remove(architecture,architecture?.id)"></ion-icon></ion-col></ion-row></p>
                      <ion-input type="file"  class="form_input"  (change)="files($event)" style="margin-top: 12px;" formControlName="architecturaldesign" placeholder="Upload Architectural design" multiple></ion-input>
                  </ion-item> -->
                  
              </ion-col>
                           <!-- <ion-item> -->
                           <!-- <ion-label position="floating">architectural design*</ion-label> -->
                                  <ng-container *ngIf="design && design.architecturaldesign !==null">
                                      <div *ngFor="let arc of design.architecturaldesign; let i = index">
                                         <ion-item>
                                             <ion-col size="11"> {{arc.name}}{{arc.ext}}</ion-col>
                                             <ion-col size="1" (click)="remove(arc, i)">x</ion-col>
                                            
        
                                         </ion-item>
                                     
                                         
                                     </div> 
                                  </ng-container>
                           <!-- </ion-item> -->
      
  </ion-row>
  
              <ion-row>
                  <ion-col size="12">
                      <ng-container>
                      <ion-item class="ion-no-padding" (click)="d.click()">
                      <ion-label position="floating">Attachments</ion-label>
                     
                                 
                                  <input #d type="file"  class="form_input"  (change)="prelimfiles($event)" style="margin-top: 12px;" formArrayName="architecturaldesign" multiple>
                                  <ion-icon name="attach-outline" slot="end" style="margin-top:21px"></ion-icon>
                              </ion-item>
                              <div *ngFor="let file of prelimFiles;let i = index">
                                  <ion-item>
                                      <ion-col size="11">
                                          {{file.name}}
                                      </ion-col>
                                      <ion-col size="1" (click)="removePrelim(i)">x</ion-col>
                                  </ion-item>
                              </div>
                              </ng-container>
                      <!-- <ion-item class="ion-no-padding"> -->
                          <!-- <ion-input class="form_input" type="file" placeholder="Upload Architectural design" 
                                  (ionChange)="files($event)"  multiple></ion-input> -->
                                  <!-- <ion-label position="floating">architectural design*</ion-label>
                                  <p style="margin-top: 10px;" *ngFor="let architecture of architecturalData;let i=index"><ion-row style="display:flex;align-items: flex-end;" ><ion-col style="display:flex;align-items: flex-end;"><ion-label style="-webkit-text-stroke: thin;" *ngIf="architecture.value!=''" position="floating">{{architecture?.name}}</ion-label></ion-col>
                                      <ion-col style="display:flex;align-items: flex-end;"> <ion-icon name="close-circle-outline" *ngIf="architecture.name!=''" (click)="remove(architecture,architecture?.id)"></ion-icon></ion-col></ion-row></p>
                                  <ion-input type="file"  class="form_input"  (change)="files($event)" style="margin-top: 12px;" formControlName="architecturaldesign" placeholder="Upload Architectural design" multiple></ion-input>
                              </ion-item> -->
                              
                          </ion-col>
                                       <!-- <ion-item> -->
                                       <!-- <ion-label position="floating">architectural design*</ion-label> -->
                                              <ng-container *ngIf="design && design.attachments !==null">
                                                  <div *ngFor="let arc of design.attachments;let i=index">
                                                     <ion-item>
                                                         <ion-col size="11"> {{arc.name}}{{arc.ext}}</ion-col>
                                                         <ion-col size="1" (click)="removeattachment(arc,i)">x</ion-col>
                                                        
                    
                                                     </ion-item>
                                                 
                                                     
                                                 </div> 
                                              </ng-container>
              </ion-row>
  
          <ion-row class="ion-margin-top">
              <ion-label position="floating">Comments</ion-label></ion-row>
             <ion-row class="ion-margin-top"> <ion-col size="12" class="ion-no-padding">
                  <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                  formControlName="comments"></ion-textarea>
              </ion-col>
          </ion-row>
  <!-- 
          <ion-row class="ion-margin-top">
              <ion-col>
                  <ion-item class=" ion-no-padding no-border" lines="none" style="padding: 30px 0px;">
                      <app-user-selector style="overflow:scroll;" placeholder="assign" [assignees]="listOfAssignees"
                                          formControlName="assignedto"></app-user-selector>
                  </ion-item>
              </ion-col>
          </ion-row> -->
      </ion-grid>
  </form>
  
  </ion-content>
  