
  .survey-name {
    font-size: 1.7em;
  }
  
  ion-header {
    color: #666666;
  }
  
  
  ion-grid{
    padding:0px !important;
  }
  ion-content{
    main{
      padding:0px !important;
    }
  }

  .model-name {
    font-size: 15px;
    text-transform: capitalize;
    color: #111 !important;
  }

  .font{
    font-size: .7rem;
    }
  
  