<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
                <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="dialcall()">
            <ion-icon name="call" style="color:#3c78d8;font-size: 20px;"></ion-icon>&nbsp;&nbsp;
          </ion-buttons>
        <ion-buttons slot="end" (click)="videocall()">
          <ion-icon name="videocam" style="color:#3c78d8;font-size: 20px;"></ion-icon>&nbsp;&nbsp;
          </ion-buttons>
        <ion-title *ngIf="currentGroupData">
            <div class="Inline"><span style="padding:5px;background-color: greenyellow;border-radius: 50%;">#{{name.charAt(0).toUpperCase()}}</span></div>
            <div class="Inline"><span style="padding:5px;font-size: 9px;">{{name}}</span></div>
            <!-- <p style="margin: 0px; font-size: small; padding-bottom: 2px;">{{currentUserStatus}}</p> -->
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding #content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd()">
    <ion-list>
    <div class="chat" *ngFor="let message of groupMessages">
          <span *ngIf="message.message" style="text-align: center;color: dimgray;"><b style="
        font-size: 10px;text-align: center;color: dimgray;"></b>{{message.message}}</span><br>
      <div *ngIf="message.text" [class]="message.sender?.uid === loggedInUserData?.uid ? 'message you' : 'message me'">

          <span *ngIf="message.text"><b style="
        font-size: 10px">{{message.sender.name}}:</b></span><br>{{message.text}}</div>
    </div>
    </ion-list>
</ion-content>

<ion-footer no-border *ngIf="userData.role.type !=='designer' && userData.role.type !=='qcinspector'">
    <ion-toolbar>
      <div class="bar bar-footer bar-balanced chat-box-container">
            <ion-input class="chat-editor-box" placeholder="Type Your Message Here.." type="text" [(ngModel)]="messageText" (ionBlur)="checkBlur()"
            (ionFocus)="checkFocus()" (ionInput)="checkInput()"></ion-input>
            <div class="btnSendChatView">
          <button item-right clear (click)='sendMessage()' class = "btnSendChatView">
            <ion-icon name="send" class="btnSendChat"></ion-icon>
          </button>
          </div>
      </div>
    </ion-toolbar>
</ion-footer>
