<ion-content>
  <ion-grid class="">
    <div class="ion-text-start">
      <p class="account">Forgot Password</p>
    </div>
    <ion-row class="login_for">
      <ion-col size="12">
        <h3 class="subtitle">
          Having trouble logging in?
        </h3>
        <p class="registrationtext">To reset your password, enter your registered email address.</p>
      </ion-col>
    </ion-row>


    <ion-row class="login_for">
      <ion-col size="12">
        <form [formGroup]="forgotPasswordForm" novalidate>
          <span class="input-placeholder">Your Email Address*</span>
          <ion-input type="email" class="form_input" type="text" placeholder="Ex. john@wattmonk.com"
            formControlName="email"></ion-input>
          <div class="error_div">
            <div class="error-box"
              *ngIf="forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').dirty">
              <span class="error">{{emailError}}</span>
            </div>
          </div>
          <div class="error_div">
            <div class="error-box"
              *ngIf="forgotPasswordForm.get('email').value === '' && forgotPasswordForm.get('email').dirty ||  (forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid) && forgotPasswordForm.get('email').pristine">
              <span class="error">{{fieldRequired}}</span>
            </div>
          </div>
        </form>

      </ion-col>
    </ion-row>

    <div class="flex bottom_buu">

      <div style="width:100%; margin-left:16px;">
        <ion-button class="buttcan1" fill="clear" (click)="goBack()">
          Cancel
        </ion-button>
      </div>
      <div style="width:5%"></div>
      <div style="width:100% ;margin-right:16px;">
        <ion-button class="buttcc" fill="clear" (click)="resendPassword()">
          Continue
        </ion-button>
      </div>
    </div>
  </ion-grid>
</ion-content>
<app-footer></app-footer>