<ion-content (click)="close()" style="padding-bottom: 250px;">
  <ion-refresher slot="fixed" (ionRefresh)="refreshDesigns($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="listOfDesignDataHelper.length !== 0">
      <ion-row *ngFor="let item of listOfDesignDataHelper;let i = index" class="ion-margin-top">
          <ion-col size="12">
              <span class="ion-padding" *ngIf="today === item.date">
                  Today
                </span>
              <span class="ion-padding" *ngIf="today !== item.date">
                  {{item.date | date: 'dd MMM yyyy'}}
              </span>
          </ion-col>
          <ion-col *ngFor="let designData of item.listOfDesigns;let i = index" size="6">
            <div class="ion-padding custom-card" style="height: 100%;">
                <span class="customer-name" [routerLink]="['/design-details/',designData.id]"
                        routerDirection="forward">{{designData.name}} </span>
                        <span class="ion-text-end timestamp" [routerLink]="['/design-details/',designData.id]">
                            {{designData.created_at | date: 'hh:mm a'}}
                        </span>
                <span class="customer-email" [routerLink]="['/design-details/',designData.id]"
                        routerDirection="forward">{{designData.email}}</span>
                <a href="tel:{{designData.phonenumber}}" style="text-decoration: none;" class="z-100">
                    <span class="customer-phone">{{designData.phonenumber}}</span></a>
                <span class="customer-address z-100"
                        (click)="openAddressOnMap(designData.address)">{{(designData.address | slice:0:60) + (designData.address.length > 60 ? '...' : '')}}</span>

                <ion-row style="margin-bottom: 8px;">
                    <!-- <span class="chipdetail" style="background-color: #95afc0;" >Wattmonk</span> -->
                    <!-- <span class="chipdetail" style="background-color: #95afc0;" >{{designData.formattedjobtype}}</span> -->
                    <ion-col>
                        <span class="chipdetail" style="background-color: rgb(246, 77, 10);" *ngIf="designData.status == 'reviewfailed'">Failed</span>
                        <span class="chipdetail" style="background-color: rgb(109, 187, 26);" *ngIf="designData.status == 'reviewpassed'">Passed</span>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-no-margin ion-no-margin">
                    <ion-col>
                        <span *ngIf="designData.status == 'created' || designData.status == 'requestaccepted'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id)"
                        >Assign</span>
                        <span *ngIf="designData.status == 'outsourced'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id)"
                        >Decline</span>
                        <span *ngIf="designData.status == 'outsourced'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id)"
                        >Accept</span>
                        <span *ngIf="designData.status == 'requestdeclined'"style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id)"
                        >Reassign</span>
                        <span *ngIf="designData.status == 'reviewpassed'" style="float:right !important;" class="ion-text-end action-button-color" (click)="openDesigners(designData.id)"
                        >Deliver</span>

                    </ion-col>
                    <!-- <ion-col class="ion-no-margin ion-no-padding">
                        <ion-button class="ion-no-margin ion-no-padding" fill="clear" [routerLink]="['/surveyprocess/' + designData.id + '/' + designData.jobtype + '/' + designData.latitude + '/' + designData.longitude]"
                        routerDirection="forward">
                            Restart Survey
                        </ion-button>
                    </ion-col> -->
                </ion-row>
                <!-- <ion-progress-bar [value]="1" mode="ios" color="success" class="progress-bar-height"></ion-progress-bar> -->
                  <!-- <span class="ion-text-end timestamp" [routerLink]="['/design-details/',designData.id]" routerDirection="forward">
                        {{designData.deliverydate | date: 'hh:mm a'}}

            </span> -->
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12" style="height: 100px;">
          </ion-col>
      </ion-row>
  </ion-grid>

  <div *ngIf="listOfDesignDataHelper.length === 0" class="h-100 d-flex flex-column align-center justify-center">
      <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
  </div>

</ion-content>

<ion-bottom-drawer [(state)]="drawerState" [minimumHeight]="0" [dockedHeight]="320" [draggable]="false" [disableDrag]="true"
                 [shouldBounce]="true" [distanceTop]="0" class="drawer" style="z-index: 9999 !important;">
  <form [formGroup]="assignForm">
      <ion-grid class="drawer">
          <ion-row>
              <ion-col size="12">
                  <app-user-selector placeholder="Assign" [assignees]="listOfAssignees"
                                     formControlName="assignedto"></app-user-selector>
              </ion-col>
          </ion-row>
          <ion-row style="margin-left: 8px;">
              <ion-col size="12">
                  <span class="input-placeholder">comments</span>
              </ion-col>
              <ion-col size="12" style="padding-top: 0px;">
                  <ion-textarea style="max-width: 98%;" class="ion-no-margin ion-no-padding comment_box" rows="3"
                                formControlName="comment"></ion-textarea>
              </ion-col>
          </ion-row>
          <ion-row style="justify-content: flex-end;">
              <ion-col size="auto" style="padding-top: 0px; margin-right: 6px;">
                  <ion-button class="buttom-drawer-button" (click)="assignToDesigner()">
                      Confirm
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </form>

</ion-bottom-drawer>
