.title {
  font-size: 1.1em;
  top: 12%;
  position: absolute;
}

ion-content{
  --ion-background-color:#FBF9F4;
  padding-bottom: 250px;
  position: sticky;overflow:none;
}

img{
  max-width: 50px;
}

.text-bold {
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
  // color: black;
  font-weight: 600;

}

ion-label{
  color: #3c4257;
  font-size: 12px;
}

ion-icon{
  color: #A5A095;
}

.checkBox{
  color: #A5A095 !important;

}

.box {
  width:auto;
  margin: 0 auto;
  border-color: rgba(0,0,0,.12);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  height: 40px;
    display: flex;
    margin-top:8px;
}

ion-input{
    width: 38vh;
    border: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    --placeholder-color:rgba(0,0,0,0.87);
    font-size: 0.8em;
}

ion-item.ion-invalid.ion-untouched.ion-dirty {
  border-color: var(--ion-color-danger) ;
}

ion-item.ion-invalid.ion-touched.ion-pristine {
  border-color: var(--ion-color-danger) ;
}

ion-item.ion-invalid.ion-touched.ion-dirty {
border-color: var(--ion-color-danger) ;
}

ion-item.ion-valid.ion-untouched.ion-dirty {
border-color: green ;
}

ion-item.ion-valid.ion-touched.ion-dirty {
border-color: green ;
}

ion-item{
  --ion-background-color:white !important;
}


ion-item.item-input.ion-focusable.item-has-focus{
  border-color: #EDC773 !important;
}



ion-content.login-background {
  --background: white;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-background {
  background-color: #FBF9F4;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}



.subtitle-sub-text {
  font-size: 1.8em;
  color: #A5A095;
}

.forgot-password-text {
  color: #7DA4DD;
}

.email_valid {
  color: #495057 !important;
}

.password_box {
  display: flex;

}

.password_input {
  // margin-bottom: -5px;
  font-size: 14px;
}

.eye_box {
  display: flex;
  align-items: center;

}

.error {
  color: rgb(223, 62, 62);
  font-size: 11px;
  margin-left: 5px;
}

.actionlink{
  color: #f1ad1a;
  text-decoration: none;
  text-align: end; 
  margin: 0px;
  padding: 0px; 
  font-size: 14px;
  float: right;
}

.signupactionlink{
  color: #f1ad1a;
  text-decoration: none;
}

ion-icon{
  color: #212529;
}

.actionlink:hover{
  text-decoration: none;
}

.registrationtext{
  color: #3c4257;
  font-size: 15px;
}


.SignInBtn{
  --background:#EDC773;
    color: #212529;
    width: auto;
    height: 36px;
    --border-radius: 4px;
    display: block;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 0px;
}

.Footer1{
  padding: 6px;
  font-size: 0.7em;
  color: #A5A095;
}

.Footer2{
  font-size: 0.7em;
  color: #A5A095;
}