.title {
  font-size: 1.1em;
  top: 12%;
  position: absolute;
}

ion-content{
  --ion-background-color:#FBF9F4;
  padding-bottom: 250px;
  position: sticky;overflow:none;
}

img{
  max-width: 50px;
}

.text-bold {
  font-weight: bold;
}

.subtitle {
  font-size: 25px;
  color: black;
  font-weight: bold;

}

ion-label{
  color: #A5A095;
  font-size: 0.9em;
}

ion-icon{
  color: #A5A095;
}

.checkBox{
  color: #A5A095 !important;

}

.box {
  width:auto;
  margin: 0 auto;
  border-color: #403E39;
  border-width: thin;
  border-style: solid;
  border-radius: 0.4em;
}

ion-input{
    width: 38vh;
    border: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
}

ion-content.login-background {
  --background: white;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-background {
  background-color: #FBF9F4;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}



.subtitle-sub-text {
  font-size: 1.8em;
  color: #A5A095;
}

.forgot-password-text {
  color: #7DA4DD;
}

.email_valid {
  color: #495057 !important;
}

.password_box {
  display: flex;

}

.password_input {
  margin-bottom: -5px;
  font-size: 14px;
}

.eye_box {
  display: flex;
  align-items: center;
}

.error {
  color: rgb(223, 62, 62);
  font-size: 11px;
  margin-left: 5px;
}

.actionlink{
  color: #EDC773;
  text-decoration: none;
}

.actionlink:hover{
  text-decoration: none;
}

.registrationtext{
  color: #A5A095;
  font-size: 15px;
}


.SignInBtn{
  --background:#EDC773;
    color: #434343;
    width: auto;
    height: 49px;
    border-radius: 7px;
    display: block;
    font-size: 19px;
}

.Footer1{
  padding: 6px;
  font-size: 0.7em;
  color: #A5A095;
}

.Footer2{
  font-size: 0.7em;
  color: #A5A095;
}
