<!--<ion-header>
  <ion-toolbar>
    <ion-title>Home
      <div style="float: right;display: flex; width:30%">
     <div ><ion-img src="/assets/images/icons8-search.svg" class="notification-icon" ></ion-img></div>
     <div  style="float: right;" [routerLink]="['/profile']" routerDirection="forward">
      <ion-img src="/assets/images/notification.svg" class="notification-icon"></ion-img>
       <span class="badge">
                  4
              </span>
  </div></div>
    </ion-title>
    </ion-toolbar>

</ion-header>-->

<ion-content style="position: relative;">
  <ion-grid>
    <ion-row class="ion-align-items-center">
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button mode="md"></ion-menu-button>
      </ion-buttons>
    <ion-row class="ion-align-items-center">
        <ion-col>
            <h1 class="ion-no-padding ion-no-margin home">Permit</h1>
        </ion-col>
        <!-- <ion-col *ngIf="showSearchBar === true" >
            <ion-searchbar debounce="0" placeholder="home" class="custom"></ion-searchbar>
        </ion-col> -->
        <ion-col style="text-align: right;">
          <a style="font-size: 12px;font-weight: 500;" (click)="goToJobListing()">Job Listing</a>
        </ion-col>
        <ion-col size="auto">
            <div class="notification-padding" (click)="searchbar()">
                <ion-img src="/assets/images/icons8-search.svg" class="notification-icon"></ion-img>
            </div>
        </ion-col>
        <ion-col size="auto" style="position: relative;">
            <div class="notification-padding" [routerLink]="['/notification']" routerDirection="forward" (click)="setzero()">
                <ion-img src="/assets/images/notification.svg" class="notification-icon"></ion-img>
               <span class="badge" *ngIf="unreadCount > 0">
                            {{unreadCount > 99 ? '99+' : unreadCount }}
                        </span>
            </div>
        </ion-col>
    </ion-row>
</ion-toolbar>
</ion-row>
</ion-grid>



</ion-content>
<ion-tabs style="margin-top: 52px;">
  <ion-tab-bar slot="top">
    <ion-tab-button tab="permitnewdesign">
      <ion-label class="font">In Designing</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="permitcompleted">
      <ion-label class="font">Completed</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="permitInreview">
      <ion-label class="font">In Review</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="permitdelivered">
      <ion-label class="font">Delivered</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!--
<ion-footer class="ion-no-border white-bg">
  <div class="position-relative">
    <ion-grid class="bottom-bar ion-no-margin ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="tab">
            <ion-img src="/assets/images/home-outline.svg" class="tab-icon"></ion-img>
            <span class="tabText">Home</span>
          </div>
        </ion-col>
        <ion-col size="4" [routerLink]="['/message']">
          <div class="tab">
            <ion-img src="/assets/images/message-outline.svg" class="tab-icon"></ion-img>
            <span class="tabText">Messages</span>
          </div>
        </ion-col>
        <ion-col size="6" [routerLink]="['/profile']" routerDirection="forward">
          <div class="tab">
            <ion-img src="/assets/images/account-outline.svg" class="tab-icon"></ion-img>
            <span class="tabText">Profile</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer> -->
