<ion-content *ngIf="isdataloaded">
  <ion-grid class="ion-no-padding">
    <ion-row class="imagearea">

    </ion-row>
    <ion-row class="captureactionarea">
      <ion-col style="text-align: center;">
        <a href ="#" class="btn-link">
          <div class="button">
             <img src="/assets/images/photogallery.svg" alt="img" >
             <span>Gallery</span>
          </div>
       </a>
      </ion-col>
      <ion-col style="text-align: center;">
        <a href ="#" class="btn-link">
          <div class="button">
             <img src="/assets/images/camera.svg" alt="img" >
             <span>Camera</span>
          </div>
       </a>
      </ion-col>
    </ion-row>
    <ion-row class="childbuttons ion-justify-content-center submenubuttonscontainer">
      <div #submenuscroll class="scroll" scrollX="true">
        <ng-container
                *ngFor="let button of mainmenuitems[selectedmainmenuindex].children; let i = index">
                <ion-button *ngIf="button.isvisible" id="submenu{{i}}" fill="clear"
                [ngClass]="[ button.isactive ? 'button active' : 'button normal']">{{button.name}}</ion-button>
              </ng-container>
      </div>
    </ion-row>
    <ion-row class="mainbuttons mainbuttonscontainer">
      <div #mainscroll class="scroll" scrollX="true">
        <ng-container *ngFor="let button of mainmenuitems; let i = index">
          <a href ="#" id="mainmenu{{i}}" class="btn-link" *ngIf="button.isvisible">
            <div [ngClass]="[ button.isactive ? 'button active' : 'button normal']">
               <img src="/assets/images/notification.svg" alt="img" >
               <span>{{button.name}}</span>
            </div>
         </a>
        </ng-container>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>