<ion-content *ngIf="isdataloaded">
  <ion-grid class="ion-no-padding">
    <div class="imagecontainer">
      <div class="mainimage">
        <img src="{{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].sampleimage}}" width="100%" height="100%"/>
      </div>
      <div class="infobar">
        <ion-row>
          <ion-col size="2" style="text-align: left;">
            <ion-icon class="actionbutton" name="arrow-back-outline"></ion-icon>
          </ion-col>
          <ion-col size="8" style="text-align: center;">
            <p class="shotinfo">
              {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].shotinfo}}
            </p>
          </ion-col>
          <ion-col size="2" style="text-align: right;">
            <ion-icon class="actionbutton" name="information-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div class="gallerystack" *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].capturedshots.length > 0">
        <div class="scroll" scrollX="true">
          <ion-button color="dark" class="cameraimagesbutton"
          *ngFor="let shot of this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].capturedshots; let i = index">
              <img [src]="shot.shotimage"/>
          </ion-button>
        </div>
      </div>
    </div>
    <ion-row class="captureactionarea">
      <ion-col style="text-align: center;">
        <a href="#" class="btn-link">
          <div class="button">
            <img src="/assets/images/photogallery.svg" alt="img">
            <span>Gallery</span>
          </div>
        </a>
      </ion-col>
      <ion-col style="text-align: center;">
        <a href="#" class="btn-link">
          <div class="button">
            <img src="/assets/images/camera.svg" alt="img">
            <span>Camera</span>
          </div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="childbuttons ion-justify-content-center submenubuttonscontainer">
      <div #submenuscroll class="scroll" scrollX="true">
        <ng-container *ngFor="let button of mainmenuitems[selectedmainmenuindex].children; let i = index">
          <ion-button *ngIf="button.isvisible" id="submenu{{i}}" fill="clear"
            [ngClass]="[ button.isactive ? 'button active' : 'button normal']">{{button.name}}</ion-button>
        </ng-container>
      </div>
    </ion-row>
    <ion-row class="mainbuttons mainbuttonscontainer">
      <div #mainscroll class="scroll" scrollX="true">
        <ng-container *ngFor="let button of mainmenuitems; let i = index">
          <a href="#" id="mainmenu{{i}}" class="btn-link" *ngIf="button.isvisible">
            <div [ngClass]="[ button.isactive ? 'button active' : 'button normal']">
              <img src="/assets/images/{{button.name | lowercase}}.svg" alt="img">
              <span>{{button.name}}</span>
            </div>
          </a>
        </ng-container>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>