<ion-content *ngIf="isdataloaded" class="no-scroll">
  <!-- PICTURE TAKING MODE VIEW -->
  <div class="picturemodecontainer" [ngClass]="[ blurcaptureview ? 'blurbackground' : '']">
    <ion-grid class="ion-no-padding" style="overflow-y: hidden;">
      <ion-row class="captureactionareacontainer"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].existenceresult && this.mainmenuitems[this.selectedmainmenuindex].viewmode == ViewModes.CAMERA">
        <ion-row class="imagecontainer" [style.height.px]="cameraspaceremainingheight">
          <div class="mainimage"
            *ngIf="!this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].shotstatus">
            <img
              src="/assets/surveysampleimages/{{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].imagename}}.jpg"
              [style.height.px]="cameraspaceremainingheight" />
          </div>
          <div class="mainimage"
            *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].shotstatus">
            <img #watermarkedimage
              src="{{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].capturedshots[this.selectedshotindex].shotimage}}"
              [style.height.px]="cameraspaceremainingheight" />
          </div>
          <ion-row class="gallerystack">
            <div class="scroll" scrollX="true">
              <ng-container
                *ngFor="let shot of this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].capturedshots; let shotindex = index">
                <ion-button color="dark" (click)="selectcapturedshot($event, shotindex)" [ngClass]="[ this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[shotindex].required ? 'cameraimagesbutton required' : 'cameraimagesbutton']">
                  <img class="shotimage" *ngIf="!shot.imagecleared" [src]="shot.shotimage" />
                  <img class="noimage" *ngIf="shot.imagecleared" src="/assets/images/noimage.png" />
                </ion-button>
              </ng-container>
            </div>
          </ion-row>
        </ion-row>
        <ion-row class="captureactionarea"
          *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].ispending">
          <ion-col style="text-align: center;">
            <a href="" class="btn-link" (click)="openPhotoGalleryToSelectPic($event)">
              <div class="button">
                <img src="/assets/images/photogallery.svg" alt="img">
                <span>Gallery</span>
              </div>
            </a>
          </ion-col>
          <ion-col style="text-align: center;">
            <a href="" class="btn-link" (click)="openCameraToCapturePic($event)">
              <div class="button">
                <img src="/assets/images/camera.svg" alt="img">
                <span>Camera</span>
              </div>
            </a>
          </ion-col>
        </ion-row>
        <ion-row class="retakeshotarea"
          *ngIf="!this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].ispending">
          <ion-col style="text-align: center;">
            <a href="" class="btn-link" (click)="allowusertorecaptureshot($event)">
              <div class="button">
                <img src="/assets/images/retake.svg" alt="img">
                <span>Retake</span>
              </div>
            </a>
          </ion-col>
        </ion-row>
      </ion-row>
      <div class="detailsformviewcontainer"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].existenceresult && this.mainmenuitems[this.selectedmainmenuindex].viewmode == ViewModes.FORM"
        [style.height.px]="detailsviewremainingheight">
        <form [formGroup]="activeForm" class="additionalform ion-margin">
          <ion-grid class="ion-padding text-white additionalformgrid">
            <div
              *ngFor="let formElement of this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].formelements; let itemindex = index"
              class="" [attr.id]="'input_' + formElement.inputformcontrol">
              <ion-row>
                <ion-col>
                  <div class="ion-margin-top">
                    <ion-label position="fixed">{{formElement.label}}</ion-label>
                  </div>
                  <div *ngIf="formElement.controltype === ControlTypes.CONTROL_INPUT_TEXT">
                    <ion-input style="border: 1px solid #FFFFFF;" [placeholder]="formElement.placeholder"
                      autocomplete="off" [formControlName]="formElement.inputformcontrol">
                    </ion-input>
                  </div>
                  <div *ngIf="formElement.controltype === ControlTypes.CONTROL_INPUT_NUMBER">
                    <ion-input class="form-control" type="number" [placeholder]="formElement.placeholder"
                      autocomplete="off" [formControlName]="formElement.inputformcontrol">
                    </ion-input>
                  </div>
                  <div *ngIf="formElement.controltype === ControlTypes.CONTROL_INPUT_RADIO">
                    <ion-radio-group class="white-translucent-bg"
                      (ionChange)="toggleElementVisibility(formElement.inputformcontrol, formElement.controlselement)"
                      [formControlName]="formElement.inputformcontrol">
                      <ion-item *ngFor="let option of formElement.options" class="whiteradioitem">
                        <ion-label>{{option.label}}</ion-label>
                        <ion-radio slot="start" [value]="option.value"></ion-radio>
                      </ion-item>
                    </ion-radio-group>
                  </div>
                  <div *ngIf="formElement.controltype === ControlTypes.CONTROL_INPUT_TEXTAREA">
                    <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                      [placeholder]="formElement.placeholder" [formControlName]="formElement.inputformcontrol">
                    </ion-textarea>
                  </div>
                  <div *ngIf="formElement.controltype === ControlTypes.CONTROL_MULTIPLE_FILE_UPLOAD">
                    <ion-row>
                      <ion-col size="12">
                        <ng-container>
                          <ion-item class="ion-no-padding">
                            <input #multiplefileuploadinput [id]="itemindex" type="file" class="form_input"
                              (change)="addselectedfiles($event, multiplefileuploadinput.id)" style="margin-top: 12px"
                              [formControlName]="formElement.inputformcontrol" multiple />
                            <ion-icon name="attach-outline" slot="end" style="margin-top: 21px"></ion-icon>
                          </ion-item>
                          <ion-row>
                            <ion-col size="12">
                              <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2 (ionSlideDidChange)="
                                      SlideDidChange(formElement.fileurls, slideWithNav2)
                                    ">
                                <ion-slide *ngFor="let fileurl of formElement.fileurls; let i = index">
                                  <div>
                                    <img [src]="fileurl" style="height: 10rem; width: 10rem; border: 3px solid black;"
                                      alt="file" />
                                    <ion-icon class="remove" name="close-circle-outline"
                                      (click)="removeselectedfile(i, multiplefileuploadinput.id)"></ion-icon>
                                  </div>
                                </ion-slide>
                              </ion-slides>
                            </ion-col>
                          </ion-row>
                        </ng-container>
                      </ion-col>
                    </ion-row>
                  </div>
                  <div *ngIf="formElement.controltype === ControlTypes.CONTROL_SINGLE_FILE_UPLOAD">
                    <ion-row>
                      <ion-col size="12">
                        <ng-container>
                          <ion-item class="ion-no-padding">
                            <input #singlefileuploadinput [id]="itemindex" type="file" class="form_input"
                              accept="image/*" (change)="addselectedfiles($event, singlefileuploadinput.id)"
                              style="margin-top: 12px" [formControlName]="formElement.inputformcontrol"
                              multiple="false" />
                            <ion-icon name="attach-outline" slot="end" style="margin-top: 21px"></ion-icon>
                          </ion-item>
                          <ion-row *ngIf="formElement.fileurls.length > 0">
                            <ion-col size="12">
                              <div>
                                <img [src]="formElement.fileurls[0]"
                                  style="height: 10rem; width: 10rem; border: 3px solid black;" alt="file" />
                                <ion-icon class="remove" name="close-circle-outline"
                                  (click)="removeselectedfile(0, singlefileuploadinput.id)"></ion-icon>
                              </div>
                            </ion-col>
                          </ion-row>
                        </ng-container>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
          <ion-button class="yellow-button-color ion-float-left ion-margin-top" fill="clear"
            (click)="savedataandclose()">
            Save & Close
          </ion-button>
          <ion-button class="yellow-button-color ion-float-right ion-margin-top" fill="clear" (click)="saveFormData()">
            Submit
          </ion-button>
        </form>
      </div>
      <div class="noviewmodecontainer"
        *ngIf="!this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].existenceresult"
        [style.height.px]="noviewremainingheight">
        <ion-grid class="noviewmodegrid">
          <ion-row>
            <ion-col class="ion-text-center" size="12">
              <ion-toggle class="modetoggle" (ionChange)="onchildmodechange($event)"></ion-toggle>
            </ion-col>
            <ion-col class="ion-text-center" size="12">
              <p>Section has been turned off</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-row class="childbuttons ion-justify-content-center submenubuttonscontainer">
        <div #submenuscroll class="scroll" scrollX="true">
          <ng-container *ngFor="let button of mainmenuitems[selectedmainmenuindex].children; let i = index">
            <ion-button *ngIf="button.isvisible && button.shots.length > 0" id="submenu{{i}}" fill="clear"
              (click)="selectsubmenu(i)" [ngClass]="[ button.isactive ? 'button active' : 'button normal']">
              {{button.name}}({{button.shotscapturedcount}}/{{button.shots.length}})</ion-button>
            <ion-button *ngIf="button.isvisible && button.shots.length == 0" id="submenu{{i}}" fill="clear"
              (click)="selectsubmenu(i)" [ngClass]="[ button.isactive ? 'button active' : 'button normal']">
              {{button.name}}</ion-button>
          </ng-container>
        </div>
      </ion-row>
      <ion-row class="mainbuttons mainbuttonscontainer">
        <div #mainscroll class="scroll" scrollX="true">
          <ng-container *ngFor="let button of mainmenuitems; let i = index">
            <a id="mainmenu{{i}}" *ngIf="button.isvisible" (click)="selectmainmenu(i)"
              [ngClass]="[button.ispending ? 'btn-link' : 'btn-link completed']">
              <div [ngClass]="[button.isactive ? 'button active' : 'button normal']">
                <img *ngIf="button.isactive" src="/assets/images/{{button.name | lowercase}}active.svg" alt="img">
                <img *ngIf="!button.isactive" src="/assets/images/{{button.name | lowercase}}.svg" alt="img">
                <span>{{button.name}}</span>
              </div>
            </a>
          </ng-container>
        </div>
      </ion-row>
      <div class="infobar">
        <ion-row>
          <ion-col size="2" style="text-align: left;">
            <ion-icon style="margin-left: 20px;" (click)="handleSurveyExit()" class="actionbutton"
              name="arrow-back-outline"></ion-icon>
          </ion-col>
          <ion-col size="8" style="text-align: center;">
            <p class="shotinfo" *ngIf="this.mainmenuitems[this.selectedmainmenuindex].viewmode == ViewModes.CAMERA">
              <span
                *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].required">*</span>{{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].shotinfo}}
            </p>
          </ion-col>
          <ion-col size="2" style="text-align: right;">
            <ion-icon
              *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots.length > 0"
              style="margin-right: 20px;" class="actionbutton" name="information-outline"
              (click)="toggleshotdetailsview(true)"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
  <!-- CHECK EXISTENCE VIEW -->
  <div class="checkexistenceviewcontainer"
    *ngIf="isdataloaded && this.mainmenuitems[this.selectedmainmenuindex].viewmode == ViewModes.CAMERA && this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].checkexistence && !this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].isexistencechecked">
    <ion-grid class="checkexistenceview">
      <!-- Row for choice questions -->
      <ion-row class="checkexistenceview-row ion-padding-horizontal">
        <ion-col size="12">
          <p>
            {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].placeholder}}
          </p>
          <ion-row class="ion-float-right">
            <ion-button fill="clear" size="small" class="yellow-button-color" (click)="handleExistence(true)">Yes
            </ion-button>
            <ion-button fill="clear" size="small" class="yellow-button-color" (click)="handleExistence(false)">No
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- QUESTIONARE VIEW -->
  <div class="questionaireviewcontainer"
    *ngIf="isdataloaded && this.mainmenuitems[this.selectedmainmenuindex].viewmode == ViewModes.CAMERA && this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].promptquestion">
    <ion-grid class="questionaireview">

      <!-- Row for choice questions -->
      <ion-row class="questionaireview-row ion-padding-horizontal"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].questiontype === QuestionTypes.OPTIONS">
        <ion-col size="12" class="questionaireview-col">
          <p>
            {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].question}}
          </p>
          <ion-row class="ion-float-right ion-margin-top">
            <ion-col size="6"
              *ngFor="let action of this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].actions">
              <ion-button fill="clear" size="small" class="yellow-button-color"
                (click)="handleAnswerSubmission(action)">{{action | titlecase}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Row for input number questions -->
      <ion-row class="questionaireview-row ion-padding-horizontal"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].questiontype === QuestionTypes.INPUT_NUMBER">
        <ion-col size="12" class="questionaireview-col">
          <p>
            {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].question}}
          </p>
          <form [formGroup]="activeForm" novalidate>
            <ion-input type="number" class="form-control" autocomplete="off"
              formControlName="{{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol}}">
            </ion-input>
            <div class="error_div">
              <div
                *ngIf="activeForm.get(this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol).value === '' && activeForm.get(this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol).dirty">
                <span class="error">Field input is required.</span>
              </div>
            </div>
          </form>
          <ion-row class="ion-float-right ion-margin-top">
            <ion-button fill="clear" size="small" class="yellow-button-color"
              (click)="handleInputSubmission(activeForm)">
              {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].actions[0]
              | titlecase}}
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Row for input text questions -->
      <ion-row class="questionaireview-row ion-padding-horizontal"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].questiontype === QuestionTypes.INPUT_TEXT">
        <ion-col size="12" class="questionaireview-col">
          <p>
            {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].question}}
          </p>
          <form [formGroup]="activeForm" novalidate>
            <ion-input class="form-control" autocomplete="off"
              formControlName="{{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol}}">
            </ion-input>
            <div class="error_div">
              <div
                *ngIf="activeForm.get(this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol).value === '' && activeForm.get(this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol).dirty">
                <span class="error">Field input is required.</span>
              </div>
            </div>
          </form>
          <ion-row class="ion-float-right ion-margin-top">
            <ion-button fill="clear" size="small" class="yellow-button-color"
              (click)="handleInputTextSubmission(activeForm)">
              {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].actions[0]
              | titlecase}}
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Row for utilities questions -->
      <ion-row class="questionaireview-row ion-padding-horizontal"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].questiontype === QuestionTypes.INPUT_UTILITIES_AUTOCOMPLETE">
        <ion-col size="12" class="questionaireview-col">
          <p>
            {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].question}}
          </p>
          <form [formGroup]="activeForm" novalidate class="inputform">
            <app-auto-complete [dataList]="utilities" class="form-control" mode="object"
              formControlName="{{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol}}"
              #make>
            </app-auto-complete>
            <div class="error_div">
              <div
                *ngIf="activeForm.get(this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol).value === '' && activeForm.get(this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol).dirty">
                <span class="error">Field input is required.</span>
              </div>
            </div>
          </form>
          <ion-row class="ion-float-right ion-margin-top">
            <ion-button fill="clear" size="small" class="yellow-button-color" (click)="handleUtilitySubmission()">
              {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].actions[0]
              | titlecase}}
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Row for roof materials questions -->
      <ion-row class="questionaireview-row ion-padding-horizontal"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].questiontype === QuestionTypes.INPUT_ROOF_MATERIAL_AUTOCOMPLETE">
        <ion-col size="12" class="questionaireview-col">
          <p>
            {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].question}}
          </p>
          <form [formGroup]="activeForm" novalidate class="inputform">
            <app-auto-complete [dataList]="roofmaterials" class="form-control" mode="object"
              formControlName="{{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol}}"
              #make>
            </app-auto-complete>
            <div class="error_div">
              <div
                *ngIf="activeForm.get(this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol).value === '' && activeForm.get(this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].inputformcontrol).dirty">
                <span class="error">Field input is required.</span>
              </div>
            </div>
          </form>
          <ion-row class="ion-float-right ion-margin-top">
            <ion-button fill="clear" size="small" class="yellow-button-color" (click)="handleRoofMaterialSubmission()">
              {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].actions[0]
              | titlecase}}
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Row for inverter make and model questions -->
      <ion-row class="questionaireview-row ion-padding-horizontal"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].questiontype === QuestionTypes.INPUT_INVERTER_AUTOCOMPLETE">
        <ion-col size="12" class="questionaireview-col">
          <p>
            {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].question}}
          </p>
          <form [formGroup]="activeForm" novalidate class="inputform">
            <app-auto-complete placeholder="inverter make*" [dataList]="invertermakes" class="form-control"
              mode="object" formControlName="invertermake" #invertermake>
            </app-auto-complete>
            <div class="error_div ion-margin-bottom">
              <div *ngIf="activeForm.get('invertermake').value === '' && activeForm.get('invertermake').dirty">
                <span class="error">Field input is required.</span>
              </div>
            </div>
            <app-auto-complete placeholder="inverter model*" [dataList]="invertermodels"
              class="form-control ion-margin-top" mode="object" formControlName="invertermodel" #invertermodel>
            </app-auto-complete>
            <div class="error_div">
              <div *ngIf="activeForm.get('invertermodel').value === '' && activeForm.get('invertermodel').dirty">
                <span class="error">Field input is required.</span>
              </div>
            </div>
          </form>
          <ion-row class="ion-float-right ion-margin-top">
            <ion-button fill="clear" size="small" class="yellow-button-color"
              (click)="handleInverterFieldsSubmission()">
              {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].actions[0]
              | titlecase}}
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Row for question type SHOT Name -->
      <ion-row class="questionaireview-row ion-padding-horizontal"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].questiontype === QuestionTypes.INPUT_SHOT_NAME">
        <ion-col size="12" class="questionaireview-col">
          <p>
            {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].question}}
          </p>
          <form [formGroup]="activeForm" novalidate>
            <ion-input type="text" class="form-control" autocomplete="off" formControlName="shotname">
            </ion-input>
            <div class="error_div">
              <div *ngIf="activeForm.get('shotname').value === '' && activeForm.get('shotname').dirty">
                <span class="error">Field input is required.</span>
              </div>
            </div>
          </form>
          <ion-row class="ion-float-right">
            <ion-button fill="clear" size="small" class="yellow-button-color" (click)="handleShotNameSubmission()">
              {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].actions[0]
              | titlecase}}
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Row for input two dimensions question -->
      <ion-row class="questionaireview-row ion-padding-horizontal"
        *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].questiontype === QuestionTypes.INPUT_MULTI_NUMBER">
        <ion-col size="12" class="questionaireview-col">
          <p>
            {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].question}}
          </p>
          <form [formGroup]="activeForm" novalidate>
            <ion-row>
              <ion-col *ngFor="let fieldname of this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].forminputfields; let i = index">
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                  <ion-input type="number" class="form-control" autocomplete="off" formControlName="{{fieldname}}">
                  </ion-input>
                  <span style="font-size: 24px; font-weight: 600; margin-left: 8px;" *ngIf="i < this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].forminputfields.length - 1">x</span>
                </div>
                <div class="error_div">
                  <div *ngIf="activeForm.get(fieldname).value === '' && activeForm.get(fieldname).dirty">
                    <span class="error">Field input is required.</span>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </form>
          <ion-row class="ion-float-right">
            <ion-button fill="clear" size="small" (click)="handleInputSubmission(activeForm)">
              {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots[this.selectedshotindex].actions[0]
              | titlecase}}
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- SHOT DETAILS VIEW -->
  <div class="infodetailsviewcontainer" *ngIf="showinfodetailsview">
    <ion-grid class="infodetailsview">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-item class="itemtoggle" *ngIf="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].checkexistence">
            <ion-label class="ion-no-margin" style="font-size: 11px;">Toggle {{this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].name}} visibility</ion-label>
            <ion-toggle class="infodetailstoggle"
            [checked]="this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].existenceresult"
            (ionChange)="onchildmodechange($event)"></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-icon name="close-circle-sharp" class="infoclosebutton ion-float-right" (click)="toggleshotdetailsview(false)"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-slides #infoslider pager="true" [options]="infoslideoptions" (ionSlideDidChange)='infoslidechange()'
        class="infoslides">
        <ion-slide style="width: 100%;"
          *ngFor="let shot of this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].shots; let i = index">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <p class="shotindex">Step {{i + 1}}</p>
            </ion-col>
            <ion-col size="12" class="ion-no-padding"><a (click)="selectcapturedshot($event, i)"
                [ngClass]="[ shot.shotstatus ? 'shotinfo completed' : 'shotinfo pending']">
                <ion-icon
                  *ngIf="shot.shotstatus && this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].existenceresult"
                  name="pencil"></ion-icon> {{shot.shotinfo}}
              </a></ion-col>
            <ion-col *ngIf="shot.questiontype != QuestionTypes.NONE" class="ion-no-padding"><a
                (click)="promptstepquestion($event, i)"
                [ngClass]="[ shot.questionstatus ? 'shotquestion completed' : 'shotquestion pending']">
                <ion-icon
                  *ngIf="shot.questionstatus && this.mainmenuitems[this.selectedmainmenuindex].children[this.selectedsubmenuindex].existenceresult"
                  name="pencil"></ion-icon> {{shot.question}}
              </a></ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-grid>
  </div>
</ion-content>