<ion-header class="ion-no-border">
    <ion-grid class="ion-padding header-bg">
        <ion-row>
            <!-- <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
                    <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col> -->
            <ion-col>
                <ion-grid class="ion-align-items-center ion-justify-content-center">
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="title">Change password</span>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <!-- <ion-col size="auto">
                <ion-button fill="clear" disabled="true" size="small" class="ion-no-padding action-icon">
                </ion-button>
            </ion-col> -->
        </ion-row>
    </ion-grid>

    <ion-grid class="position-relative ion-no-padding">
        <ion-row class="ion-no-padding border-header header-half-height">
        </ion-row>
        <ion-row class="ion-no-padding header-half-height">
        </ion-row>
        <ion-row class="ion-no-padding position-absolute header-icon-position full-width">
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
    <div class="ion-padding">
        <ion-grid class="ion-padding">
            <form [formGroup]="changepassword" novalidate>
                <ion-row>
                    <ion-col size="12">
                        <span class="title-text font-color">Welcome!</span>
                    </ion-col>
                    <ion-col size="12">
                        <span class="normal-text font-color">Let us help you yo set a new password instead of using a default one.</span>
                    </ion-col>

                    <ion-col size="12" class="ion-margin-top ion-no-padding">
                        <ion-item class="ion-no-padding">
                            <!-- <div class="password_box"> -->
                                <ion-input type="password" class="password_input font-color" [type]="getType()" placeholder="new password*" formControlName="newpassword">
                                </ion-input>
                                <div class="eye_box">
                                    <ion-icon name="eye" *ngIf="isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-icon>
                                    <ion-icon name="eye-off" *ngIf="!isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-icon>
                                </div>
                            <!-- </div> -->
                        </ion-item>
                        <ion-item class="ion-no-padding">
                            <!-- <div class="password_box"> -->
                                <ion-input type="password" class="password_input font-color" [type]="getnewType()" placeholder="confirm password*" formControlName="confirmpassword">
                                </ion-input>
                                <div class="eye_box">
                                    <ion-icon name="eye" *ngIf="isActiveToggleTextnewPassword" (click)="toggleTextnewPassword()" slot="end"></ion-icon>
                                    <ion-icon name="eye-off" *ngIf="!isActiveToggleTextnewPassword" (click)="toggleTextnewPassword()" slot="end"></ion-icon>
                                </div>
                            <!-- </div> -->
                        </ion-item>
                    </ion-col>
              
                      <!-- <ion-row> -->
                        <ion-col size="12" class="large-margin">
                            <span class="ion-padding-top ion-padding-bottom submit-text action-button-color"
                                  (click)="resetPassword()">Continue</span>
                        </ion-col>
                      <!-- </ion-row> -->

                </ion-row>
            </form>
        </ion-grid>
    </div>

</ion-content>
