<ion-content class="ion-margin-top">
  <!-- <div class="ion-padding"> -->
    <ion-grid class="ion-padding ion-margin">
    <div style="margin-left: -13px;">
      <app-header></app-header>
    </div>
          <!-- <ion-row class="ion-padding-bottom">
              <ion-col size="12" class="ion-no-margin ion-no-padding">
                <span class="Logo">
                    <img src="assets/images/wattmonk_logo.png">
                </span>&nbsp;
                <span class="title text-bold">
                    WattMonk
                </span>
              </ion-col>
          </ion-row> -->
          <form [formGroup]="resetpassword" novalidate>
              <ion-row class="ion-padding-top">
                  <ion-col size="12" style="padding-left: 0px;">
                      <!-- <ion-title><b>Change Password</b></ion-title>  -->
                      <span class="headings">Reset Password</span><br>
                      <span class="normal-text">Let us help you reset your password.</span>
                  </ion-col>
                  <!-- <ion-col size="12" class="ion-padding-top" style="padding-left: 0px;">
                      
                  </ion-col> -->
              </ion-row>
              <ion-row>
                <ion-col size="12" class="ion-margin-top ion-no-padding">
                  <ion-label class="font-color">Email Code*</ion-label>
                  <ion-item class="box" lines="none">
                      <!-- <div class="password_box"> -->
                          <ion-input type="text" style="padding:0px;" class="font-color" formControlName="emailcode">
                          </ion-input>
                          <!-- <div class="eye_box">
                            <ion-icon name="eye" *ngIf="isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-icon>
                            <ion-icon name="eye-off" *ngIf="!isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-icon>
                        </div> -->
                      <!-- </div> -->
                  </ion-item>
                  <!-- <div class="error_div">
                    <div
                        *ngIf="resetpassword.get('emailcode').value === '' && resetpassword.get('emailcode').dirty">
                        <span class="error">{{fieldRequired}}</span>
                    </div>
                </div> -->
                <div class="error_div">
                  <div *ngIf="resetpassword.get('emailcode').invalid && resetpassword.get('emailcode').dirty ||  (resetpassword.get('emailcode').touched && resetpassword.get('emailcode').invalid) && resetpassword.get('emailcode').pristine">
                    <span class="error">{{getEmailCodeErrorMessage()}}</span>
                </div>
                  <!-- <div *ngIf="resetpassword.get('newpassword').hasError('minlength') && resetpassword.get('newpassword').dirty">
                                      <span class="error">{{invalidPassword}}</span>
                                  </div>
                  <div
                      *ngIf="resetpassword.get('newpassword').value === '' && resetpassword.get('newpassword').dirty">
                      <span class="error">{{fieldRequired}}</span>
                  </div> -->
              </div>
              </ion-col>
                  <ion-col size="12" class="ion-margin-top ion-no-padding">
                      <ion-label class="font-color">New Password*</ion-label>
                      <ion-item class="box" lines="none">
                          <!-- <div class="password_box"> -->
                              <ion-input type="password" style="padding:0px;" class="font-color" [type]="getType()" formControlName="newpassword">
                              </ion-input>
                              <div class="eye_box">
                                <ion-icon name="eye" *ngIf="isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-icon>
                                <ion-icon name="eye-off" *ngIf="!isActiveToggleTextPassword" (click)="toggleTextPassword()" slot="end"></ion-icon>
                            </div>
                          <!-- </div> -->
                      </ion-item>
                      <div class="error_div">
                        <div *ngIf="resetpassword.get('newpassword').invalid && resetpassword.get('newpassword').dirty ||  (resetpassword.get('newpassword').touched && resetpassword.get('newpassword').invalid) && resetpassword.get('newpassword').pristine">
                          <span class="error">{{getPasswordErrorMessage()}}</span>
                      </div>
                        <!-- <div *ngIf="resetpassword.get('newpassword').hasError('minlength') && resetpassword.get('newpassword').dirty">
                                            <span class="error">{{invalidPassword}}</span>
                                        </div>
                        <div
                            *ngIf="resetpassword.get('newpassword').value === '' && resetpassword.get('newpassword').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div> -->
                    </div>
                  </ion-col>
                  <ion-col size="12" class="ion-margin-top ion-no-padding">
                      <ion-label class="font-color">Confirm Password*</ion-label>
                      <ion-item class="box" lines="none">
                          <!-- <div class="password_box"> -->
                              <ion-input type="password" style="padding:0px" class="font-color" [type]="getnewType()" formControlName="confirmpassword">
                              </ion-input>
                              <div class="eye_box">
                                  <ion-icon name="eye" *ngIf="isActiveToggleTextnewPassword" (click)="toggleTextnewPassword()" slot="end"></ion-icon>
                                  <ion-icon name="eye-off" *ngIf="!isActiveToggleTextnewPassword" (click)="toggleTextnewPassword()" slot="end"></ion-icon>
                              </div>
                          <!-- </div> -->
                      </ion-item>
                      <div class="error_div">
                        <!-- <div *ngIf="resetpassword.get('confirmpassword').hasError('minlength') && resetpassword.get('confirmpassword').dirty">
                          <span class="error">{{invalidPassword}}</span>
                      </div> -->
                      <div *ngIf="resetpassword.get('confirmpassword').invalid && resetpassword.get('confirmpassword').dirty ||  (resetpassword.get('confirmpassword').touched && resetpassword.get('confirmpassword').invalid) && resetpassword.get('confirmpassword').pristine">
                        <span class="error">{{getConfirmPasswordErrorMessage()}}</span>
                    </div>
                        <!-- <div
                            *ngIf="resetpassword.get('confirmpassword').value === '' && resetpassword.get('confirmpassword').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div> -->
                    </div>
                  </ion-col>
              </ion-row>

                    <ion-row>
                      <ion-col size="12" class="large-margin">
                          <ion-button class=button expand="block"
                                (click)="resetPassword()">Continue</ion-button>
                      </ion-col>
                    </ion-row>
                    <!-- <div style="margin-top: -48px;"> -->
                      
                    <p class="registeredText">Don’t want to reset password?<a style="color: #f1ad1a;margin-top: 0px;" (click)="gotoSignIn()"> Sign in </a></p>
                  <!-- </div> -->

          </form>

      </ion-grid>
  <!-- </div> -->

</ion-content>
<app-footer></app-footer>