<ion-content [ngClass]="{'background-color-transparent': showCameraInterface, 'white-bg': !showCameraInterface}"
             #contentArea>
    <ion-progress-bar [value]="totalPercent" mode="ios" color="success" class="progress-bar-height"></ion-progress-bar>
    <ion-grid class="colored" #header>
        <ion-row justify-content-center>
            <ion-col size="auto" class="ion-no-padding">
                <ion-button fill="clear" size="small" (click)="goBack()">
                    <ion-icon name="chevron-back-outline" color="light"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col class="ion-no-padding end-centered" *ngIf="!showForm">
                <ion-icon name="information-circle" class="info-icon"></ion-icon>
                <span>Capture {{itemName}} {{selectedImageModel.imageTitle}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="ion-no-padding black-bg" *ngIf="!showCameraInterface && !showForm || showImageOptions"
         [style.height.px]="imageAreaHeight">
        <ion-img *ngIf="selectedImageModel.image" [src]="selectedImageModel.image" class="object-fit-contain"></ion-img>
    </div>
    <div class="ion-no-padding" *ngIf="!showCameraInterface && showForm">
        <form [formGroup]="detailsForm" class="white-bg" *ngIf="surveyType === 'battery'">
            <ion-grid class="ion-padding">
                <ion-row>
                    <ion-col size="6">
                        <app-auto-complete [dataList]="listOfSolarMake" placeholder="module make*"
                                           formControlName="modulemake"></app-auto-complete>
                    </ion-col>
                    <ion-col size="6">
                        <app-auto-complete [dataList]="listOfSolarMade" placeholder="module model*"
                                           formControlName="modulemodel"></app-auto-complete>

                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-item class="ion-no-padding">
                            <ion-label style="display: none">battery backup</ion-label>
                            <ion-select class="form_input select_div" placeholder="Battery Backup" ok-text="Ok"
                                        cancel-text="Cancel"
                                        formControlName="batterybackup">
                                <ion-select-option value="whole">Whole</ion-select-option>
                                <ion-select-option value="partial">Partial</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-item class="ion-no-padding">
                            <ion-label style="display: none">Interconnection</ion-label>
                            <ion-select class="form_input select_div" placeholder="Interconnection" ok-text="Ok"
                                        cancel-text="Cancel"
                                        formControlName="interconnection">
                                <ion-select-option value="backfed">Backfed</ion-select-option>
                                <ion-select-option value="dreatemainbreaker">Derate main breaker</ion-select-option>
                                <ion-select-option value="sstwithct">SST with CT</ion-select-option>
                                <ion-select-option value="loadsidetap">Load Side Tap</ion-select-option>
                                <ion-select-option value="sstwithlocationofsst">SST with location of SST
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-item class="ion-no-padding">
                            <ion-label style="display: none">service feed source</ion-label>
                            <ion-select class="form_input select_div" placeholder="service feed source" ok-text="Ok"
                                        cancel-text="Cancel"
                                        formControlName="servicefeedsource">
                                <ion-select-option value="underground">Underground</ion-select-option>
                                <ion-select-option value="overhead">Overhead</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid class="ion-padding">
                <ion-row class="ion-align-items-center ion-justify-content-center">
                    <ion-col *ngIf="prelimUrl === ''">
                        <span>Select Prelim Design</span>
                    </ion-col>
                    <ion-col *ngIf="prelimUrl !== ''">
                        <span>Prelim Design Selected</span>
                    </ion-col>
                    <ion-col size="auto" *ngIf="prelimUrl !== ''">
                        <ion-button (click)="removeFile()" fill="clear">Remove</ion-button>
                    </ion-col>
                    <ion-col size="auto" *ngIf="prelimUrl === ''">
                        <ion-button (click)="selectFile()" fill="clear">Select</ion-button>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-margin-top">
                    <ion-col size="12" class="ion-no-padding">
                        <span class="input-placeholder">additionalNotes</span>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                      formControlName="additionalNotes"></ion-textarea>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col size="auto">
                        <ion-button class="action-button-color" fill="clear" (click)="saveSurvey()">Done</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </form>

        <form [formGroup]="pvDetailsForm" class="white-bg" *ngIf="surveyType !== 'battery'">
            <ion-grid class="ion-padding">
                <ion-row>
                    <ion-col size="12">
                        <ion-item class="ion-no-padding">
                            <ion-label style="display: none">Type of roof material</ion-label>
                            <ion-select class="form_input select_div" placeholder="Type of roof material*" ok-text="Ok"
                                        cancel-text="Cancel"
                                        formControlName="roofMaterial">
                                <ion-select-option value="asphalt">asphalt</ion-select-option>
                                <ion-select-option value="metal">metal</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-item class="ion-no-padding">
                            <ion-label style="display: none">Service feed source</ion-label>
                            <ion-select class="form_input select_div" placeholder="Service feed source*" ok-text="Ok"
                                        cancel-text="Cancel"
                                        formControlName="servicefeedsource">
                                <ion-select-option value="underground">Underground</ion-select-option>
                                <ion-select-option value="overhead">Overhead</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col size="12">
                        <ion-item class="ion-no-padding">
                            <ion-label style="display: none">Any existing solar system</ion-label>
                            <ion-select class="form_input select_div" placeholder="Any Existing Solar System*"
                                        ok-text="Ok"
                                        cancel-text="Cancel"
                                        formControlName="existingSolarSystem">
                                <ion-select-option value="true">Yes</ion-select-option>
                                <ion-select-option value="false">No</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="pvDetailsForm.get('existingSolarSystem').value === 'true'">
                    <ion-col size="12" class="ion-no-padding">
                        <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                      formControlName="existingSolarSystemDetails"
                                      placeholder="Existing solar system details*"></ion-textarea>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-item class="ion-no-padding">
                            <ion-label style="display: none">is it newly constructed house</ion-label>
                            <ion-select class="form_input select_div" placeholder="Is it newly constructed house*"
                                        ok-text="Ok"
                                        cancel-text="Cancel"
                                        formControlName="newConstruction">
                                <ion-select-option value="true">Yes</ion-select-option>
                                <ion-select-option value="false">No</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="pvDetailsForm.get('newConstruction').value === 'true'">
                    <ion-col size="12" class="ion-no-padding">
                        <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                      formControlName="newConstructionplans"
                                      placeholder="New construction plans*"></ion-textarea>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="surveyType === 'pvbattery'">
                    <ion-col size="12">
                        <ion-item class="ion-no-padding">
                            <ion-label style="display: none">Is it newly constructed house</ion-label>
                            <ion-select class="form_input select_div" placeholder="Client require backup system*"
                                        ok-text="Ok"
                                        cancel-text="Cancel"
                                        formControlName="backupsystem">
                                <ion-select-option value="whole">Whole</ion-select-option>
                                <ion-select-option value="partial">Partial</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="surveyType === 'pvbattery'" class="ion-margin-top">
                    <ion-col size="12" class="ion-no-padding">
                        <span class="input-placeholder">Any load not backed up*</span>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                      formControlName="loadnotbackedup"></ion-textarea>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-margin-top">
                    <ion-col size="12" class="ion-no-padding">
                        <span class="input-placeholder">additionalNotes</span>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                      formControlName="additionalNotes"></ion-textarea>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col></ion-col>
                    <ion-col size="auto">
                        <ion-button class="action-button-color" fill="clear" (click)="saveSurvey()">Done</ion-button>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </form>
    </div>
</ion-content>

<ion-footer class="colored ion-no-border">
    <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="showImageOptions">
            <ion-col>
                <span>{{itemName}} {{selectedImageModel.imageTitle}}</span>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" (click)="retakeImage()">Retake</ion-button>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" (click)="shiftToNextImage()">Next</ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="showCameraInterface && !showForm || showImageOptions">
            <ion-col *ngFor="let menu of subMenu; let j = index" class="ion-text-center"
                     (click)="selectSubMenu(menu, j)">
                <ion-row class="ion-align-items-center ion-justify-content-center">
                    <ion-col size="12">
                        <span class="deselected-menu"
                              [ngClass]="{'selected-menu' : menu.isSelected, 'completed-menu': menu.allCaptured}">
                            {{menu.name}}
                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="showCameraInterface && !showForm">
            <ion-col size="4">
            </ion-col>
            <ion-col size="4" class="ion-text-center">
                <span class="camera-button" (click)="takePicture()"></span>
            </ion-col>
            <ion-col size="4" class="ion-align-items-center ion-justify-content-center ion-text-center">
                <ion-item *ngIf="listOfImages.length != 0" lines="none" (click)="openGallery()">
                    <ion-img [src]="listOfImages[listOfImages.length-1]" class="gallery-image"></ion-img>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin ion-padding-top">
            <ion-col *ngFor="let menu of mainMenu; let i = index" class="ion-text-center ion-no-padding ion-no-margin">
                <ion-row class="ion-align-items-center ion-justify-content-center" (click)="selectMenu(menu, i)">
                    <ion-col size="12" class="ion-no-margin ion-no-padding">
                        <span class="deselected-menu" [ngClass]="{'selected-menu' : menu.isSelected}">
                            {{menu.name}}
                        </span>
                    </ion-col>
                    <ion-col size="12" *ngIf="menu.isSelected" class="ion-no-margin ion-no-padding ion-text-center">
                        <span class="selected-main-menu"></span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="6" class="ion-text-center" (click)="saveForLater()">
                Save/Home
            </ion-col>
            <ion-col size="6" class="ion-text-center" (click)="goBack()">
                Discard Changes
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>

