<ion-content>
  <div *ngFor="let design of listOfDesigns" class="ion-no-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <span class="ion-padding">
            {{design.date}}
          </span>
        </ion-col>
        <ion-col *ngFor="let customer of design.designs" size="6">
          <div class="ion-padding custom-card">
            <span class="customer-name">{{customer.customer}}</span>
            <span class="customer-email">{{customer.customerEmail}}</span>
            <span class="customer-phone">{{customer.customerPhone}}</span>
            <span class="customer-address">{{customer.customerAddress}}</span>
            <span class="ion-text-end action-button-color">Assign</span>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
