<ion-content class="white-bg">
    <ion-grid slot="fixed" style="top: 0; width: 100vw;">
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="auto">
                <ion-button fill="clear" size="small" (click)="goBack()">
                    <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col class="ion-text-center">
                <span>{{menuName}}</span>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="light" size="small" (click)="showMenu($event)">
                    <ion-icon name="grid-outline" color="dark"></ion-icon>
                </ion-button>
            </ion-col>

        </ion-row>
        <ion-row *ngIf="menuName === 'Electricals'">
            <ion-col>
                <ion-segment mode="ios" class="segments" (ionChange)="onTabSelected($event)">
                    <ion-segment-button value="mspimages">
                        <ion-label>MSP</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="utilitymeterimages">
                        <ion-label>Utility Meter</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="pvinverterimages">
                        <ion-label>Pv Inverter</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="pvmeterimages">
                        <ion-label>Pv Meter</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="acdisconnectimages">
                        <ion-label>Ac Disconnect</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding" slot="fixed" style="bottom: 0; width: 100vw;" *ngIf="listOfImages.length !== 0">
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col></ion-col>
            <ion-col size="auto"
                     class="white-background ion-align-items-center ion-justify-content-center" style="padding: 8px;">
                <ion-row class="ion-justify-content-center ion-align-items-center">
                    <ion-col>
                        <ion-button fill="clear" size="small" (click)="previousImage()">
                            <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-label>
                            {{currentPosition + 1}}/{{listOfImages.length}}
                        </ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="clear" size="small" (click)="nextImage()">
                            <ion-icon name="chevron-forward-outline" color="dark"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

    <pinch-zoom *ngIf="image" class="full-image white-bg">
        <ion-img [src]="image.url" class="full-image"></ion-img>
    </pinch-zoom>
    <div *ngIf="!image" class="d-flex flex-row align-center justify-center full-image">
        <h1>No image available</h1>
    </div>

</ion-content>


