.address {
    color: #3a7be0;
    margin-left: 2%;
  }
.font{
    font-size: 1.1rem;
    margin-left: 3%;
    }
.error {
        color: rgb(223, 62, 62);
        font-size: 11px;
      }

._padding{
        padding:12px;
    }

    ion-grid{
        padding-top: 0px;
        padding: 14px;
    }

    ion-label {
        color: #6C6C6C !important;
      }