<ion-content style="--background: #FEF8F8;">
   <ion-grid>
    <ion-row >
      <ion-col>
        <ion-item lines="none" style="--background: #FEF8F8;" *ngFor="let notifications of notification">
          <ion-img class="profile-icon" src="/assets/images/icons8-checked.svg"></ion-img>
          <ion-label>
            <h2 style="word-wrap: break-word !important;">{{notifications.message}}</h2>
            <p>{{notifications.created_at | date:'dd/MM/yyyy'}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>