<ion-content style="--background: #e9f1ff;">
   <ion-grid style="text-align: center;">
       <ion-spinner name="dots" *ngIf="!showLoader"></ion-spinner>
    <ion-row *ngIf="notification.length>0;else noNotification">
      <ion-col class="padding_adjust">
        <ion-item lines="none" style="--background: #e9f1ff;" *ngFor="let notifications of notification">
          <ion-img class="profile-icon" src="/assets/images/icons8-checked.svg"></ion-img>
          <ion-label>
            <h2 style="white-space: normal;font-size:14px !important">{{notifications.message}}</h2>
            <p>{{notifications.created_at | date:'dd/MM/yyyy'}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
        <ng-template #noNotification>
          <ion-row>
            <ion-col *ngIf="notification.length==0" style="text-align: center;margin-top: 50%;"> 
              No Notification Found
            </ion-col>
          </ion-row>
        </ng-template>
  </ion-grid>
</ion-content>