<ion-app class="safe-area">
  <!-- <ion-router-outlet></ion-router-outlet>-->
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" (ionWillOpen)="updateMenuState()">
      <ion-content>
        <ion-menu-toggle>
          <ion-header style="text-align: -webkit-center;" mode="md">
            <ion-toolbar style="height: 130px;display: flex;justify-content: center;align-content: center;"
                         routerLink='/profile'>
              <ion-card *ngIf="isEmptyObject(userData?.logo) || userData?.logo ==null"
                        style="height:50px;width:50px;display: flex;justify-content: center;align-items: center;">{{userData?.firstname.slice(0, 1).toUpperCase() + userData?.lastname.slice(0, 1).toUpperCase()}}</ion-card>
              <div *ngIf="!isEmptyObject(userData?.logo) && userData?.logo !==null">
                <img [src]="userData?.logo?.url"
                     style="height:50px;width:auto;display: flex;justify-content: center;align-items: center;"/>
              </div>
              <ion-title style="margin-top:7px">
                <div>
                  {{userData?.firstname.charAt(0).toUpperCase() + userData?.firstname.slice(1) + ' ' + userData?.lastname.charAt(0).toUpperCase() + userData?.lastname.slice(1)}}
                </div>
                <!-- <p
                  style="text-align: center;font-size:9px;margin:0px">{{userData?.role.name == 'Surveyors' ? 'Surveyor' : userData?.role.name}} </p>
                <p style="text-align: center;font-size:9px;margin:0px" *ngIf="userData?.role.type=='peengineer'">({{userData?.peengineertype}})
                   </p> -->
                   <p style="text-align: center;font-size:9px;margin:0px">{{userrole}}
                  </p>
              </ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-menu-toggle>
            <!--  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                  <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                            detail="false" [class.selected]="selectedIndex == i">
                      <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                      <ion-label>{{ p.title }}</ion-label>
                  </ion-item>
              </ion-menu-toggle>-->
              <ion-list id="inbox-list">
              <ion-menu-toggle auto-hide="false">
                    <ion-item *ngIf="userData?.role.type !=='designer' && userData?.role.type !=='surveyors' && userData?.role.type !=='qcinspector' && userData?.role.type !== 'peengineer'" [routerLink]="['/dashboard']" routerDirection="forward" mode="md">
                  <ion-img src="/assets/icon/dashboard.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;<p>Dashboard</p></ion-item>
                <!-- <ion-item [routerLink]="['/onboarding']" routerDirection="forward">
                  <ion-img src="/assets/images/dashboard.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;Dashboard</ion-item> -->
                    <ion-item  (click)="SwitchMenuAccordingtoRoles('prelim')" *ngIf="userData?.role.type!=='surveyors'  && userData?.role.type!=='peengineer'" routerDirection="forward" mode="md">
                       <!-- <ion-img src="/assets/images/design.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;Prelim</ion-item>  -->
                      <ion-img src="/assets/icon/Prelim.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;<p>Prelim
                        <span class="matBadge" *ngIf="(userData?.role.type=='wattmonkadmins' || userData?.role.type=='superadmin') && newprelimscounts > 0">{{ newprelimscounts }}</span></p></ion-item>
                        <ion-item mode="md" *ngIf="userData?.role.type !=='designer' && userData?.role.type !=='surveyors' && userData?.role.type !=='peengineer' && userData?.role.type !=='qcinspector' " (click)="SwitchMenuAccordingtoRoles('survey')" routerDirection="forward">
                          <ion-img src="/assets/icon/Survey.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;Survey</ion-item>
                        <ion-item mode="md" (click)="SwitchMenuAccordingtoRoles('permit')" *ngIf="(userData?.role.type!=='surveyors' && userData?.role.type!=='peengineer') && !utilities.isspecificClient" routerDirection="forward">
                      <ion-img src="/assets/icon/Permit.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;<p>Permit
                        <span class="matBadge" *ngIf="(userData?.role.type=='wattmonkadmins' || userData?.role.type=='superadmin') && newpermitscounts > 0">{{ newpermitscounts }}</span></p>
                      </ion-item>
                        <ion-item mode="md" (click)="SwitchMenuAccordingtoRoles('permit')" *ngIf="(userData?.role.type!=='surveyors' && userData?.role.type!=='peengineer') && utilities.isspecificClient" routerDirection="forward">
                      <ion-img src="/assets/icon/Permit.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;<p>Designs
                        <span class="matBadge" *ngIf="(userData?.role.type=='wattmonkadmins' || userData?.role.type=='superadmin') && newpermitscounts > 0">{{ newpermitscounts }}</span></p>
                      </ion-item>

                     <ion-item mode="md" [routerLink]="['/groups']" routerDirection="forward">
                      <ion-img src="/assets/icon/Inbox.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;Inbox</ion-item>
                      <!-- <ion-item  (click)="SwitchMenuAccordingtoRoles('statistics')" *ngIf="userData?.role.type!='clientsuperadmin'" routerDirection="forward">
                       <ion-img src="/assets/icon/Stats.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;Statistics</ion-item> -->
                       <ion-item mode="md" (click)="SwitchMenuAccordingtoRoles('pestamp')" *ngIf="userData?.role.type!=='bd' && userData?.role.type !=='designer' && userData?.role.type !=='surveyors' && userData?.role.type !=='qcinspector' && userData?.role.type !=='peengineer'" routerDirection="forward">
                        <ion-img src="/assets/icon/PEStamping.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;<p>PE Stamps
                        <span class="matBadge" *ngIf="(userData?.role.type=='wattmonkadmins' || userData?.role.type=='superadmin') && newpestampscount > 0">{{ newpestampscount }}</span></p>
                      </ion-item>
                      <!-- <ion-item mode="md" routerLink="/comingsoon" *ngIf="userData?.role.type!=='bd' && userData?.role.type !=='designer' && userData?.role.type !=='surveyors' && userData?.role.type !=='qcinspector' && userData?.role.type !=='peengineer'" routerDirection="forward">
                        <ion-img src="/assets/images/Team.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;<p>Team
                      </ion-item> -->
                      <ion-item  (click)="SwitchMenuAccordingtoRoles('team')" *ngIf="userData?.usertype=='company'" routerDirection="forward">
                        <ion-img src="/assets/images/Team.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;<p>Team
                      </ion-item>
                      <ion-item  (click)="SwitchMenuAccordingtoRoles('client')" *ngIf="userData?.role.type=='wattmonkadmins' || userData?.role.type=='superadmin'" routerDirection="forward">
                        <ion-img src="/assets/icon/clients.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;<p>Client
                      </ion-item>
              </ion-menu-toggle>
          </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <!--
  <ng-container *ngIf="userData.role.type === 'wattmonkadmins'">
    <ion-item routerDirection="forward">
      <ion-img src="/assets/images/permit.svg" class="tab-icon"></ion-img>&nbsp;&nbsp;<p>Permit
        <span class="matBadge" *ngIf="(userData?.role.type=='wattmonkadmins' || userData?.role.type=='superadmin') && newpermitscounts > 0">{{ newpermitscounts }}</span></p>
      </ion-item>
  </ng-container> -->
</ion-app>
