ion-item.selected {
    --color: var(--ion-color-primary);
  }

  .matBadge {
    top: 0;
  }
  
  .matBadge {
    position: absolute;
    top: 16px;
    border: 1px solid #fff;
    right: 30px;
    font-size: 9px;
    background: #f44336;
    color: #fff;
    min-width: 20px;
    padding: 0 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    display: block;
  }