<ion-header class="ion-no-border ion-padding white-bg">
    <ion-grid class="ion-no-padding ">
        <ion-row class="ion-align-items-center ion-padding-start">
            <ion-col>
                <h1 class="ion-no-padding ion-no-margin">Schedule</h1>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
                    <ion-icon name="close-outline" color="dark" size="large"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-start ion-padding-end">
            <ion-col>
                <span>
                    {{address}}
                </span>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-start ion-padding-end">
            <ion-col class="ion-text-end">
                <span [routerLink]="['/map-page']" routerDirection="forward">
                    Change
                </span>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="ion-margin-start ion-margin-end margin-top">
        <ion-segment mode="ios" class="segments" (ionChange)="segmentChanged($event)" [value]="currentTab">
            <ion-segment-button value="design">
                <ion-label>Design</ion-label>
            </ion-segment-button>
            <ion-segment-button value="survey">
                <ion-label>Survey</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-grid>
</ion-header>

<ion-content>
    <ion-tabs #tabs>
        <ion-tab-bar slot="top" style="display:none;">
            <ion-tab-button tab="design">
                <ion-label>Design</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="survey">
                <ion-label>Survey</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>

<ion-footer class="ion-no-border white-bg">
    <ion-grid *ngIf="currentTab === 'design'">
        <ion-row>
            <ion-col></ion-col>
            <ion-col size="auto">
                <ion-button class="action-button-color" fill="clear" (click)="saveDesignForm()">Done</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="currentTab === 'survey'">
        <ion-row>
            <ion-col size="auto">
                <ion-button class="action-button-color" fill="clear" (click)="saveSurveyForm()">Done</ion-button>
            </ion-col>
            <ion-col></ion-col>
            <ion-col size="auto">
                <ion-button class="action-button-color" fill="clear" (click)="startSurvey()">Start Survey</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
