<ion-header class="ion-no-border white-bg" *ngIf="design">
    <ion-grid class="ion-padding-top ion-padding-start ion-padding-end header-bg">
        <ion-row>
            <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
                    <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" disabled="true" size="small" class="ion-no-padding action-icon">
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-align-items-center ion-justify-content-center">
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="survey-name ion-text-center">{{design.name}}</span>
                    </ion-row>
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="survey-email ion-text-center">{{design.email}}</span>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding" [routerLink]="['/schedule/design/',designId]"
                            routerDirection="forward">
                    <ion-img src="/assets/images/edit.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="deleteDesign()">
                    <ion-img src="/assets/images/trash.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="position-relative ion-no-padding">
        <ion-row class="ion-no-padding border-header header-half-height">
        </ion-row>
        <ion-row class="ion-no-padding header-half-height">

        </ion-row>
        <ion-row class="ion-no-padding position-absolute header-icon-position full-width">
            <ion-col class="flex-center">
                <ion-img src="/assets/images/blueprint.svg" class="header-icon"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding page-text-color">
    <ion-grid *ngIf="design" class="page-text-color">
        <ion-row>
            <ion-col>
                <span (click)="openAddressOnMap(design.address)" class="address">{{design.address}}</span>
            </ion-col>
            <ion-col size="auto" class="ion-text-end">
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col><span class="data-header">monthly bill</span></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span>{{design.monthlybill | currency: 'USD'}}</span></ion-col>
                    </ion-row>
                </ion-grid>

            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="models">Solar Details</span>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">make</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name">{{design.solarmake.name}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">model</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name">{{design.solarmodel.name}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="models">Inverter Details</span>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">make</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name">{{design.invertermake.name}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">model</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name">{{design.invertermodel.name}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">new construction</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name">{{design.newconstruction}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">project type</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name">{{design.projecttype}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">job type</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name">{{design.jobtype}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">roof type</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name">{{design.rooftype}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding ion-margin-top">
            <ion-col size="12" class="ion-no-padding">
                <span class="models">comments</span>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
                <span class="comment">"{{design.comments}}"</span>
            </ion-col>
            <ion-col size="12" class="ion-no-padding ion-text-end">
                <span class="comment-by">Posted by {{design.createdby.firstname}} {{design.createdby.lastname}}</span>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col><span class="model-type">created at</span></ion-col>
            <ion-col size="auto">
                <span class="model-name">{{design.created_at | date: 'dd/MM/yyyy hh:mm a'}}</span>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding ion-margin-top ion-justify-content-center ion-align-items-center"
                 *ngIf="assigned">
            <ion-col class="ion-justify-content-center ion-align-items-center"><span
                    class="model-type">assigned to</span></ion-col>
            <ion-col size="auto">
                <div class="selected d-flex">
                    <img *ngIf="design.assignedto.contractorlogo" [src]="design.assignedto.contractorlogo.logo.url" class="assignee-image"/>
                    <div *ngIf="!design.assignedto.contractorlogo" class="assignee-image d-flex flex-row align-center justify-center">
                        <div class="name_div">
                            <span style="text-transform: capitalize;">{{design.assignedto.firstname.substring(0, 1)}}{{design.assignedto.lastname.substring(0, 1)}}</span>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding ion-margin-top" *ngIf="!assigned">
            <ion-col size="12">
                <form novalidate [formGroup]="assigneeForm">
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-user-selector placeholder="assign" [assignees]="listOfAssignees"
                                           formControlName="assignedto"></app-user-selector>
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer *ngIf="design && !assigned" class="ion-no-border white-bg">
    <ion-grid>
        <ion-row class="ion-text-end ion-align-items-end ion-justify-content-end">
            <ion-col size="auto">
                <ion-button class="action-button-color" fill="clear" (click)="updateAssignee()">Done</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>
