<ion-header class="ion-no-border white-bg" *ngIf="design">
    <ion-grid class="ion-padding-top ion-padding-start ion-padding-end header-bg">
        <ion-row>
            <ion-col size="1">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()" [disabled]="enableDisable">
                    <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <!-- <ion-col size="auto">
                <ion-button fill="clear" disabled="true" size="small" class="ion-no-padding action-icon">
                </ion-button>
            </ion-col> -->
            <ion-col class="ion-text-center" size="9" style="padding-left: 27px;">
                <ion-grid class="ion-align-items-center ion-justify-content-center">
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="survey-name ion-text-center">{{design?.name}}</span>
                    </ion-row>
                    <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="user.designertype!='external'" >
                        <span class="survey-email ion-text-center">{{design?.email}}</span>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col size="1" *ngIf="design.createdby.id == user.id && (design.status == 'created' || design.status == 'requestdeclined')">
                <ion-button fill="clear" size="small" class="ion-no-padding"
                     (click)="scheduleRoute(design)"  routerDirection="forward" [disabled]=enableDisable>
                    <ion-img src="/assets/images/edit.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col size="1" *ngIf="design.createdby.id == user.id && (design.status == 'created' || design.status == 'requestdeclined')">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="deleteDesign()" [disabled]=enableDisable>
                    <ion-img src="/assets/images/trash.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="position-relative ion-no-padding">
        <ion-row class="ion-no-padding border-header header-half-height">
        </ion-row>
        <ion-row class="ion-no-padding header-half-height">

        </ion-row>
        <ion-row class="ion-no-padding position-absolute header-icon-position full-width">
            <ion-col class="flex-center">
                <ion-img src="/assets/detailpage/Prelim.svg" class="header-icon"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding" *ngIf="user.role.type=='designer' || user.role.type=='qcinspector'||(design.status=='reviewassigned' && design.reviewassignedto.id==user.id)">
            <ion-col class="flex-center">
                <countdown-timer [countDownTimerConfig]="timerConfig"></countdown-timer>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding page-text-color" scrollY="true">
    <ion-grid *ngIf="design" class="page-text-color">
        <ion-row *ngIf="user.designertype!='external'">
            <ion-col class="font">
                <span (click)="openAddressOnMap(design.address)" class="address">{{design?.address}}</span>
            </ion-col>
            <ion-col size="auto" class="ion-text-end">
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col><span class="data-header font">annual units</span></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="font"><span>{{design?.monthlybill}} kWh</span></ion-col>
                    </ion-row>
                </ion-grid>

            </ion-col>
        </ion-row>
        <ion-row *ngIf="design.company!== null && design.company!== ''" class="ion-no-padding">
            <ion-col><span class="model-type font">Company</span></ion-col>
            <ion-col size="auto">
                <span class="model-name font fontwt_size"><strong>{{design?.company}}</strong></span>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="models font">Module Details</span>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type font">make</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name font">{{design.solarmake?.name}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type font">model</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name font">{{design.solarmodel?.name}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="models font">Inverter Details</span>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type font">make</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name font">{{design.invertermake?.name}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type font">model</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name font">{{design.invertermodel?.name}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type font">new construction</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name font">{{design?.newconstruction}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-no-padding font">
                        <ng-container *ngIf="design.attachments.length > 0">
                            <ion-col><span class="model-type font">Attachments</span></ion-col>
                            <ion-col size="auto" >
                                <div *ngFor="let attachment of design.attachments;let i=index" style="display: flex;justify-content: flex-end;">
                                    <span class="model-name font" style="color:#3c78d8 !important" (click)="showurl(i,'attachments')">{{attachment?.name}}{{attachment?.ext}}</span>
                                </div>
                            </ion-col>
                        </ng-container>
                    </ion-row>
                    <ion-row *ngIf="design.newconstruction=='Yes'" class="ion-no-padding font">
                        <ng-container *ngIf="design.architecturaldesign !=[]">
                            <ion-col ><span class="model-type font">Architectural design</span></ion-col>
                            <ion-col   size="auto">
                                <div  *ngFor="let archdesign of design.architecturaldesign;let i=index" style="display: flex;justify-content: flex-end;">
                                <span class="model-name font" (click)="showurl(i,'architecturaldesign')" style="color:#3c78d8 !important">{{archdesign?.name}}{{archdesign?.ext}}</span>
                            </div>
                            </ion-col>
                        </ng-container>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type font">project type</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name font">{{design?.projecttype}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <!-- <ion-col><span class="model-type">job type</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name">{{design.jobtype}}</span>
                        </ion-col> -->
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type font">Mounting Type</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name font">{{design?.mountingtype}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="design.mountingtype == 'roof' || design.mountingtype =='both'">
                        <ion-col><span class="model-type font">roof type</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name font">{{design?.rooftype}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="design.mountingtype=='ground' || design.mountingtype == 'both'">
                        <ion-col><span class="model-type font">tilt of ground mounting system</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name font">{{design?.tiltofgroundmountingsystem}}</span>
                        </ion-col>
                    </ion-row>
        <ion-row *ngIf="design.status=='requestdeclined'" class="ion-no-padding ion-margin-top">
            <ion-col size="6"  >
                <span class="model-type font">Reason</span></ion-col>
                <ion-col size="6"  class="ion-no-padding">
                        <p class="model-name font" style="text-align: right;margin:0px">{{design.requestdeclinereason}}</p>
                    </ion-col>
            </ion-row>
                <ion-row *ngIf="design.status=='requestdeclined' && design.requestdeclineattachment.length > 0">
                <ion-col > <span class="model-type font">Reason Attachment</span></ion-col>
                <ion-col size="6"  style="float: right;" *ngFor="let attachment of design.requestdeclineattachment">
                <span class="model-space font" style="text-align:right;color:#3c78d8 !important" (click)="showreasonImage(attachment)">{{attachment.name.length > 40 ? (attachment.name | slice: 0:40) + '...' : attachment.name}}{{attachment.ext}}</span>
                </ion-col>
            </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="design.costofsystem !== null">
            <ion-col><span class="model-type font">Cost of System</span></ion-col>
            <ion-col size="auto">
                <span class="model-name font">{{design?.costofsystem}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="design.incentive !== null">
            <ion-col><span class="model-type font">Incentive</span></ion-col>
            <ion-col size="auto">
                <span class="model-name font">{{design.incentive?.title}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="design.utility !== null">
            <ion-col><span class="model-type font">Utility Name</span></ion-col>
            <ion-col size="auto">
                <span class="model-name font">{{design.utility?.name}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="design.utilityrate !== null">
            <ion-col><span class="model-type font">Utility Rate</span></ion-col>
            <ion-col size="auto">
                <span class="model-name font">{{design.utilityrate?.rate}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="design.annualutilityescalation !== null">
            <ion-col><span class="model-type font">Annual utility Escalation</span></ion-col>
            <ion-col size="auto">
                <span class="model-name font">{{design?.annualutilityescalation}}</span>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="design.comments && design.comments?.length !==0" class="ion-no-padding ion-margin-top">
            <ion-col size="6">
                <span class="models font">Comments</span>
            </ion-col>
            <!-- <div> -->

            <ion-col size="6"  class="ion-no-padding">
                <div *ngFor="let comment of design.comments">
                    <p  [innerHTML]="comment?.message | linkify" class="comment font" style="text-align: right;margin:0px"></p>
                    <p class="comment-by" style="text-align: right;margin-top:0px">Posted by {{comment.createdby?.firstname}}
                        {{comment.createdby?.lastname}}</p>
                </div>
            </ion-col>
            <!-- <ion-col size="12" class="ion-no-padding ion-text-end">

                        </ion-col> -->

            <!-- </div> -->

        </ion-row>



        <ion-row *ngIf="design.reviewissues || design.reviewissues !==null  " class="ion-no-padding ion-margin-top">
            <ion-col size="6">
                <span class="models font"> Review Comments</span>
            </ion-col>
            <!-- <div> -->

            <ion-col size="6"  class="ion-no-padding">
                <div >
                    <p class="comment font" style="text-align: right;margin:0px">{{design?.reviewissues}}</p>
                    <p class="comment-by" style="text-align: right;margin-top:0px">Posted by {{design.reviewassignedto?.firstname}}
                        {{design.reviewassignedto?.lastname}}</p>
                </div>
            </ion-col>
            <!-- <ion-col size="12" class="ion-no-padding ion-text-end">

                        </ion-col> -->

            <!-- </div> -->

        </ion-row>

        <ion-row>
            <ion-col><span class="model-type font">created at</span></ion-col>
            <ion-col size="auto">
                <span class="model-name font">{{design.created_at | date: 'dd/MM/yyyy hh:mm a'}}</span>
            </ion-col>
        </ion-row>
        <div *ngIf="(user.role.type!='clientsuperadmin' || (user.role.type==='clientsuperadmin' && design.status==='delivered'))&&( design.prelimdesign!=null || user.role.type=='designer')">
            <form novalidate [formGroup]="commentsForm">

            <ion-row *ngIf="(design.status=='designassigned' ) && user.role.type=='designer'  ; else showimageName ">
                <!-- <span> -->

                        <ion-col size="3" class="model-type font">
                           Prelim Design
                        </ion-col>
                            <ion-col size="9"  class="model-name font flx" style="justify-content: flex-end;">


                                  <input type="file" *ngIf="imageName.length==0"  (change)="prelimfiles($event)" formControlName="prelimdesign" style="width: 76px;"/>
                                   {{imageName}}&nbsp;
                                   <ion-icon style="font-size: medium;" name="close-circle-outline" *ngIf="imageName.length>0 " (click)="remove()"></ion-icon>
                                <!-- <ion-icon name="close-circle-outline" *ngIf="imageName.length>0 && !imagebox" (click)="showuploadbox()" style="color:red;font-size: 20px;margin-left: 10px"></ion-icon> -->
                                <!-- <ion-icon name="cloud-upload-outline" *ngIf="imageName.length>0 && imagebox" (click)="uploadpreliumdesign(designId,'prelimdesign')" style="font-size: 20px;margin-left: 10px;color:green"></ion-icon> -->

                            </ion-col>

                        <!-- </span> -->
                    </ion-row>
                    <div *ngIf="user.role.type=='designer' && design.status=='reviewfailed'">
                        <ion-row *ngIf="isprelimUpdate" style="width: 125%">
                             <!-- <span> -->
                                         <ion-col size="9" class="model-name font flx" style="justify-content: flex-end;">


                                             <ion-input type="file" formControlName="prelimdesign" readonly (change)="prelimupdate($event)" style="border-bottom:1px solid grey; width: max-content; flex: auto;" multiple="false"> <ion-icon name="attach-outline" style="float: right;text-align:right ;"></ion-icon></ion-input>





                                         </ion-col>

                                     <!-- </span> -->
                                 </ion-row>
                             </div>
                    <div *ngIf="(user.role.type=='qcinspector' && design.status=='reviewassigned')||(design.status=='reviewassigned' && design.reviewassignedto.id==user.id)">
                        <ion-row *ngIf="isSelfUpdate" style="width: 125%">
                             <!-- <span> -->
                                         <ion-col size="9" class="model-name font flx" style="justify-content: flex-end;">


                                             <ion-input type="file" readonly (change)="prelimupdate($event)" style="border-bottom:1px solid grey; width: max-content; flex: auto;" multiple="false"> <ion-icon name="attach-outline" style="float: right;text-align:right ;"></ion-icon></ion-input>





                                         </ion-col>

                                     <!-- </span> -->
                                 </ion-row>
                             </div>
                </form>
                  <ng-template #showimageName >
                <ion-col><span class="model-type font">Prelim Design</span></ion-col>
                <ion-button size="3" style="width:72px;height: 20px;font-size: x-small;float: right;text-transform: none;" *ngIf="(user.role.type=='qcinspector' && design.status=='reviewassigned')||(design.status=='reviewassigned' && design.reviewassignedto.id==user.id)" (click)="isSelfUpdate = !isSelfUpdate">Self Update</ion-button>
                <ion-button size="2" style="width:72px;height: 20px;font-size: x-small;float: right;text-transform: none;" *ngIf="user.role.type=='designer' && design.status=='reviewfailed'" (click)="isprelimUpdate = !isprelimUpdate">Update</ion-button>
                <ion-col size="auto"  style="float: right;">
                    <span class="model-name font" style="text-align:right;color:#3c78d8 !important" (click)="showDesignImage()">{{imageName.length > 40 ? (imageName | slice: 0:40) + '...': imageName}}</span>
                        <!-- <ion-icon name="close-circle-outline" *ngIf="imageName.length>0 " (click)="showuploadbox()" style="color:red;font-size: 20px;margin-left: 10px"></ion-icon> -->
                </ion-col>
            </ng-template></div>
           <!-- <ion-row *ngIf="(design.status=='reviewfailed') && user.role.type=='designer'">
                 <span> -->

                       <!-- <ion-col size="4" class="model-type font">
                          upload Prelim Design
                        </ion-col>
                            <ion-col size="9"  class="model-name font flx" style="justify-content: flex-end;">


                                  <input type="file"  *ngIf="imageName.length==0"  (change)="prelimfiles($event)"  style="width: 76px;"/>
                                  {{imageName}}&nbsp;
                                   <ion-icon style="font-size: medium;" name="close-circle-outline" *ngIf="imageName.length>0 && user.role.type !='qcinspector'" (click)="remove()"></ion-icon>
                                 <ion-icon name="close-circle-outline" *ngIf="imageName.length>0 && !imagebox" (click)="showuploadbox()" style="color:red;font-size: 20px;margin-left: 10px"></ion-icon> -->
                                <!-- <ion-icon name="cloud-upload-outline" *ngIf="imageName.length>0 && imagebox" (click)="uploadpreliumdesign(designId,'prelimdesign')" style="font-size: 20px;margin-left: 10px;color:green"></ion-icon> -->

                           <!-- </ion-col>

                       </span>
                        </ion-row>-->
            <ion-row *ngIf="design.isinrevisionstate" class="ion-no-padding ion-margin-top">
            <ion-col size="6"  >
                <span class="models font">Revision Comments</span></ion-col>
                <ion-col size="6"  class="ion-no-padding">
                    <div>
                        <p class="comment font" style="text-align: right;margin:0px">{{design.revisioncomments}}</p>

                    </div>

                   </ion-col>
            </ion-row>
              <ion-row *ngIf="design.isinrevisionstate && design.revisionattachments.length > 0">
             <ion-col > <span class="model-type font">Revision Attachments</span></ion-col>
             <ion-col size="6"  style="float: right;" *ngFor="let attachmentfile of design.revisionattachments">

                <span class="model-space font" style="text-align:right;color:#3c78d8 !important" (click)="showRevisionImage(attachmentfile)">{{attachmentfile.name.length > 40 ? (attachmentfile.name | slice: 0:40) + '...' : attachmentfile.name}}{{attachmentfile.ext}}</span>
              </ion-col>

            </ion-row>


            <ion-row size="12" class="ion-no-padding ion-margin-top ion-justify-content-center ion-align-items-center"
            *ngIf="design.status=='designassigned'||design.status=='completed'">
            <ion-col class="ion-justify-content-center ion-align-items-center"><span class="model-type font">assigned to</span></ion-col>
            <ion-col size="auto">
                <div class="selected d-flex">
                    <img *ngIf="design.designassignedto.contractorlogo && design.designassignedto.contractorlogo.logo"
                        [src]="design.designassignedto.contractorlogo.logo.url" class="assignee-image" />
                    <div *ngIf="!design.designassignedto.contractorlogo || !design.designassignedto.contractorlogo.logo"
                        class="assignee-image d-flex flex-row align-center justify-center">
                        <div class="name_div">
                            <span
                                style="text-transform: capitalize;">{{design.designassignedto.firstname.substring(0, 1)}}{{design.designassignedto.lastname.substring(0, 1)}}</span>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>


        <ion-row style="margin-top: 40px !important;" class="ion-no-padding ion-margin-top ion-justify-content-center ion-align-items-center"
        *ngIf="design.status=='reviewassigned'||design.status=='delivered'">
        <ion-col class="ion-justify-content-center ion-align-items-center"><span class="model-type font">assigned to</span></ion-col>
        <ion-col size="auto">
            <div class="selected d-flex">
                <img *ngIf="design.designassignedto.contractorlogo && design.designassignedto.contractorlogo.logo"
                    [src]="design.designassignedto.contractorlogo.logo.url" class="assignee-image" />
                <div *ngIf="!design.designassignedto.contractorlogo || !design.designassignedto.contractorlogo.logo"
                    class="assignee-image d-flex flex-row align-center justify-center">
                    <div class="name_div">
                        <span
                            style="text-transform: capitalize;">{{design.reviewassignedto.firstname.substring(0, 1)}}{{design.reviewassignedto.lastname.substring(0, 1)}}</span>
                    </div>
                </div>
            </div>
        </ion-col>
      </ion-row>


    <!-- <ion-row class="ion-no-padding ion-margin-top ion-justify-content-center ion-align-items-center"
    *ngIf="design.status=='reviewassigned'||design.status=='delivered'">
    <ion-col class="ion-justify-content-center ion-align-items-center"><span class="model-type font">assigned
            to</span></ion-col>
    <ion-col size="auto">
        <div class="selected d-flex">
            <img *ngIf="design.designassignedto.contractorlogo && design.designassignedto.contractorlogo.logo"
                [src]="design.designassignedto.contractorlogo.logo.url" class="assignee-image" />
            <div *ngIf="!design.designassignedto.contractorlogo || !design.designassignedto.contractorlogo.logo"
                class="assignee-image d-flex flex-row align-center justify-center">
                <div class="name_div">
                    <span
                        style="text-transform: capitalize;">{{design.reviewassignedto.firstname.substring(0, 1)}}{{design.reviewassignedto.lastname.substring(0, 1)}}</span>
                </div>
            </div>
        </div>
    </ion-col>
</ion-row> -->


        <ion-row class="ion-no-padding ion-margin-top" *ngIf="design && design.type !=='design'">
            <ion-col size="12">
                <form novalidate [formGroup]="assigneeForm">
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-user-selector placeholder="Assign" [assignees]="listOfAssignees"
                            formControlName="designassignedto"></app-user-selector>
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-margin-top" *ngIf="user.role.type=='designer' && design && design.status =='designassigned'">

            <form novalidate [formGroup]="commentsForm" style="width:100%">
                <ion-col size="12">
                    <span class="input-placeholder">Comments</span>
                </ion-col>
                <ion-col size="12" style="padding-top: 0px;">
                    <ion-textarea style="max-width: 98%;" class="ion-no-margin ion-no-padding comment_box" rows="3"
                                  formControlName="comments"></ion-textarea>
                </ion-col>
                </form>
        </ion-row>

        <!-- For Analyst -->
        <ion-row class="ion-no-padding ion-margin-top" *ngIf="(user.role.type=='qcinspector' && design && design.status =='reviewassigned') || (design && design.status=='reviewassigned' && design.reviewassignedto.id==user.id)">

            <form  [formGroup]="reviewIssuesForm" style="width:100%">

                    <ion-col size="12" class="ion-no-padding">
                        <span class="input-placeholder">Issues*</span>
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                      formControlName="reviewIssues" ></ion-textarea>
                    </ion-col>

                </form>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer *ngIf="design && design.type !=='design'" class="ion-no-border white-bg">
    <ion-grid>
        <ion-row class="ion-text-end ion-align-items-end ion-justify-content-end">
            <ion-col size="auto">
                <ion-button class="action-button-color" fill="clear" (click)="updateAssignee()">Save</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>
<ion-footer *ngIf="user.role.type=='designer' && design && (design.status=='designassigned'||design.status=='reviewfailed')" class="ion-no-border white-bg">
    <ion-grid>
        <ion-row class="ion-text-end ion-align-items-end ion-justify-content-end">
            <ion-col size="auto">
                <ion-button class="action-button-color" fill="clear" (click)="updatecomments()">Submit</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>
<ion-footer *ngIf="(user.role.type=='qcinspector' && design && design.status=='reviewassigned')||(design && design.status=='reviewassigned' && design.reviewassignedto.id==user.id)" class="ion-no-border white-bg">
    <ion-grid>
        <ion-row class="ion-text-end ion-align-items-end ion-justify-content-end">
            <ion-col size="auto">
                <ion-button class="action-button-color" *ngIf="!isSelfUpdate" fill="clear" style="float: left;" (click)="reportDesignReviewFailure()">Failed</ion-button>
                <ion-button class="action-button-color" fill="clear" style="float: right ;" (click)="designReviewSuccess()">Passed</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>


