<ion-header class="ion-no-border">
    <ion-grid
            class="ion-no-padding ion-align-items-center ion-justify-content-center">
        <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="auto">
                <ion-button fill="clear" (click)="goBack()" style="width: 48px;">
                    <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-searchbar (ionChange)="updateSearchResults($event)"
                               (ionClear)="onCancel()" debounce="300"
                               placeholder="Search for a place"></ion-searchbar>

            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" (click)="fetchLocation()" style="width: 48px;">
                    <ion-icon name="navigate"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="position-relative">

    <ion-list *ngIf="autocompleteItems.length > 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
            <ion-label>
                {{ item.description }}
            </ion-label>
        </ion-item>
    </ion-list>


    <ion-item *ngIf="autocompleteItems.length === 0" lines="none">
        <ion-label class="ion-text-center">
            Search for address
        </ion-label>
    </ion-item>
    

</ion-content>

