.title {
    font-size: 3em;
  }
  
  .text-bold {
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 2em;
    color: #434343;
  }
  
  ion-content.login-background {
    --background: white;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/assets/images/login_background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .form-background {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/assets/images/wattmonk_logo.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  
  
  .subtitle-sub-text {
    font-size: 1.8em;
    color: #A5A095;
  }
  
  .forgot-password-text {
    color: #7DA4DD;
  }
  
  .email_valid {
    color: #495057 !important;
  }
  
  .password_box {
    display: flex;
    border-bottom: 1px solid #ced4da !important;
  
  }
  
  .password_input {
    margin-bottom: -5px;
    font-size: 14px;
  }
  
  .eye_box {
    display: flex;
    align-items: center;
  }
  
  .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
    margin-left: 5px;
  }
  
  .margin{
    margin-top: 0px;

}
.select_div {
    border-bottom: 1px solid #E1E1E1;
  }
  .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }
.font{
    font-size: 10px;
  }
  ion-item{
    --inner-padding-end:0px !important
  }