<ion-content >
    <ion-grid class="ion-padding">
    <app-header></app-header>
    <!-- <ion-grid class="ion-padding">
        <ion-row class="ion-margin-top">
            <ion-col size="12" class="ion-no-margin ion-no-padding">
                <span class="title text-bold">
                    Wattmonk
                </span>
            </ion-col>
        </ion-row>
    </ion-grid> -->


        <!-- <ion-row class="ion-margin-top"> -->
            <!-- <ion-col size="12" class="ion-no-margin ion-no-padding">
              <span class="subtitle">
                  Welcome
              </span>
          </ion-col> -->
            <!-- <ion-col size="12" class="ion-no-margin ion-no-padding">
                <span class="subtitle">
                    Sign up to continue
                </span>
            </ion-col>
        </ion-row> -->

         <div class="ion-text-start">
            <p class="account">Create your account</p>
          </div>

          <form [formGroup]="userregistrationForm" novalidate>
          <ion-row><ion-col size="12" >
          <ion-label  position="floating" class="label">First Name*</ion-label>
          <ion-input mode="md" type="text" placeholder="eg. john" required class="email-input"  formControlName="firstname" ></ion-input>
         <div style="height: 10px;">
            <!-- <div class="error-box"
            *ngIf="userregistrationForm.get('firstname').hasError('pattern') && userregistrationForm.get('firstname').dirty">
            <span class="error">{{firstNameError}}</span>
        </div>
        <div class="error-box"
        *ngIf="userregistrationForm.get('firstname').value === '' && userregistrationForm.get('firstname').dirty">
        <span class="error">{{fieldRequired}}</span>
    </div> -->
    <div class="error-box"
            *ngIf="userregistrationForm.get('firstname').invalid && userregistrationForm.get('firstname').dirty ||  (userregistrationForm.get('firstname').touched && userregistrationForm.get('firstname').invalid) && userregistrationForm.get('firstname').pristine">
            <span class="error">{{getErrorMessage(userregistrationForm.get('firstname'))}}</span>
        </div>

</div>
</ion-col>
    <ion-col size="12">
        <ion-label  position="floating" class="label ion-margin-top" >Last Name*</ion-label>
        <ion-input  mode="md"  type="text" placeholder="eg. doe" class="email-input" formControlName="lastname"></ion-input>
        <div style="height: 10px;">
            <!-- <div class="error-box"
            *ngIf="userregistrationForm.get('lastname').hasError('pattern') && userregistrationForm.get('lastname').dirty">
            <span class="error">{{lastNameError}}</span>
        </div>
        <div class="error-box"
            *ngIf="userregistrationForm.get('lastname').value === '' && userregistrationForm.get('lastname').dirty">
            <span class="error">{{fieldRequired}}</span>
        </div> -->
        <div class="error-box"
            *ngIf="userregistrationForm.get('lastname').invalid && userregistrationForm.get('lastname').dirty ||  (userregistrationForm.get('lastname').touched && userregistrationForm.get('lastname').invalid) && userregistrationForm.get('lastname').pristine">
            <span class="error">{{getErrorMessage(userregistrationForm.get('lastname'))}}</span>
        </div>
          </div>
        </ion-col>
        <ion-col size="12">
        <ion-label class="label">Work Email*</ion-label>
        <ion-input  mode="md" type="text" placeholder="eg. pat@example.com" class="email-input" formControlName="email"></ion-input>
        <div style="height: 10px;">
            <!-- <div class="error-box"
                                        *ngIf="userregistrationForm.get('email').hasError('pattern') && userregistrationForm.get('email').dirty">
                                        <span class="error">{{emailError}}</span>
                                                                        </div>
                                    <div class="error-box"
                                        *ngIf="userregistrationForm.get('email').value === '' && userregistrationForm.get('email').dirty">
                                        <span class="error">{{fieldRequired}}</span>
                                    </div> -->
                                    <div class="error-box"
            *ngIf="userregistrationForm.get('email').invalid && userregistrationForm.get('email').dirty ||  (userregistrationForm.get('email').touched && userregistrationForm.get('email').invalid) && userregistrationForm.get('email').pristine">
            <span class="error">{{getErrorMessage(userregistrationForm.get('email'))}}</span>
        </div>
        </div>
    </ion-col>
    <ion-col size="12">
        <ion-label class="label">Country*</ion-label>


          <!-- <ion-select class="countrylbl" >
            <ion-select-option   *ngFor="let country of filteredCountries" [value]="country.country">{{country.name}}</ion-select-option>
          </ion-select> -->
          <mat-form-field class="mat-form">
            <!-- <mat-label></mat-label> -->
           <input type="text" matInput style="padding-left: 10px;"
                [matAutocomplete]="auto" autocomplete="off" formControlName="country" >

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let country of filteredCountries | async"
                    [value]="country.country"
                    (onSelectionChange)="setSelectedCountry(country)" class="font">
                    {{country.country}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div style="height: 10px;">
            <div class="error-box"
            *ngIf="userregistrationForm.get('country').value === '' && userregistrationForm.get('country').dirty ||  (userregistrationForm.get('country').touched && userregistrationForm.get('country').invalid) && userregistrationForm.get('country').pristine">
            <span class="error">{{fieldRequired}}</span>
        </div>
        </div>
    </ion-col>
    </ion-row>

        <ion-row>
            <ion-col size="12" style="margin-left: 5%;margin-bottom: 5%;">
              <ion-checkbox mode="md" formControlName="aggrement"
                style="margin-top: 0.4rem; float: left"
                 (ionChange)="change($event)"
              ></ion-checkbox>
            <!-- </ion-col>
            <ion-col size="10"> -->
              <p class="aggrement">I agree to platform's  <a style="color: #EDC773;"  (click)="agreement($event)" class="greyactionlink">Terms</a> 
                and <a style="color: #EDC773;" (click)="privacy($event)" class="greyactionlink">Privacy policy</a></p>
                <div style="height: 10px;">
                                            <div class="error-box"
                    *ngIf="userregistrationForm.get('aggrement').invalid && userregistrationForm.get('aggrement').dirty">
                    <span class="aggrementerror">{{getErrorMessage(userregistrationForm.get('aggrement'))}}</span>
                </div>
                </div>
            </ion-col>
          </ion-row>
            <button class="registerbtn1" type="submit"  expand="block"  (click)="registerUser()" >Sign up</button>
            <p class="registeredText">Already registered?<a style="color: #f1ad1a;margin-top: 0px;" (click)="gotoSignIn()"> Sign in </a></p>
  </form>
       <!-- <ion-row class="ion-margin-top">
            <ion-col size="12" class="ion-no-padding">
                <form [formGroup]="userregistrationForm" novalidate>
                    <ion-grid class="ion-no-padding">
                        <ion-row class="ion-margin-top">
                            <ion-row>
                                <ion-col size="6" class="ion-margin-top">
                                    <ion-input type="text" class="form-control" placeholder="First name*"
                                        formControlName="firstname">
                                    </ion-input>
                                    <div style="height: 5px;">
                                        <div
                                            *ngIf="userregistrationForm.get('firstname').hasError('pattern') && userregistrationForm.get('firstname').dirty">
                                            <span class="error">{{firstNameError}}</span>
                                        </div>
                                        <div
                                            *ngIf="userregistrationForm.get('firstname').value === '' && userregistrationForm.get('firstname').dirty">
                                            <span class="error">{{fieldRequired}}</span>
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="6" class="ion-margin-top">
                                    <ion-input type="text" class="form-control" placeholder="Last name*"
                                        formControlName="lastname">
                                    </ion-input>
                                    <div style="height: 5px;">
                                        <div
                                            *ngIf="userregistrationForm.get('lastname').hasError('pattern') && userregistrationForm.get('lastname').dirty">
                                            <span class="error">{{lastNameError}}</span>
                                        </div>
                                        <div
                                            *ngIf="userregistrationForm.get('lastname').value === '' && userregistrationForm.get('lastname').dirty">
                                            <span class="error">{{fieldRequired}}</span>
                                        </div>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-col size="12" class="ion-margin-top">
                                <ion-input type="email" placeholder="Work email*" class="form-control"
                                    autocomplete="off" formControlName="email">
                                </ion-input>
                                <div style="height: 5px;">
                                    <div
                                        *ngIf="userregistrationForm.get('email').hasError('pattern') && userregistrationForm.get('email').dirty">
                                        <span class="error">{{emailError}}</span>
                                    </div>
                                    <div
                                        *ngIf="userregistrationForm.get('email').value === '' && userregistrationForm.get('email').dirty">
                                        <span class="error">{{fieldRequired}}</span>
                                    </div>
                                </div>
                            </ion-col> -->

                            <!-- <ion-col size="12" class="ion-margin-top">
                            <ion-select style="padding-left:9px" class="form_input select_div"
                                        ok-text="" cancel-text=""
                                        formControlName="country" interface="popover" placeholder="Country*" >
                                <ion-select-option *ngFor="let country of countries" [value]="country.country">{{country.callingcode}}{{country.country}}</ion-select-option>
                            </ion-select>
                    </ion-col> -->
                            <!-- <ion-col size="12" class="ion-margin-top">
                                <ion-item class="ion-no-padding" lines="none">
                                    <mat-form-field style="width: 100%; height: 45px;" class="ion-no-padding"> -->
                                        <!-- <mat-label></mat-label> -->
                                        <!-- <input type="text" placeholder="Country*" class="form_input font-size" matInput
                                            [matAutocomplete]="auto" autocomplete="off" formControlName="country">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let country of filteredCountries | async"
                                                [value]="country.country"
                                                (onSelectionChange)="setSelectedCountry(country)" class="font">
                                                {{country.country}}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </ion-item>
                                <div style="height: 5px;">
                                    <div
                                        *ngIf="userregistrationForm.get('country').value === '' && userregistrationForm.get('country').dirty">
                                        <span class="error">{{fieldRequired}}</span>
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="12" class="ion-margin-top">
                                <ion-item class="ion-no-padding" lines="none">
                                    <ion-label class="margin"
                                        style="font-size: small;margin-bottom: 0px;margin-top:16px;white-space:break-spaces">
                                        I agree to platform's <a (click)="showTermsAggrement()"
                                            style="color: blue">Terms Agreement</a> and <a (click)="showPrivacyPolicy()"
                                            style="color: blue;">Privacy policy</a></ion-label>
                                    <ion-checkbox class="margin" style="margin-bottom: 0;" slot="start"
                                        class="form_input" (ionChange)="change($event)"></ion-checkbox>
                                </ion-item>
                            </ion-col>
                            <ion-col size="12" class="ion-margin-top">
                                <ion-button color="primary"
                                 (click)="registerUser()">Sign Up</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            </ion-col>
        </ion-row> -->
        <!-- <ion-row class="ion-margin-top">
            <ion-col class="ion-no-margin ion-no-padding">
                <p class="registrationtext">Already a member? <a class="actionlink" (click)="gotoSignIn()" routerDirection="forward">Sign in</a></p>
            </ion-col> -->
            <!-- <ion-col size="12" class="ion-no-margin ion-no-padding">
                <span style="font-size: 1.0em; color: black; font-weight: bold;">
                    Already a member?
                </span>
                <span style="font-size: .9em; color:#7DA4DD; font-weight: bold;" (click)="gotoSignIn()"
                    routerDirection="forward">
                    &nbsp; Sign in
                </span>
            </ion-col> -->
        <!-- </ion-row> -->

    </ion-grid>
</ion-content>
<app-footer></app-footer>