input[type="file"]{
    visibility:hidden;
  }
  ion-item{
  
    --background: #F8F8F8 !important;
  
  
  }
  .in-item[slot="start"] {
    margin-right: unset;
    margin-inline-end: 8px;
  }.previewlabel{


    overflow: hidden;
  }
  