<ion-header mode="md" class="ion-no-border" style="position: initial">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="logout"></ion-back-button>
    </ion-buttons>
    <ion-title style="float: left">
      <span style="font-size: x-large; font-weight: bold; color: black">
        Teams</span
      >
      <p style="margin: 0px; font-size: 13px">company name</p>
    </ion-title>

    <ion-buttons
      slot="end"
      class="notification-padding"
      style="display: flex"
      (click)="teamScheduledPage()"
    >
      <ion-icon name="add-circle" style="font-size: 27px"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="notification-padding" (click)="searchbar()">
      <ion-img
        src="/assets/images/icons8-search.svg"
        class="notification-icon"
      ></ion-img>
    </ion-buttons>
    <ion-buttons
      slot="end"
      class="notification-padding"
      [routerLink]="['/notification']"
      routerDirection="forward"
      (click)="setzero()"
    >
      <ion-img
        src="/assets/images/notification.svg"
        class="notification-icon"
      ></ion-img>
      <span class="badge" *ngIf="unreadCount > 0">
        {{unreadCount > 99 ? '99+' : unreadCount}}
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="scroll">
  <!-- <ion-row> -->
  <!-- <ion-col size="12"> -->
  <h3
    class="ion-padding"
    style="font-weight: bold; padding: 0 0 0 25px; margin-bottom: 0px"
  >
    Overview
  </h3>
  <!-- </ion-col> -->
  <!-- </ion-row> -->
  <ion-row>
    <ion-col size="12">
      <!-- <ion-slides pager="false" [options]="slideOpts">
          <ion-slide style="width: 80px !important;" *ngFor="let list of teamList" (click)="team()">
           <ion-card>
             <ion-card-header><ion-icon name="{{list.icon}}"></ion-icon></ion-card-header>
             <ion-card-content>
               <p style="margin: 0px;">{{list.count}}</p>
               <p style="margin: 0px;">{{list.role}}</p>
             </ion-card-content>
           </ion-card>
          </ion-slide>
        </ion-slides> -->
      <ion-slides pager="false" [options]="slideOpts" *ngIf="isTeamData">
        <ion-slide class="wt" *ngFor="let users of overviewData; let i = index">
          <ion-card class="slide-class card-class" (click)="filterAdmin(users.roleName, i)" [ngStyle]="{'background-color': users.active ? '#EDC773':'white'}">
            <ion-card-header *ngIf="isTeamData">
              <ion-img
                src="/assets/images/admin.svg"
                class="tab-icon"
              ></ion-img>
            </ion-card-header>
           
            <ion-card-content>
              <p style="margin: 0px" class="font_sz" *ngIf="isTeamData">
                {{users.rolecount}}
              </p>
              
              <p style="margin: 0px">{{users.roleName}}</p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
    
      </ion-slides>
      <ion-slides pager="false" [options]="slideOpts" *ngIf="!isTeamData">
        <ion-slide class="wt" *ngFor="let count of [1,22,3,4]; let i = index">
          <ion-card class="slide-class card-class">
            <ion-card-header class="img" *ngIf="!isTeamData">
              <div>
                <ion-skeleton-text
                  animated
                  style="border-radius: 50%; height: 2.5rem; width: 2.6rem"
                ></ion-skeleton-text>
              </div>
            </ion-card-header>
            <ion-card-content>
              <p style="margin: 0px" class="font_sz">
                <ion-skeleton-text
                  animated
                  style="width: 100%; height: 5px"
                ></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-segment
        scrollable
        (ionChange)="segmentChanged($event)"
        value="member"
        mode="md"
        style="margin-top: 5%"
      >
        <ion-segment-button value="member">
          <ion-label class="segment-btn">Member</ion-label>
        </ion-segment-button>
        <!-- <ion-segment-button value="groupsaplha">
          <ion-label class="segment-btn">Groups Alpha</ion-label>
        </ion-segment-button> -->
        <!-- <ion-segment-button value="groups">
          <ion-label class="segment-btn">Groups</ion-label>
        </ion-segment-button> -->
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-content [scrollEvents]="true" style="height: 65%; position: sticky">
    <!-- <div> -->
      <ion-list *ngIf="isTeamData" style="margin-bottom: 30%;">
        <ng-container *ngIf="teamData.length; else noTeamData">
        <ion-item
          lines="none"
          style="margin-bottom: 1%"
          *ngFor="let team of teamData;let i = index">
          <ion-item-sliding>
            <ion-card
              class="ion-no-padding custom-card ion-no-margin"
            >
              <ion-item lines="none" class="item-class">
                <div
                  style="padding-left: 0px"
                  *ngIf="isEmptyObject(team?.logo) || team?.logo ==null"
                  class="profile_img"
                >
                  {{team?.firstname.slice(0, 1).toUpperCase() +
                    team?.lastname.slice(0, 1).toUpperCase()}}
                </div>
                <div
                  *ngIf="!isEmptyObject(team?.logo) && team?.logo !==null"
                >
                  <img [src]="team?.logo?.url" class="profile_img" />
                </div>

                <div size="auto" style="align-self: center">
                  <p class="customer-name" routerDirection="forward">
                    <span style="padding-left: 10px"
                      >{{team.firstname}}&nbsp;</span
                    >
                    <span>{{team.lastname}}</span>
                  </p>
                </div>
              </ion-item>
            </ion-card>
            <ion-item-options side="end">
              <ion-item-option style="background-color: #f9ba48">
                <ion-icon name="pencil" (click)="edit(team)"></ion-icon>
              </ion-item-option>
              <ion-item-option style="background-color: #f9ba48">
                <ion-icon
                  slot="icon-only"
                  name="trash"
                  (click)="deleteTeam(team)"
                ></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item>
      </ng-container>
        <ng-template #noTeamData>
          <div *ngIf="teamData.length==0" class="cent">
            No Data Found
          </div>
        </ng-template>
      </ion-list>
      <ion-list *ngIf="!isTeamData">
        <ion-item
          lines="none"
          *ngFor="let team of [10,50,30,49,29]"
          style="margin-bottom: 3%"
        >
            <ion-card class="ion-no-padding custom-card ion-no-margin" style="width: 100%;">
              <ion-item lines="none" class="item-class">
                <div
                  style="padding-left: 0px; background: none"
                  class="profile_img"
                >
                  <ion-skeleton-text
                    animated
                    style="width: 100%; border-radius: 50%"
                  ></ion-skeleton-text>
                </div>
                <div
                >
                  <ion-skeleton-text
                    animated
                    style="width: 0px"
                  ></ion-skeleton-text>
                </div>

                <div size="auto" style="align-self: center">
                 <ion-skeleton-text
                        animated
                        style="margin-left: 10%; width: 10rem; height: 6px"
                      ></ion-skeleton-text
                    >
                  <ion-skeleton-text
                        animated
                        style="width: 6rem; height: 6px;margin-left: 10%;"
                      ></ion-skeleton-text
                    >
                </div>
              </ion-item>
            </ion-card>
        </ion-item>
      </ion-list>
    <!-- </div> -->
  </ion-content>
</ion-content>
<ng-container *ngIf="showBottomDraw">

  <ion-bottom-drawer [(state)]="drawerState" [minimumHeight]="0" [dockedHeight]="320" [draggable]="false"
      [disableDrag]="true" [shouldBounce]="true" [distanceTop]="0" class="drawer" style="z-index: 9999 !important;">
      <form [formGroup]="assignForm">
          <ion-grid class="drawer">
              <ion-row>
                  <ion-col size="12">
                      <app-user-selector (assigneeData)=getassignedata($event) placeholder="Assign"
                          [assignees]="listOfAssignees"
                          formControlName="assignedto"></app-user-selector>

                  </ion-col>
              </ion-row>

              <ion-row style="justify-content: flex-end;">
                  <ion-col size="auto" style="padding-top: 0px; margin-right: 6px;">
                      <ion-button class="buttom-drawer-button" fill="clear" (click)="transferJobs()">
                          Confirm
                      </ion-button>
                  </ion-col>
                  <ion-col size="auto">
                      <ion-button class="buttom-drawer-button-cancel" fill="clear" (click)="dismissBottomSheet()">
                          Cancel
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </form>

  </ion-bottom-drawer>
</ng-container>
