<ion-content style="position: relative;overflow-y: visible;">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button mode="md"></ion-menu-button>
        </ion-buttons>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <h1 class="ion-no-padding ion-no-margin home">Team </h1>
          </ion-col>
          <ion-col size="auto">
            <div class="notification-padding" style="display:flex" (click)="scheduledPage()">
              <ion-icon name="add-circle" style="font-size: 27px;"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-row>
  </ion-grid>
</ion-content>
  <ion-tabs style="margin-top: 52px;overflow: hidden;">
    <ion-tab-bar slot="top" class="ion-no-border">
      <ion-tab-button tab="team">
        <ion-label>Team</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="group" *ngIf="this.user.role.type=='wattmonkadmins'">
              <ion-label>Group</ion-label>
          </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
