.main-background {
    margin-top: 8px;
    background: #EFEFEF;
    border-radius: 0.5em;
    color: #656565;
  }
  
  .date-background {
    width: 6em;
    height: 2em;
    //background: #FBB200;
    border-radius: 0.5em;
    color: black;
  }

  .year{
      font-size: 1em;
  }
  .month {
    font-size: 1em;
  }
  
  .day {
    font-size: 1em;
    //font-weight: bold;
  }
  