<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getDesigns($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="listOfDesignsHelper.length !== 0">
    <ion-row *ngFor="let item of listOfDesignsHelper;let i = index">
        <!-- <ion-virtual-scroll [items]="listOfDesignsHelper"> -->
            <!-- <ion-row *ngFor="let item of listOfDesignsHelper;let i = index"> -->
                <!-- <ion-row *virtualItem="let item;let i = index"> -->
        <!-- <ion-col size="12" class="ion-margin-top">
                <span class="ion-padding" *ngIf="today === item.date">
                    Today
                  </span>
            <span class="ion-padding" *ngIf="today !== item.date">
                      {{item.date | date: 'dd MMM yyyy'}}
                </span>
        </ion-col> -->
        <ion-col *ngFor="let designData of item.listOfDesigns;let i = index;trackBy: trackdesign " size="12">
            <div class="ion-no-padding custom-card" style="height: 100%;" (click)="gotoDetails(designData,$event)">
                <p class="customer-name" >{{designData.name}}
                      <!-- <span class="chipdetail" style="background-color: #1289A7;" [routerLink]="['/design-details/',designData.id]" routerDirection="forward">
                        {{designData.deliverydate | date: 'hh:mm a'}}
                    </span> -->
                    <span
                    routerDirection="forward" class="chipdetail" style="background-color: #1289A7;" *ngIf="designData.status == 'reviewassigned'">In Review</span>

                    <span
                    routerDirection="forward" class="chipdetail" style="background-color: rgb(246, 104, 10);" *ngIf="designData.isoverdue">Overdue</span>
                    <span  routerDirection="forward" class="chipdetail" style="background-color: rgb(246, 77, 10);" *ngIf="designData.status == 'reviewfailed'">Review Failed</span>
                    <span  routerDirection="forward" class="chipdetail" style="background-color: rgb(109, 187, 26);" *ngIf="designData.status == 'reviewpassed'"> Review Passed</span>
                    <span class="chipdetail" style="background-color: rgb(183,21,64)" *ngIf="designData.isinrevisionstate"  [routerLink]="['/design-details/',designData.id]">Revision</span>
                    <!-- <span class="chipdetail ml-1 ml-1" style="background-color: #FA983A;"
                    *ngIf="designData.isoutsourced == 'true'">Wattmonk</span> -->
                    <span fill="clear" background-border="clear"  class="imagebutton"  size="small" (click)="gotoActivity(designData,$event)" ><ion-icon  src="/assets/images/activitylist.svg" ></ion-icon></span>
                    <ng-container *ngIf="designData?.chatid!==null && designData?.addedtogroupchat">
                        <span fill="clear" background-border="clear" (click)="gotoChats(designData,$event)" class="chatbutton"  size="small"  ><img  style= "height:20px" src="assets/images/chat.svg" /></span>
                      </ng-container>
                </p>
               <p style="margin: 0px;"> <span class="customer-email"
                      routerDirection="forward"  *ngIf="userData.designertype!='external'">{{designData.email}}</span>
                      <span *ngIf="designData.isoverdue" class="latebystyle" style="float: right;font-size: 10px;"><strong>Late by {{item.lateby}}</strong></span>

            </p>

                       <a href="tel:{{designData.phonenumber}}" style="text-decoration: none;" class="z-100">
                    <span class="customer-phone" *ngIf="userData.designertype!='external'">{{designData.phonenumber}}</span></a>
                <span style="margin:0px" class="customer-address z-100" *ngIf="userData.designertype!='external'"
                      (click)="openAddressOnMap(designData.address,$event)">{{(designData.address | slice:0:50) + (designData.address.length > 50 ? '...' : '')}}</span>

                <ion-row style="margin-bottom: 8px;" [routerLink]="['/design-details/',designData.id]" >
                    <!-- <span class="chipdetail" style="background-color: #95afc0;" >Wattmonk</span> -->
                    <span class="chipdetail" style="background-color: #95afc0;align-self: center;" >{{designData.source | titlecase}}</span>
                    <span class="chipdetail" style="background-color: #95afc0;align-self: center;" >{{designData?.jobtype=='pvbattery' ? 'PV + Battery' : designData?.jobtype}}</span>

                </ion-row>
                <ion-row class="ion-no-margin ion-no-margin" *ngIf="designData.status == 'reviewfailed'">
                    <ion-col></ion-col>
                    <!-- <ion-col class="ion-no-margin ion-no-padding">
                        <ion-button class="ion-no-margin ion-no-padding" fill="clear" [routerLink]="['/surveyprocess/' + designData.id + '/' + designData.jobtype + '/' + designData.latitude + '/' + designData.longitude]"
                        routerDirection="forward">
                            Restart Survey
                        </ion-button>
                    </ion-col> -->
                </ion-row>
                <ion-progress-bar [value]="1" mode="ios" color="success" class="progress-bar-height"></ion-progress-bar>
            </div>
        </ion-col>
    </ion-row>
    <!-- </ion-virtual-scroll>
    <ion-row>
        <ion-col size="12" style="height: 100px;">
        </ion-col>
    </ion-row> -->
</ion-grid>

<div *ngIf="listOfDesignsHelper.length === 0" class="h-100 d-flex flex-column align-center justify-center">
        {{noDesignsFound}}
    <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
</div>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
