<ion-header class="ion-no-border ion-padding white-bg" >
    <ion-grid class="ion-no-padding ">
        <ion-row class="ion-align-items-center ion-padding-start">
            <ion-col>
                <h1 class="ion-no-padding ion-no-margin">Edit Design</h1>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
                    <ion-icon name="close-outline" color="dark" size="large"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-start ion-padding-end" *ngIf="design">
            <ion-col>
                <span>
                    {{design.address}}
                </span>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-start ion-padding-end" *ngIf="design">
            <ion-col class="ion-text-end">
                <span [routerLink]="['/map-page']" routerDirection="forward">
                    Change
                </span>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="desginForm" novalidate>
        <ion-grid style="position: relative;">
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-input class="form_input" placeholder="*name" autocapitalize="words"
                                   formControlName="name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-input class="form_input" placeholder="email" autocapitalize="none"
                                   formControlName="email"></ion-input>
                        <span style="color:red">*</span>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-input class="form_input" placeholder="Monthly bill" type="number"
                                   formControlName="monthlybill"></ion-input>
                        <span style="color:red">*</span>
                    </ion-item>
                </ion-col>
            </ion-row>

            <!-- <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-range [min]="minRange" [max]="maxRange" formControlName="monthlybill" mode="ios" pin="true"
                               class="ion-no-padding">
                        <ion-label slot="start">{{minRange | currency :'USD':'symbol':'1.0-0'}}</ion-label>
                        <ion-label slot="end">{{maxRange | currency :'USD':'symbol':'1.0-0'  }} <span style="color:red">*</span></ion-label>

                    </ion-range>

                </ion-col>
            </ion-row> -->

            <ion-row>
                <ion-col size="6">
                    <app-auto-complete [dataList]="listOfSolarMake" placeholder="module make"
                                       formControlName="solarmake"></app-auto-complete>
                </ion-col>
                <ion-col size="6">
                    <app-auto-complete [dataList]="listOfSolarMade" placeholder="module made"
                                       formControlName="solarmodel"></app-auto-complete>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <app-auto-complete [dataList]="listOfInverterMake" placeholder="inverter made"
                                       formControlName="invertermake"></app-auto-complete>

                </ion-col>
                <ion-col size="6">
                    <app-auto-complete [dataList]="listOfInverterMade" placeholder="inverter model"
                                       formControlName="invertermodel"></app-auto-complete>

                </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label class="form_input">Construction</ion-label>
                        <ion-select class="form_input" placeholder="construction" ok-text="Ok" cancel-text="Cancel"
                                    formControlName="construction">
                            <ion-select-option value="yes">Yes</ion-select-option>
                            <ion-select-option value="no">No</ion-select-option>
                        </ion-select>
                        <span style="color:red">*</span>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label class="form_input">Project Type</ion-label>
                        <ion-select class="form_input" placeholder="project type" ok-text="Ok" cancel-text="Cancel"
                                    formControlName="projecttype">
                            <ion-select-option value="residential">Residential</ion-select-option>
                            <ion-select-option value="commercial">Commercial</ion-select-option>
                        </ion-select>
                        <span style="color:red">*</span>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label class="form_input">Job Type</ion-label>
                        <ion-select class="form_input" placeholder="job type" ok-text="Ok" cancel-text="Cancel"
                                    formControlName="jobtype">
                            <ion-select-option value="pvbattery">PV Battery</ion-select-option>
                            <ion-select-option value="battery">Battery</ion-select-option>
                            <ion-select-option value="pv">PV</ion-select-option>
                        </ion-select>
                        <span style="color:red">*</span>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label class="form_input">Roof Type</ion-label>
                        <ion-select class="form_input" placeholder="roof type" ok-text="Ok" cancel-text="Cancel"
                                    formControlName="rooftype">
                            <ion-select-option value="flat">Flat</ion-select-option>
                            <ion-select-option value="pitch">Pitch</ion-select-option>
                            <ion-select-option value="both">Both</ion-select-option>
                        </ion-select>
                        <span style="color:red">*</span>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col size="12" class="ion-no-padding">
                    <span class="input-placeholder">Comment</span>
                </ion-col>
                <ion-col size="12" class="ion-no-padding">
                    <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                  formControlName="comments"></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-user-selector placeholder="assign" [assignees]="listOfAssignees"
                                           formControlName="assignedto"></app-user-selector>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>

<ion-footer class="ion-no-border white-bg">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button class="action-button-color" fill="clear" (click)="updateDesign()">Done</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
