<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getDesigns($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="listOfDesignsHelper.length !== 0">
    <ion-row *ngFor="let item of listOfDesignsHelper;let i = index">
        <ion-col size="12" class="ion-margin-top">
                <span class="ion-padding" *ngIf="today === item.date">
                    Today
                  </span>
            <span class="ion-padding" *ngIf="today !== item.date">
                      {{item.date | date: 'dd MMM yyyy'}}
                </span>
        </ion-col>
        <ion-col *ngFor="let designData of item.listOfDesigns;let i = index " size="12">
            <div class="ion-no-padding custom-card" style="height: 100%;">
                <p class="customer-name" [routerLink]="['/design-details/',designData.id]"
                      routerDirection="forward">{{designData.name}}
                      <!-- <span class="chipdetail" style="background-color: #1289A7;" [routerLink]="['/design-details/',designData.id]" routerDirection="forward">
                        {{designData.deliverydate | date: 'hh:mm a'}}
                    </span> -->
                    <span class="chipdetail" style="background-color: #1289A7;;" *ngIf="designData.status == 'reviewassigned'">In Review</span>
                    <span class="chipdetail" style="background-color: rgb(246, 104, 10);" *ngIf="item.lateby > 0">Overdue</span>
            </p>
                <span class="customer-email" [routerLink]="['/design-details/',designData.id]"
                      routerDirection="forward">{{designData.email}}</span>
                <a href="tel:{{designData.phonenumber}}" style="text-decoration: none;" class="z-100">
                    <span class="customer-phone">{{designData.phonenumber}}</span></a>
                <span class="customer-address z-100"
                      (click)="openAddressOnMap(designData.address)">{{(designData.address | slice:0:60) + (designData.address.length > 60 ? '...' : '')}}</span>

                <ion-row style="margin-bottom: 8px;" [routerLink]="['/design-details/',designData.id]" >
                    <span class="chipdetail" style="background-color: #95afc0;" >Wattmonk</span>
                    <span class="chipdetail" style="background-color: #95afc0;" >{{designData.formattedjobtype}}</span>
                      <span class="chipdetail" style="background-color: rgb(246, 77, 10);" *ngIf="designData.status == 'reviewfailed'">Failed</span>
                      <span class="chipdetail" style="background-color: rgb(109, 187, 26);" *ngIf="designData.status == 'reviewpassed'">Passed</span>
                </ion-row>
                <ion-row class="ion-no-margin ion-no-margin" *ngIf="designData.status == 'reviewfailed'">
                    <ion-col></ion-col>
                    <!-- <ion-col class="ion-no-margin ion-no-padding">
                        <ion-button class="ion-no-margin ion-no-padding" fill="clear" [routerLink]="['/surveyprocess/' + designData.id + '/' + designData.jobtype + '/' + designData.latitude + '/' + designData.longitude]"
                        routerDirection="forward">
                            Restart Survey
                        </ion-button>
                    </ion-col> -->
                </ion-row>
                <ion-progress-bar [value]="1" mode="ios" color="success" class="progress-bar-height"></ion-progress-bar>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" style="height: 100px;">
        </ion-col>
    </ion-row>
</ion-grid>

<div *ngIf="listOfDesignsHelper.length === 0" class="h-100 d-flex flex-column align-center justify-center">
    <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
</div>
</ion-content>
