ion-content {
    --ion-background-color: #FFFFFF;
  }

  html, body {
    background-color: transparent !important;
  }
  
  ion-app {
    --background: transparent !important;
  }
  
  ion-content {
    --background: transparent !important;
  }
  
  app-ar ion-content {
    --background: transparent;
  }

  .defaultcameraoptions{
      background-color: #000000;
  }

.actionarea {
    background-color: #000000aa;
    position: absolute;
    bottom: 0em;
    margin-left: 0px;
    margin-right: 0px;
}

.actionareacol {
    padding-left: 0px;
    padding-right: 0px;
}

.actionarea .mainbuttons {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
}

.actionarea .mainbuttons .active {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0 4px;
}

.actionarea .mainbuttons .normal {
    color: #ffffff;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 100;
    padding: 0 4px;
}

.actionarea .childbuttons .active {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0 4px;
}

.actionarea .childbuttons .normal {
    color: #ffffff;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 100;
    padding: 0 4px;
}

.actionarea .gallerybutton {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 50px;
    padding: 0px;
    box-shadow: none;
  }
  
  .actionarea .gallerybutton img {
    width: 70px;
    max-width: 70px;
  }

.mainbuttonscontainer {
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;

    ::-webkit-scrollbar {
        display: none;
    }

    .scroll {
        overflow: auto;
    }
}

.actionarea .capturebutton {
    background-color: #ffffffaa;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    min-width: 0px;
    border: 4px solid #ffffff;
    margin: 4px 0px 4px 0px;
}

.sidestepper {
    background-color: #ffffffaa;
    position: fixed;
    top: 85px;
    right: 16px;
    width: 200px;
    height: 60vh;
    border-radius: 14px;
    padding-top: 16px;
}

.stepper-index {
    width: 24px;
    height: 24px;
    background-color: #3880ff;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    color: #ffffff;
    font-size: 12px;
    margin: 12px;
    font-weight: 600;
    margin-bottom: 0px;
}

.stepper-title {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    padding-top: 1px;
    margin-bottom: 8px;
}

.sidestepper .stepper-list-row {
    margin-left: 15px;
    margin-top: 6px;
}

.sidestepper .stepper-text-active {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 2px;
    margin-left: 6px;
    color: #6ab04c;
}

.sidestepper .stepper-text-default {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 2px;
    margin-left: 6px;
    color: #686968;
}

.infobutton{
    position: absolute;
    right: 16px;
    top: 40px;
    background-color: #ffffffd7;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #282829;
    font-weight: 600;
    border: 2px solid #ffffff;
}

.gallerysidebar{
    background-color: #ffffffaa;
    position: fixed;
    top: 85px;
    left: 16px;
    width: 200px;
    height: 60vh;
    border-radius: 14px;
    padding-top: 16px;
}