<ion-header class="ion-no-border">
    <ion-grid>
        <ion-row>
            <ion-col size="2">
                <!-- <ion-button  (click)="goBack()" style="width: 55px !important; height:20px !important"> -->
                  <ion-button fill="clear" (click)="goBack()">
                    <ion-img fill="clear" src="/assets/images/back.svg" class="action-icon"></ion-img>
                  </ion-button>
                <!-- </ion-button> -->
            </ion-col>
            <ion-col size="8" ></ion-col>
            <ion-col size="2">
                <ion-button fill="clear" (click)="logout()" [disabled]='enableDisable'>
                    <ion-icon  class="_color" name="log-out-outline" style="font-size: 26px;width:48px;text-align: center;"></ion-icon>
                  </ion-button>
                    <!-- <ion-icon class="action-button-color" style="font-size: 26px;"
                              name="settings-outline"></ion-icon> -->
                <!-- </ion-button> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content style="--background: #FEF8F8;">

    <ion-grid class="profile-background">
        <ion-row>
            <ion-col size="12">
                <div style="text-align:center;">
                    <img src="assets/images/user_placeholder.jpg" alt="User Image" class="user-image">
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="ion-no-padding">
                <div style="text-align: center">
                    <span class="profile-name">{{user.firstname}} {{user.lastname}}</span>
                </div>
            </ion-col>

            <ion-col size="12" class="ion-no-padding">
                <div style="text-align: center">
                    <span class="profile-email">{{user.email}}</span>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
                <div style="text-align: center">
                    <span class="profile-email">{{user.role.name}}</span>
                </div>
            </ion-col>

            <!-- <ion-col size="12" class="ion-no-padding">
                <div style="text-align: center">
                    <span style="color: #BCBCBC;">Male</span>
                </div>
            </ion-col> -->
            <!-- <ion-col size="12">
                <div style="text-align: center">
                    <ion-badge class="badge-container">
                        <div class="dollar-badge">
                            <span style="color: grey;">$50</span>
                        </div>
                    </ion-badge>
                </div>
            </ion-col> -->
            <!-- <ion-col class="ion-align-items-center ion-text-center">
                <ion-button fill="clear" class="action-button-color" (click)="logout()">Logout</ion-button>
            </ion-col>
            <ion-col class="ion-align-items-center ion-text-center">
                <ion-button fill="clear" class="action-button-color" (click)="syncSurvey()">Sync Surveys</ion-button>
            </ion-col> -->
        </ion-row>
        <!-- <ion-row> -->
      
        <!-- </ion-row> -->

        <!-- <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <div style="text-align: center">
              <span>Notifications</span>
            </div>

          </ion-col>
          <ion-col size="6">
            <div style="text-align: center">
              <span>History</span>
            </div>

          </ion-col>
        </ion-row> -->
    </ion-grid>
    <ion-content style="--background: #FEF8F8;">
        <ion-tabs style="
  position: inherit;">
            <ion-tab-bar slot="top" class="ion-no-border" class="profile-tab">
                <ion-tab-button tab="profile-notification">
                    <ion-label style="font-size: 16px;">Notifications</ion-label>
                </ion-tab-button>
                <!-- <ion-tab-button tab="history">
                    <ion-label style="font-size: 16px;">History</ion-label>
                </ion-tab-button> -->
            </ion-tab-bar>
        </ion-tabs>

        <!-- <ion-content> -->
            <!-- <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="3">
                  <ion-buttons>
                    <ion-button>
                      <ion-icon name="chevron-back-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-col>
                <ion-col size="5">
                  <div style="text-align:center;">
                    <span>Jhon Doe</span>
                  </div>
                </ion-col>
                <ion-col size="2">
                  <ion-buttons style="margin-left: 25px;">
                    <ion-button>
                      <ion-icon name="settings-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-col>
                <ion-col size="2">
                  <ion-buttons>
                    <ion-button>
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-col>
              </ion-row>

              <ion-row class="ion-align-items-center">
                <ion-col>
                  <div style="text-align: center;">
                    <span>nsrccs@gmail.com</span>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center" style="margin-top:-10px">
                <ion-col>
                  <div style="text-align: center;">
                    <span>nsrccs@gmail.com</span>
                  </div>
                </ion-col>
              </ion-row>

            </ion-grid> -->
        </ion-content>

    <!-- </ion-content> -->

</ion-content>
