<ion-header class="ion-no-border">
    <ion-grid>
        <ion-row>
            <ion-col size="2">
                <!-- <ion-button  (click)="goBack()" style="width: 55px !important; height:20px !important"> -->
                  <ion-button fill="clear" (click)="goBack()" [disabled]='enableDisable'>
                    <ion-img fill="clear" src="assets/images/back.svg" class="action-icon"></ion-img>
                  </ion-button>
                <!-- </ion-button> -->
            </ion-col>
            <ion-col size="8" ></ion-col>
            <ion-col size="2">
                <ion-button fill="clear" (click)="logout()" [disabled]='enableDisable'>
                    <ion-icon class="text-center" class="_color" name="log-out-outline" style="font-size: 26px;width:48px;text-align: center;"></ion-icon>
                  </ion-button>
                    <!-- <ion-icon class="action-button-color" style="font-size: 26px;"
                              name="settings-outline"></ion-icon> -->
                <!-- </ion-button> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content style="--background: #fff;">

    <ion-grid class="profile-background">
        <ion-row>
            <ion-col size="12">
                <div style="text-align:center;">
                    <img src="assets/images/user_placeholder.jpg" alt="User Image" class="user-image">
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="ion-no-padding">
                <div style="text-align: center">
                    <span class="profile-name">{{profile?.firstname}} {{profile?.lastname}}</span>
                </div>
            </ion-col>

            <ion-col size="12" class="ion-no-padding">
                <div style="text-align: center">
                    <span class="profile-email">{{profile?.email}}</span>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
                <div style="text-align: center">
                    <span class="profile-email" *ngIf="user.role.name=='WattmonkAdmin' || user.role.name=='ContratorAdmin';else role">{{"Admin"}}</span>
                    <ng-template #role>
                      <span class="profile-email" *ngIf="user.role.name=='WattmonkAdmin' || user.role.name=='ContratorAdmin'">{{user.role.name}}</span>
                    </ng-template>
                </div>
            </ion-col>
            <ion-col size="12" class="ion-no-padding" *ngIf="user.role.type=='clientsuperadmin'">
              <div style="text-align: center">
                <span>$ {{profile?.amount}}</span><br>
                 <ion-label>Wallet</ion-label>
              </div>
          </ion-col> 
          <ion-col style="text-align: center;" *ngIf="user.role.type=='clientsuperadmin' && !profile?.ispaymentmodeprepay">
            <ion-button (click)='AddWallet()' fill='clear'>Add money</ion-button> 
          </ion-col>
            <!-- <ion-col size="12" class="ion-no-padding">
                <div style="text-align: center">
                    <span class="profile-amount">Total points: {{user.amount}}</span>
                </div>
                <div style="text-align: center;color:#4272B9" (click)="addPoints()">Add points</div>
            </ion-col> -->

            <!-- <ion-col size="12" class="ion-no-padding">
                <div style="text-align: center">
                    <span style="color: #BCBCBC;">Male</span>
                </div>
            </ion-col> -->
            <!-- <ion-col size="12">
                <div style="text-align: center">
                    <ion-badge class="badge-container">
                        <div class="dollar-badge">
                            <span style="color: grey;">$50</span>
                        </div>
                    </ion-badge>
                </div>
            </ion-col> -->
            <!-- <ion-col class="ion-align-items-center ion-text-center">
                <ion-button fill="clear" class="action-button-color" (click)="logout()">Logout</ion-button>
            </ion-col>
            <ion-col class="ion-align-items-center ion-text-center">
                <ion-button fill="clear" class="action-button-color" (click)="syncSurvey()">Sync Surveys</ion-button>
            </ion-col> -->
        </ion-row>
        <!-- <ion-row> -->
      
        <!-- </ion-row> -->

        <!-- <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <div style="text-align: center">
              <span>Notifications</span>
            </div>

          </ion-col>
          <ion-col size="6">
            <div style="text-align: center">
              <span>History</span>
            </div>

          </ion-col>
        </ion-row> -->
    </ion-grid>
    <!-- <ion-content style="--background: #FEF8F8;">
         <ion-tabs style="
  position: inherit;">
           <ion-tab-bar slot="top" class="ion-no-border" class="profile-tab">
                <ion-tab-button tab="profile-notification">
                    <ion-label style="font-size: 16px;color:#4272B9">Notifications</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>

        </ion-content> -->

    <!-- </ion-content> -->

</ion-content>
