<ion-header class="ion-no-border">
    <ion-grid>
        <ion-row>
            <ion-col size="2">
                <!-- <ion-button  (click)="goBack()" style="width: 55px !important; height:20px !important"> -->
                  <ion-button fill="clear" (click)="goBack()" [disabled]='enableDisable'>
                    <ion-img fill="clear" src="assets/images/back.svg" class="action-icon"></ion-img>
                  </ion-button>
                <!-- </ion-button> -->
            </ion-col>
            <ion-col size="8" ></ion-col>
            <ion-col size="2">
                <ion-button fill="clear" (click)="logout()" [disabled]='enableDisable'>
                    <ion-icon class="text-center" class="_color" name="log-out-outline" style="font-size: 26px;width:48px;text-align: center;"></ion-icon>
                  </ion-button>
                    <!-- <ion-icon class="action-button-color" style="font-size: 26px;"
                              name="settings-outline"></ion-icon> -->
                <!-- </ion-button> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content style="--background: #fff;">

    <ion-grid class="profile-background">
        <ion-row>
            <ion-col size="4">
                <div style="display:flex;">
                    <!-- <span>Active jobs </span>
                    <span>{{activedesignjobs}} </span> -->
                    <ion-card *ngIf="isEmptyObject(user?.logo) || user?.logo ==null" class="profile_img">{{user?.firstname.slice(0,1).toUpperCase() + user?.lastname.slice(0,1).toUpperCase()}}</ion-card>
                    <div *ngIf="!isEmptyObject(user?.logo) && user?.logo !==null">
                      <img [src]="user?.logo?.url" class="profile_image"/>
                    </div>
                    <!-- <img src="assets/images/user_placeholder.jpg" alt="User Image" class="user-image"> -->
                </div>
            </ion-col>
            <ion-col class="ion-no-padding" style="padding-top: 1%;padding-left: 5%;">
                <div>
                    <span class="profile-name">{{user?.firstname}} {{user?.lastname}}</span>
                    <!-- <ion-icon name="pencil-outline"></ion-icon> -->
                    <ion-button fill="clear" style="height: 10%;
                    float: right;
                    margin-top: 3%;
                    margin-bottom: 0px;" (click)="profileEdit()">Edit</ion-button>
                    <!-- <ion-icon name="pencil-outline"></ion-icon> -->
                </div>
            <!-- </ion-col>

            <ion-col class="ion-no-padding"> -->
                <div>
                    <span class="profile-email">{{user.role.name}}</span>
                </div>
            <!-- </ion-col>
            <ion-col class="ion-no-padding" *ngIf="(user.role.type=='clientsuperadmin' && profile?.ispaymentmodeprepay)|| user.designertype=='external'"> -->
                <div style="text-align: center;padding-top: 7%; float:left">
                    <span>{{activedesignjobs}} </span><br>
                    <span>Active jobs </span>
                  </div>
                <div style="text-align: center;padding-top: 7%;" *ngIf="(user.role.type=='clientsuperadmin' && profile?.ispaymentmodeprepay)|| user.designertype=='external'">
                  <span>$ {{profile?.amount}}</span><br>
                   <ion-label>Wallet</ion-label>
                </div>
            <!-- </ion-col>
            <ion-col style="text-align: center;" *ngIf="user.role.type=='clientsuperadmin' && profile?.ispaymentmodeprepay"> -->
              <!-- <ion-button *ngIf="user.role.type=='clientsuperadmin' && profile?.ispaymentmodeprepay" (click)='AddWallet()' fill='clear'>Add money</ion-button>  -->
              <!-- <span>Active jobs </span>
              <span>{{activedesignjobs}} </span> -->

            </ion-col>
        </ion-row>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <ion-card>
          <ion-row>
              <ion-col size="12" class="ion-no-padding" style="margin-top: 5%;">
                  <div>
                  <ion-icon name="mail" style="margin-left: 10%"></ion-icon>
                      <span class="profile-email" style="font-size: larger;
                      margin-left: 5%;">{{user?.email}}</span>
                  </div>
              </ion-col>

              <ion-col size="12" class="ion-no-padding" style="margin-top: 5%;">
                  <div>
                      <ion-icon name="business-sharp" style="margin-left: 10%;"></ion-icon>
                      <span class="profile-email" style="font-size: larger;
                      margin-left: 5%;">{{user?.company}}</span>
                  </div>
              </ion-col>

              <ion-col size="12" class="ion-no-padding" style="margin-top: 5%;">
                  <div>
                      <ion-icon name="call-outline" style="margin-left: 10%;"></ion-icon>
                      <span class="profile-email" style="font-size: larger;
                      margin-left: 5%;">{{user?.phone==null?"No Phone number found":user?.phone}}</span>
                  </div>
              </ion-col>

              <ion-item lines="none">
                  <ion-label class="font" >Notifications</ion-label>
                 <ion-toggle [(ngModel)]="getnotification" (ionChange)="onEmailChange(user,'notification',$event)"  ></ion-toggle>
                 <!-- <ion-toggle formControlName="requestgeneratednotification" (ionChange)="onChange($event,'requestgenerated')"  ></ion-toggle> -->
               </ion-item>
               <ion-item lines="none">
                <ion-label class="font">Emails</ion-label>
               <ion-toggle [(ngModel)]="getemail" (ionChange)="onEmailChange(user,'email',$event)"></ion-toggle>
               <!-- <ion-toggle formControlName="requestacknowledgementnotification" (ionChange)="onChange($event,'requestacknoledged')"></ion-toggle> -->
              </ion-item>
              <!-- <ion-col size="12" class="ion-no-padding">
                  <div style="text-align: center">
                      <span class="profile-name">{{user?.firstname}} {{user?.lastname}}</span>
                  </div>
              </ion-col>

              <ion-col size="12" class="ion-no-padding">
                  <div style="text-align: center">
                      <span class="profile-email">{{user?.email}}</span>
                  </div>
              </ion-col> -->
              <!-- <ion-col size="12" class="ion-no-padding">
                  <div style="text-align: center">
                      <span class="profile-email" *ngIf="user.role.type=='wattmonkadmins' || user.role.name=='ContratorAdmin';else role">{{"Admin"}}</span>
                      <ng-template #role>
                        <span class="profile-email" *ngIf="user.role.type=='wattmonkadmins' || user.role.name=='ContratorAdmin'">{{user.role.name}}</span>
                      </ng-template>
                  </div>
              </ion-col> -->
              <!-- <ion-col size="12" class="ion-no-padding">
                  <div style="text-align: center">
                      <span class="profile-email" *ngIf="user.role.type=='wattmonkadmins' || user.role.name=='ContratorAdmin';else role">{{user.company}}</span>
                       <ng-template #role>
                        <span class="profile-email" *ngIf="user.role.type=='wattmonkadmins' || user.role.name=='ContratorAdmin'">{{user?.phone==null?"No Phone number found":user?.phone}}</span>
                       </ng-template>
                  </div>
              </ion-col> -->
              <!-- <ion-col size="12" class="ion-no-padding" *ngIf="(user.role.type=='clientsuperadmin' && profile?.ispaymentmodeprepay)|| user.designertype=='external'">
                <div style="text-align: center">
                  <span>$ {{profile?.amount}}</span><br>
                   <ion-label>Wallet</ion-label>
                </div>
            </ion-col> -->
            <ion-col style="text-align: center;" *ngIf="user.role.type=='clientsuperadmin' && profile?.ispaymentmodeprepay">
              <ion-button (click)='AddWallet()' fill='clear'>Add money</ion-button>
            </ion-col>
              <!-- <ion-col size="12" class="ion-no-padding">
                  <div style="text-align: center">
                      <span class="profile-amount">Total points: {{user.amount}}</span>
                  </div>
                  <div style="text-align: center;color:#4272B9" (click)="addPoints()">Add points</div>
              </ion-col> -->

              <!-- <ion-col size="12" class="ion-no-padding">
                  <div style="text-align: center">
                      <span style="color: #BCBCBC;">Male</span>
                  </div>
              </ion-col> -->
              <!-- <ion-col size="12">
                  <div style="text-align: center">
                      <ion-badge class="badge-container">
                          <div class="dollar-badge">
                              <span style="color: grey;">$50</span>
                          </div>
                      </ion-badge>
                  </div>
              </ion-col> -->
              <!-- <ion-col class="ion-align-items-center ion-text-center">
                  <ion-button fill="clear" class="action-button-color" (click)="logout()">Logout</ion-button>
              </ion-col>
              <ion-col class="ion-align-items-center ion-text-center">
                  <ion-button fill="clear" class="action-button-color" (click)="syncSurvey()">Sync Surveys</ion-button>
              </ion-col> -->
          </ion-row>
        </ion-card>
        <!-- <ion-row> -->

        <!-- </ion-row> -->

        <!-- <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <div style="text-align: center">
              <span>Notifications</span>
            </div>

          </ion-col>
          <ion-col size="6">
            <div style="text-align: center">
              <span>History</span>
            </div>

          </ion-col>
        </ion-row> -->
    </ion-grid>
    <!-- <ion-content style="--background: #FEF8F8;">
         <ion-tabs style="
  position: inherit;">
           <ion-tab-bar slot="top" class="ion-no-border" class="profile-tab">
                <ion-tab-button tab="profile-notification">
                    <ion-label style="font-size: 16px;color:#4272B9">Notifications</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>

        </ion-content> -->

    <!-- </ion-content> -->

</ion-content>
