<ion-content>
<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button mode="md"></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-row>
  <div class="mt">

    <img src="assets/images/comingsoon.png" />
    <label style="font-size: 16px;font-weight: bold;">Soon your dashboard will have all the required data insights. Stay tuned!!</label>
  </div>
  <!-- <ion-row>
    <ion-col size="6">
      <ion-card class=" card" [routerLink]="['/onhold']">
        <ion-card-header class="top">
          On Hold
        </ion-card-header>
        <ion-badge color="primary">{{count.putonhold}}</ion-badge>
        <ion-card-content></ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class=" card" [routerLink]="['/revision']">
        <ion-card-header class="top">
          Revision
        </ion-card-header>
        <ion-badge color="primary">{{count.isinrevisionstatecount}}</ion-badge>
        <ion-card-content></ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" *ngIf="userData.role.name=='ContractorAdmin' || userData.role.name=='ContractorSuperAdmin' || userData.role.name=='SuperAdmin' || userData.role.type=='wattmonkadmins'">
      <ion-card class=" card"  [routerLink]="['/waitingforacceptance']">
        <ion-card-header class="top">
          Waiting for acceptance
        </ion-card-header>
        <ion-badge color="primary">{{count.waitingforacceptance}}</ion-badge>
        <ion-card-content></ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class=" card"  [routerLink]="['/unassigned']">
        <ion-card-header class="top">
          Unassigned
        </ion-card-header>
        <ion-badge color="primary">{{count.unassigned}}</ion-badge>
        <ion-card-content></ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row> -->
</ion-grid>
</ion-content>
