.title {
  font-size: 22px;
  text-align: center;
  color: #666666;
}

* {
  color: #9A9A9A;
}

.form-background {
  background-color: #FBF9F4;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-area {
  margin-top: 1em;
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 0.5em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.small-padding {
  padding: 8px;
}

.title-text {
  font-size: 1.3em;
}

.normal-text {
  font-size: 1em;
}

.large-margin {
  margin-top: 3em;
}

.small-text {
  font-size: 0.95em;
}

.smaller-text {
  font-size: 0.85em;
}

.submit-text {
  font-size: 1.5em;
}

ol {
  padding-inline-start: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.error {
  color: rgb(223, 62, 62);
  font-size: 0.8em;
}

.error1 {
  color: rgb(75, 75, 75);
  border-bottom: 1px solid #ff0000;
}

.error-box{
  margin-bottom: 0px;
  font-size: 75%;
}

ion-input[type="text"] {
  width: 90%;
  height: 10%;
  border: 2px solid rgba(0,0,0,.12);
  border-radius: 4px;
  margin: 9px 0;
  outline: none;
  padding: 17px;
  box-sizing: border-box;
  transition: 0.3s;
  margin-left: 5%;
  margin-bottom: 0px;
  color: black;
  font-size: 0.8em;
}

ion-input.ng-invalid.ng-untouched.ion-untouched.ion-dirty {
  border-color: var(--ion-color-danger) ;
}

ion-input.ng-pristine.ng-invalid.ng-touched.ion-pristine.ion-invalid {
  border-color: var(--ion-color-danger) ;
}

ion-input.ng-invalid.ng-touched.ion-touched.ion-dirty {
border-color: var(--ion-color-danger) ;
}

ion-input.ng-valid.ng-untouched.ion-untouched.ion-dirty {
border-color: green ;
}

ion-input.ng-valid.ng-touched.ion-touched.ion-dirty {
border-color: green;
}

ion-input.has-focus.sc-ion-input-md-h {
  border: 2px solid #EDC773 !important;
}

.label{
 margin: 2rem;;
 margin-left: 5%;
 font-size: 12px;
 color: #3c4257;
}
.registerbtn1 {
  border: none;
  color: #212529;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 30px 2px;
  // border-radius: 50px;
  border-radius: 4px;
  padding-left: 15%;
  padding-right: 15%;
  height: 36px;
  width: 90%;
  margin-left: 5%;
  background-color:#EDC773;
}
.cancelbtn {
  border: none;
  color: #EDC773;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 30px 2px;
  // border-radius: 50px;
  border-radius: 4px;
  padding-left: 15%;
  padding-right: 15%;
  height: 36px;
  width: 90%;
  margin-left: 5%;
  background-color: rgba(237,198,115,.3411764705882353);
  border: 0.5px solid;
    border-color: #EDC773;
}

img{
  max-width: 50px;
}
ion-content{

  --ion-background-color:#FBF9F4;
}

.email-input{
  background-color: white;
   margin-left: 20px;
  --padding-start:1rem;
}

