<!-- <ion-header class="ion-no-border">
    <ion-grid class="ion-padding">
        <ion-row class="ion-margin-top">
            <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
                    <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-align-items-center ion-justify-content-center">
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="title">Forgot password</span>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" disabled="true" size="small" class="ion-no-padding action-icon">
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="position-relative ion-no-padding">
        <ion-row class="ion-no-padding  header-half-height">
        </ion-row>
        <ion-row class="ion-no-padding header-half-height">
        </ion-row>
        <ion-row class="ion-no-padding position-absolute header-icon-position full-width">
            <ion-col class="flex-center">
                <ion-img src="/assets/images/forgot.svg" class="header-icon"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
    <div class="ion-padding">
        <ion-grid class="ion-padding">
            <form [formGroup]="forgotPasswordForm" novalidate>
                <ion-row>
                    <ion-col size="12">
                        <span class="title-text">Having trouble logging in?</span>
                    </ion-col>
                    <ion-col size="12">
                        <span class="normal-text">To reset your password, enter your wattmonk registered email
                            address.</span>
                    </ion-col>
                    <ion-col size="12" class="ion-margin-top ion-no-padding">
                        <ion-item class="ion-no-padding">
                            <ion-input type="email" placeholder="Email Address"
                                       class="form_input" autocomplete="off"
                                       formControlName="email">
                            </ion-input>
                        </ion-item>
                        <div class="error_div">
                            <div  *ngIf="forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').dirty">
                                <span class="error">{{emailError}}</span>
                            </div>
                        </div>
                        <div class="error_div">
                            <div *ngIf="forgotPasswordForm.get('email').value === '' && forgotPasswordForm.get('email').dirty">
                                <span class="error">{{fieldRequired}}</span>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" class="large-margin">
                        <span class="small-text">Steps to follow:-</span>
                    </ion-col>
                    <ion-col size="12" class="ion-no-margin ion-no-padding">
                        <ol class="smaller-text">
                            <li>Reset password link will be shared to your registered email.</li>
                            <li>Click on the link to reset your password instantly.</li>
                            <li>The link is valid for 24 hours.</li>
                        </ol>
                    </ion-col>
                    <ion-col size="12" class="large-margin">
                        <span class="ion-padding-top ion-padding-bottom submit-text action-button-color"
                              (click)="resendPassword()">Continue</span>
                    </ion-col>
                </ion-row>
            </form>
        </ion-grid>
    </div>
</ion-content> -->

<ion-content>
    <ion-grid class="ion-padding">
      <app-header></app-header>
    
        <!-- <div style="height: 2rem;"></div> -->
        <!-- <ion-grid class="ion-padding form-background"> -->
        <div>
            <p style="margin: 2rem;margin-left: 5%;font-size: 24px;font-weight: 600;color: black;">Forgot Password</p>
            <span style="margin: 2rem;margin-left: 5%;
    color: black;font-weight: 600;
    font-size: 18px;">Having trouble logging in?</span>
            <p style="font-size: 16px;
    color: gray;
    font-family: unset; margin: 1rem;margin-left: 5%;">To reset your password, enter your registered email address.</p>
        </div>
        <div>
            <form [formGroup]="forgotPasswordForm" novalidate>
                <ion-label class="label">Your Email Address*</ion-label>
                <ion-input type="email" type="text" placeholder="eg. pat@example.com" formControlName="email"
                    class="email-input"></ion-input>
                <div class="error_div">
                    <div style="margin-left: 5%;" class="error-box"
                        *ngIf="forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').dirty">
                        <span class="error">{{emailError}}</span>
                    </div>
                </div>
                <div class="error_div">
                    <div style="margin-left: 5%;" class="error-box"
                        *ngIf="forgotPasswordForm.get('email').value === '' && forgotPasswordForm.get('email').dirty ||  (forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid) && forgotPasswordForm.get('email').pristine">
                        <span class="error">{{fieldRequired}}</span>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <button class="registerbtn1" (click)="resendPassword()" expand="block">Continue</button>
        </div>
        <div style="margin-top: -48px;">
            <button class="cancelbtn" (click)="goBack()" expand="block">Cancel</button>
        </div>
    <!-- </ion-grid> -->
    </ion-grid>
    </ion-content>
    <app-footer></app-footer>