.title {
  font-size: 22px;
  text-align: center;
  color: #666666;
}

* {
  color: #9A9A9A;
}

.image-area {
  margin-top: 1em;
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 0.5em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.small-padding {
  padding: 8px;
}

.title-text {
  font-size: 1.3em;
}

.normal-text {
  font-size: 1em;
}

.large-margin {
  margin-top: 3em;
}

.small-text {
  font-size: 0.95em;
}

.smaller-text {
  font-size: 0.85em;
}

.submit-text {
  font-size: 1.5em;
}

ol {
  padding-inline-start: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.error {
  color: rgb(223, 62, 62);
  font-size: large;
}

.error1 {
  color: rgb(75, 75, 75);
  border-bottom: 1px solid #ff0000;
}

ion-input[type="text"] {
  width: 90%;
  height: 10%;
  border: 1px solid black;
  border-radius: 4px;
  margin: 9px 0;
  outline: none;
  padding: 17px;
  box-sizing: border-box;
  transition: 0.3s;
  margin-left: 5%;
}
.label{
 margin: 2rem;;
}
.registerbtn1 {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  margin: 30px 2px;
  border-radius: 50px;
  border-radius: 8px;
  padding-left: 15%;
  padding-right: 15%;
  height: 48px;
  width: 90%;
  margin-left: 5%;
  background-color:#EDC773;
}
.cancelbtn {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  margin: 30px 2px;
  border-radius: 50px;
  border-radius: 8px;
  padding-left: 15%;
  padding-right: 15%;
  height: 48px;
  width: 90%;
  margin-left: 5%;
  background-color: #edc67357;
}

img{
  max-width: 50px;
}
ion-content{

  --ion-background-color:#FBF9F4;
}

.email-input{
  background-color: white;
   margin-left: 20px;
  --padding-start:1rem;
}


