.callingno{
    color: #fff;
    margin-top: 24px;
    text-align: center;
    margin-left: 23px;
    font-size: 26px;
}

.transform{
    transform: rotate(135deg) !important;
}

.name{
    display: flex;
    align-items: center;
    font-size: 76px;
    text-align: center;
    justify-content: center;
    border: 5px solid;
    border-radius: 50%;
    color: #fff;
}