<ion-header class="ion-no-border white-bg" *ngIf="survey">
  <ion-grid class="ion-padding-top ion-padding-start ion-padding-end ">
    <ion-row>
      <ion-col size="2">
        <!-- <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
          <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
        </ion-button> -->
      </ion-col>
      <ion-col size="6" *ngIf="iseditable">
        <ion-button fill="clear" disabled="true" size="small" class="ion-no-padding action-icon">
        </ion-button>
      </ion-col>
      <!-- <ion-col>
                <ion-grid class="ion-align-items-center ion-justify-content-center">
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="survey-name ion-text-center">{{survey.name}}</span>
                    </ion-row>
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="survey-email ion-text-center">{{survey.email}}</span>
                    </ion-row>
                </ion-grid>
            </ion-col> -->
      <!-- <ion-col size="2"
        *ngIf="survey.createdby.id == user.id && (survey.status == 'created' || (user.role.type == 'surveyors' && survey.status == 'assigned'))"
        style="text-align: right !important">
        <ion-button fill="clear" size="small" class="ion-no-padding" [routerLink]="['/schedule/survey/',surveyId]"
          routerDirection="forward">
          <ion-img src="/assets/images/edit.svg" class="action-icon"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col size="2"
        *ngIf="survey.createdby.id == user.id && (survey.status == 'created' || survey.status == 'completed' || (user.role.type == 'surveyors' && survey.status == 'assigned'))"
        style="text-align: right !important" size="2">
        <ion-button fill="clear" size="small" class="ion-no-padding" (click)="deleteSurvey()">
          <ion-img src="/assets/images/trash.svg" class="action-icon"></ion-img>
        </ion-button>
      </ion-col> -->
      <ion-col size="auto" *ngIf="!iseditable">
        <ion-button fill="clear" disabled="true" size="small" class="ion-no-padding action-icon">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="position-relative ion-no-padding">
    <ion-row class="ion-no-padding  header-half-height"> </ion-row>
    <ion-row class="ion-no-padding header-half-height"> </ion-row>
    <ion-row class="ion-no-padding position-absolute header-icon-position full-width">
      <ion-col class="flex-center">
        <ion-img src="/assets/detailpage/Survey.svg" class="header-icon"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding page-text-color" *ngIf="survey">
  <!-- <ion-grid fixed> -->
  <!-- <ion-row> -->
  <!-- <ion-col> -->
  <ion-segment scrollable [(ngModel)]="segments" class="wd140 colorwht" *ngIf='survey.status =="completed"'
    mode="md">
    <ion-segment-button value="SiteDetils" class="wd140 colorwht">
      <ion-label> Site Details </ion-label>
    </ion-segment-button>
    <ion-segment-button value="electricals" class="wd140 colorwht">
      <ion-label> Electrical </ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="solarPanel" class="wd140 colorwht">
                    <ion-label>
                        Solar Panel
                    </ion-label>
                </ion-segment-button> -->
    <ion-segment-button value="roof" class="wd140 colorwht">
      <ion-label> Roof </ion-label>
    </ion-segment-button>
    <ion-segment-button value="attic" class="wd140 colorwht" *ngIf="survey.atticimages.length !==0">
      <ion-label> Attic </ion-label>
    </ion-segment-button>
    <ion-segment-button value="appliances" class="wd140 colorwht" *ngIf="survey.appliancesimages.length !==0">
      <ion-label> Appliances </ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="survey.utilitybillback !== null || survey.utilitybillfront !==null" value="utilitybill"
      class="wd140 colorwht">
      <ion-label> Utility Bill </ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="equipmentMarketing" class="wd140 colorwht">
                    <ion-label style="width:100%">
                        Equipment Marking
                    </ion-label>
                </ion-segment-button> -->
    <ion-segment-button value="generalInfo" class="wd140 colorwht">
      <ion-label> General information </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segments">
    <ion-grid *ngSwitchCase="'SiteDetils'" style="margin-bottom: 50px;">
      <ion-row class="bkg">
        <ion-col class="hgt-margin">
          <!-- <ion-item> -->
          <label>Customer Details</label>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>
      <ion-row *ngIf="survey.name !== null">
        <ion-col size="6">Name</ion-col>
        <ion-col size="6">{{survey.name == null ? nullValue : survey.name | titlecase}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.address !== null">
        <ion-col size="6">Address</ion-col>
        <ion-col size="6">{{survey.address == null ? nullValue : survey.address | titlecase}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.email !== null">
        <ion-col size="6">Email</ion-col>
        <ion-col size="6">{{survey.email == null ? nullValue : survey.email | titlecase}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.phonenumber!== null">
        <ion-col size="6">Phone Number</ion-col>
        <ion-col size="6">{{survey.phonenumber == null ? nullValue : survey.phonenumber | titlecase}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.company !== null">
        <ion-col size="6" > Company</ion-col>
        <ion-col size="6">{{survey?.company == null || '' ? nullValue : survey?.company}}</ion-col>
      </ion-row>

      <ion-row class="bkg">
        <ion-col class="hgt-margin">
          <!-- <ion-item> -->
          <label>Job Details</label>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>
      <ion-row *ngIf="survey.jobtype !== null">
        <ion-col size="6">Job</ion-col>
        <ion-col size="6">{{survey.jobtype == null ? nullValue : survey.jobtype | titlecase}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.projecttype !== null">
        <ion-col size="6"><span class="model-type font">Project Type</span></ion-col>
        <ion-col size="6">
          <span class="model-name font">{{survey.projecttype == null ? nullValue : survey.projecttype | titlecase}}</span>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="survey.newconstruction !== null">
        <ion-col size="6">New Construction</ion-col>
        <ion-col size="6">{{survey.newconstruction == null ? nullValue : survey.newconstruction | titlecase}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Scheduled On</ion-col>
        <ion-col size="6">{{utilities.formatDateInDisplayFormat(survey.datetime)}}
          {{utilities.formatTimeInDisplayFormat(survey.datetime)}}</ion-col>
      </ion-row>

      <ion-row class="bkg">
        <ion-col size="6" class="hgt-margin">
          <!-- <ion-item> -->
          <label>Comments</label>
          <!-- </ion-item> -->
        </ion-col>
        <ng-container *ngIf="survey.comments.length !==0;else nocomments">
          <ion-col size="6" *ngFor="let comment of survey.comments">
            <p [innerHTML]="comment?.message | linkify" class="comment font" style="text-align: left; margin: 0px"></p>
            <p class="comment-by" style="text-align: left; margin-top: 0px">
              Posted by {{comment.createdby?.firstname}}
              {{comment.createdby?.lastname}}
            </p>
          </ion-col>
        </ng-container>
        <ng-template #nocomments>
          <ion-col>
            <p style="color: black">No Comments Found</p>
          </ion-col>
        </ng-template>

        <!-- <ion-col style="text-align: right;">{{comments.createdBy.firstname}} &nbsp;{{comments.createdBy.lastname}} </ion-col>
                            <ion-col style="text-align: right;">{{comments.createdBy.updated_at | date:'dd/MM/yyyy'}}</ion-col> -->
      </ion-row>

      <ion-row *ngIf="survey.reviewissues || survey.reviewissues !==null  " class="ion-no-padding ion-margin-top">
        <ion-col size="6">
          <span class="models font"> Review Comments</span>
        </ion-col>
        <!-- <div> -->

        <ion-col size="6" class="ion-no-padding">
          <div>
            <p class="comment font" style="text-align: right; margin: 0px">
              {{survey?.reviewissues}}
            </p>
            <p class="comment-by" style="text-align: right; margin-top: 0px">
              Posted by {{survey.reviewassignedto?.firstname}}
              {{survey.reviewassignedto?.lastname}}
            </p>
          </div>
        </ion-col>
        <!-- <ion-col size="12" class="ion-no-padding ion-text-end">
                                        </ion-col> -->

        <!-- </div> -->
      </ion-row>

      <ion-row class="bkg" *ngIf="survey.assignedto!== null">
        <ion-col class="hgt-margin">
          <!-- <ion-item> -->
          <label>Assignee Details</label>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>
      <ion-row *ngIf="survey.assignedto!== null">
        <ion-col size="6">Assigned To</ion-col>
        <ion-col size="6">{{survey.assignedto?.firstname | titlecase}} &nbsp;
          {{survey.assignedto?.lastname | titlecase}}</ion-col>
      </ion-row>
      <ion-row class="bkg">
        <ion-col class="hgt-margin">
          <!-- <ion-item> -->
          <label>Created Details</label>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>
      <ion-row *ngIf="survey.createdby!== null">
        <ion-col size="6">Created By</ion-col>
        <ion-col size="6">{{survey.createdby?.firstname | titlecase}} &nbsp;
          {{survey.createdby?.lastname | titlecase}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'electricals'">
      <ion-row>
        <ion-col>
          <ion-segment scrollable [(ngModel)]="electricals" class="segment-btn">
            <ion-segment-button class="wd140" value="MSB" mode="md" *ngIf="survey.mspimages.length !==0">
              <ion-label>MSP</ion-label>
            </ion-segment-button>
            <ion-segment-button class="wd140" value="Subpanel" mode="md" *ngIf="survey.existingsubpanelimages.length !==0">
              <ion-label>Existing Subpanel Images</ion-label>
            </ion-segment-button>
            <ion-segment-button value="utilityMeter" class="wd140" mode="md"
              *ngIf="survey.utilitymeterimages.length !==0">
              <ion-label>Utility Meter</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="survey.pvmeterimages.length !== 0" value="pvMeter" class="wd140" mode="md">
              <ion-label>PV Meter</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="survey.pvinverterimages.length !== 0" value="pvInverter" class="wd140" mode="md">
              <ion-label>PV Inverter</ion-label>
            </ion-segment-button>
            <ion-segment-button value="acDisconnect" class="wd140" *ngIf="survey.acdisconnectimages.length !== 0" mode="md">
              <ion-label>AC Disconnect</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <div [ngSwitch]="electricals">
        <div *ngSwitchCase="'MSB'">
          <ion-slides pager="true" zoom [options]="slideOpts" class="image-slider">
            <ion-slide *ngFor="let elecmsb of survey.mspimages,let i=index">
              <ion-row>
                <ion-col size="12" *ngIf="i==0 && survey.msplocation !== null"><span>MSP  location
                    :</span>&nbsp;<span>{{survey.msplocation == null ? nullValue : survey.msplocation | titlecase}}</span></ion-col>
                <ion-col size="12" *ngIf="i==1"><span>MSP/BUS Rating is :</span>&nbsp;<span>{{survey.msprating == null ? nullValue : survey.msprating}}
                  </span></ion-col>
                <ion-col size="12" *ngIf="i==2 && survey.mainbreakersize !== null"><span>Main breaker size 
                    :</span>&nbsp;<span>{{survey.mainbreakersize == null ? nullValue : survey.mainbreakersize}}
                  </span></ion-col>
                <ion-col size="12" *ngIf="i==3 && survey.mspbreaker !== null"><span>Main Breaker location in MSP 
                    :</span>&nbsp;<span>{{survey.mspbreaker == null ? nullValue : survey.mspbreaker | titlecase}}
                  </span></ion-col>
                <div class="swiper-zoom-container">
                  <img [src]="elecmsb.url" (click)="showimage(elecmsb.url)" />
                </div>
              </ion-row>
            </ion-slide>
          </ion-slides>
        </div>

        <div *ngSwitchCase="'Subpanel'">
          <ion-slides pager="true" zoom [options]="slideOpts" class="image-slider">
            <ion-slide *ngFor="let elecmsb of survey.existingsubpanelimages,let i=index">
              <ion-row>
                <ion-col size="12" *ngIf="i==0"><span>Subpanel  location
                    :</span>&nbsp;<span>{{survey.subpanellocation | titlecase}} </span></ion-col>
                <!-- <ion-col size="12" *ngIf="i==0"><span>MPU Required
                    :</span>&nbsp;<span>{{survey?.mpurequired== true ? 'Yes' : 'No'}}</span></ion-col> -->
                <ion-col size="12" *ngIf="i==1"><span>Subpanel Rating  :</span>&nbsp;<span>{{survey.subpanelrating}}
                  </span></ion-col>
                <ion-col size="12" *ngIf="i==2"><span> Subpanel Main breaker size 
                    :</span>&nbsp;<span>{{survey.subpanelmainbreakersize}} 
                  </span></ion-col>
                <ion-col size="12" *ngIf="i==3"><span>Subpanel Breaker
                    :</span>&nbsp;<span>{{survey.subpanelbreaker | titlecase}} 
                  </span></ion-col>
                <div class="swiper-zoom-container">
                  <img [src]="elecmsb.url" (click)="showimage(elecmsb.url)" />
                </div>
              </ion-row>
            </ion-slide>
          </ion-slides>
        </div>

        <div *ngSwitchCase="'utilityMeter'">
          <ion-slides pager="true" [options]="slideOpts" zoom="true">
            <ion-slide *ngFor="let elecutility of survey.utilitymeterimages,let i=index">
              <ion-row>
                <ion-col size="12" *ngIf="i==0 && survey.utilitymeter !== null"><span>Utility meter is
                    :</span>&nbsp;<span>{{survey.utilitymeter | titlecase}} to MSP
                  </span></ion-col>
                <div class="swiper-zoom-container">
                  <img [src]="elecutility.url" (click)="showimage(elecutility.url)" width="100%" />
                </div>
              </ion-row>
            </ion-slide>
          </ion-slides>
        </div>
        <div *ngSwitchCase="'pvMeter'">
          <ion-slides pager="true" [options]="slideOpts" zom="true">
            <ion-slide *ngFor="let elecpvmeter of survey.pvmeterimages,let i=index">
              <ion-row>
                <div class="swiper-zoom-container">
                  <img [src]="elecpvmeter.url" (click)="showimage(elecpvmeter.url)" width="100%" />
                </div>
              </ion-row>
            </ion-slide>
          </ion-slides>
        </div>
        <div *ngSwitchCase="'pvInverter'">
          <ion-slides pager="true" [options]="slideOpts" zom="true">
            <ion-slide *ngFor="let elecpvmeter of survey.pvinverterimages,let i=index">
              <ion-row>
                <ion-col size="12" *ngIf="survey.pvinverterlocation !== null"><span>PV inverter is located
                    :</span>&nbsp;<span>{{survey.pvinverterlocation == null ? nullValue : survey.pvinverterlocation | titlecase}}
                  </span></ion-col>
                <ion-col size="12" *ngIf="survey.invertermake !== null"><span>Inverter manufacturer : {{survey.invertermake.name == null ? nullValue : survey.invertermake.name | titlecase}} </span></ion-col>
                    <ion-col size="12" *ngIf="survey.invertermodel !== null"><span>
                      Inverter Model is : {{survey.invertermodel == null ? nullValue : survey.invertermodel.name |
                      titlecase}}</span></ion-col>


                <div class="swiper-zoom-container">
                  <img [src]="elecpvmeter.url" (click)="showimage(elecpvmeter.url)" width="100%" />
                </div>
              </ion-row>
            </ion-slide>
          </ion-slides>
        </div>
        <div *ngSwitchCase="'acDisconnect'">
          <ion-slides pager="true" [options]="slideOpts" zoom="true">
            <ion-slide *ngFor="let elecacdisconnect of survey.acdisconnectimages">
              <div class="swiper-zoom-container">
                <img [src]="elecacdisconnect.url" (click)="showimage(elecacdisconnect.url)" width="100%" />
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
    </ion-grid>
    <ion-grid *ngSwitchCase="'solarPanel'">
      <ion-slides pager="true" [options]="slideOpts" zoom="true">
        <ion-slide *ngFor="let solarpanel of survey.solarpanelsimages">
          <div class="swiper-zoom-container">
            <h2 class="position-fix">{{solarpanel.name | titlecase}}</h2>
            <img [src]="solarpanel.url" (click)="showimage(solarpanel.url)" />
          </div>
        </ion-slide>
      </ion-slides>
    </ion-grid>
    <ion-grid *ngSwitchCase="'roof'">
      <ion-slides pager="true" [options]="slideOpts" zoom="true">
        <ion-slide *ngFor="let roof of survey.roofimages,let i=index">
          <ion-row>
            <ng-container *ngIf="i==0 && survey.roofmaterial !== null">
              <ion-col size="12"><span>Roof Material
                  :</span>&nbsp;<span>{{survey.roofmaterial.name == null ? nullValue : survey.roofmaterial.name | titlecase}}
                </span></ion-col>
            </ng-container>
            <ng-container *ngIf="i==0 && survey.rooftilt !== null">
              <ion-col size ="12"><span >Roof Tilt :</span>&nbsp;<span>{{survey.rooftilt == null || '' ? nullValue : survey.rooftilt}} </span></ion-col>
            </ng-container>
            <div class="swiper-zoom-container">
              <!-- <h2 class="position-fix">{{roof.name | titlecase}}</h2> -->
              <img [src]="roof.url" (click)="showimage(roof.url)" />
            </div>
          </ion-row>
        </ion-slide>
        <ion-slide *ngFor="let roofdimension of survey.roofdimensionimages,let i=index">
          <ion-row>
            <!-- <ion-col size ="12"><span *ngIf="i=='0'">Roof Dimension :</span>&nbsp;<span>{{survey.numberofmodules}} </span></ion-col> -->
            <div class="swiper-zoom-container">
              <!-- <h2 class="position-fix">{{roofdimension?.name | titlecase}}</h2> -->
              <img [src]="roofdimension.url" (click)="showimage(roofdimension.url)" />
            </div>
          </ion-row>
        </ion-slide>
        <ion-slide *ngFor="let roofobstacle of survey.obstaclesimages,let i=index">
          <ion-row>
            <!-- <ion-col size ="12"><span *ngIf="i=='0'">Roof Dimension :</span>&nbsp;<span>{{survey.numberofmodules}} </span></ion-col> -->
            <div class="swiper-zoom-container">
              <h2 class="position-fix">{{roofobstacle?.name | titlecase}}</h2>
              <img [src]="roofobstacle.url" (click)="showimage(roofobstacle.url)" />
            </div>
          </ion-row>
        </ion-slide>
        <ion-slide *ngFor="let roofobstacledimension of survey.obstaclesdimensionsimages,let i=index">
          <ion-row>
            <!-- <ion-col size ="12"><span *ngIf="i=='0'">Roof Dimension :</span>&nbsp;<span>{{survey.numberofmodules}} </span></ion-col> -->
            <div class="swiper-zoom-container">
              <h2 class="position-fix">{{roofobstacledimension?.name | titlecase}}</h2>
              <img [src]="roofobstacledimension.url" (click)="showimage(roofobstacledimension.url)" />
            </div>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-grid>
    <ion-grid *ngSwitchCase="'attic'">
      <ion-slides pager="true" [options]="slideOpts" zoom="true">
        <ion-slide *ngFor="let attic of survey.atticimages,let i=index">
          <ion-row>
            <!-- <ng-container *ngIf="survey.framing !== null"> -->
              <ng-container>
              <ion-col size="12" *ngIf="i==0 && survey.framing !== null"><span>Framing is :</span>&nbsp;<span>{{survey.framing == null ? nullValue : survey.framing | titlecase}}
                </span></ion-col>
            </ng-container>
            <!-- <ng-container *ngIf="survey.framingsize !==''"> -->
              <ng-container>
              <ion-col size="12" *ngIf="i==1 && survey.framingsize !== null"><span>Framing size is : </span>&nbsp;<span>{{survey.framingsize == null || '' ? nullValue : survey.framingsize}}
                </span></ion-col>
            </ng-container>

            <ion-col size="12" *ngIf="i==2 && survey.distancebetweentworafts !== null"><span>Distance between two rafts :
              </span>&nbsp;<span>{{survey.distancebetweentworafts == null ? nullValue : survey.distancebetweentworafts}}
              </span>
              </ion-col>
            <div class="swiper-zoom-container">
              <img [src]="attic.url" (click)="showimage(attic.url)" />
            </div>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-grid>
    <ion-grid *ngSwitchCase="'appliances'">
      <ion-slides pager="true" [options]="slideOpts" zoom="true">
        <ion-slide *ngFor="let appliance of survey.appliancesimages">
          <ion-row>
            <ion-col size="12"><span>Appliance name is:</span>&nbsp;<span>{{appliance.name == null ? nullValue : appliance.name.split('.').slice(0, -1).join('.') | titlecase}}</span>
            </ion-col>
            <div class="swiper-zoom-container">
              <!-- <h2 class="position-fix">{{appliance.name | titlecase}}</h2> -->
              <img [src]="appliance.url" (click)="showimage(appliance.url)" />
            </div>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-grid>
    <ion-grid *ngSwitchCase="'utilitybill'">
      <ion-slides pager="true" [options]="slideOpts" zoom="true">
        <ion-slide>
          <ion-row>
            <ion-col size="12"><span>Utility Front Bill</span>&nbsp;<span></span>
            </ion-col>
            <div class="swiper-zoom-container">
              <!-- <h2 class="position-fix">{{survey.name}}</h2> -->
              <img [src]="survey.utilitybillfront.url" (click)="showimage(survey.utilitybillfront.url)" />
            </div>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row>
            <ion-col size="12"><span>Utility Back Bill</span>&nbsp;<span></span>
            </ion-col>
            <div class="swiper-zoom-container">
              <!-- <h2 class="position-fix">{{survey.name}}</h2> -->
              <img [src]="survey.utilitybillback.url" (click)="showimage(survey.utilitybillback.url)" />
            </div>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-grid>
    <ion-grid *ngSwitchCase="'equipmentMarketing'">
      <ion-slides pager="true" [options]="slideOpts" zoom="true">
        <ion-slide>
          <div class="swiper-zoom-container">
            <h2 class="position-fix">{{survey.electricalslocation.name | titlecase}}</h2>
            <img [src]="survey.electricalslocation.url" (click)="showimage(survey.electricalslocation.url)" />
          </div>
        </ion-slide>
      </ion-slides>
    </ion-grid>
    <ion-grid *ngSwitchCase="'generalInfo'">
      <ion-row class="bkg">
        <ion-col class="hgt-margin">
          <!-- <ion-item> -->
          <label>Details</label>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>
      <!-- <ion-row>
                        <ion-col size="6">Existing Modules Brand</ion-col>
                        <ion-col size="6">{{survey.modulemake.name}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">Existing Modules Model</ion-col>
                        <ion-col size="6">{{survey.modulemodel.name}}</ion-col>
                    </ion-row> -->
      <ion-row *ngIf="survey.batterysystem !== null">
        <ion-col size="6">Battery System</ion-col>
        <ion-col size="6">{{survey.batterysystem== 'true' ? 'Yes' : 'No'}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.batterysystem=='true'">
        <ion-col size="6">Battery details</ion-col>
        <ion-col size="6">{{survey.detailsofbatterysystem | titlecase}}</ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="survey.batterybackup !== null">
        <ion-col size="6">Battery Backup</ion-col>
        <ion-col size="6">{{survey.batterybackup == null ? nullValue : survey.batterybackup}}</ion-col>
      </ion-row> -->
      <ion-row *ngIf="survey.existingsolarsystem !== null">
        <ion-col size="6">Existing Solar System</ion-col>
        <ion-col size="6">{{survey.existingsolarsystem == true ? 'Yes' : 'No'}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.interconnection !== null">
        <ion-col size="6">Interconnection</ion-col>
        <ion-col size="6">{{survey.interconnection == null ? nullValue : survey.interconnection | titlecase}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.interconnectiondetails !== null">
        <ion-col size="6">Interconnection Details</ion-col>
        <ion-col size="6">{{survey.interconnectiondetails == null ? nullValue : survey.interconnectiondetails | titlecase}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.servicefeedsource !== null">
        <ion-col size="6"> Power service line source to Main panel (Overhead if you can see the wires coming from the power poles to connect to home)</ion-col>
        <ion-col size="6">{{survey?.servicefeedsource | titlecase}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.esid !== null">
        <ion-col size="6" > ESID Number</ion-col>
        <ion-col size="6">{{survey?.esid == null || '' ? nullValue : survey?.esid}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.utility !== null">
        <ion-col size="6" > Utility Name</ion-col>
        <ion-col size="6">{{survey?.utility.name == null || '' ? nullValue : survey?.utility.name}}</ion-col>
        <ion-col size="6">{{survey?.utility.requirements == null || '' ? nullValue : survey?.utility.requirements}}</ion-col>
        <ion-col size="6">{{survey?.utility.state == null || '' ? nullValue : survey?.utility.state}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.pvmeter !== null">
        <ion-col size="6" > PV Meter</ion-col>
        <ion-col size="6">{{survey?.pvmeter == null || '' ? nullValue : survey?.pvmeter}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.acdisconnect !== null">
        <ion-col size="6" > AC Disconnect</ion-col>
        <ion-col size="6">{{survey?.acdisconnect == null || '' ? nullValue : survey?.acdisconnect}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.latitude !== null">
        <ion-col size="6" > Latitude</ion-col>
        <ion-col size="6">{{survey?.latitude == null || '' ? nullValue : survey?.latitude}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.longitude !== null">
        <ion-col size="6" > Longitude</ion-col>
        <ion-col size="6">{{survey?.longitude == null || '' ? nullValue : survey?.longitude}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.sizeofsingleraft !== null">
        <ion-col size="6" > Size of single raft</ion-col>
        <ion-col size="6">{{survey?.sizeofsingleraft == null || '' ? nullValue : survey?.sizeofsingleraft}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.requesttype !== null">
        <ion-col size="6" > Request Type</ion-col>
        <ion-col size="6">{{survey?.requesttype == null || '' ? nullValue : survey?.requesttype}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.meternumber !== null">
        <ion-col size="6" > Meter Number</ion-col>
        <ion-col size="6">{{survey?.meternumber == null || '' ? nullValue : survey?.meternumber}}</ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="survey.additionalnotes !='' && survey.additionalnotes !=null"> -->
        <ion-row *ngIf="survey.additionalnotes !== null">
        <ion-col size="6" > Additional notes</ion-col>
        <ion-col size="6">{{survey?.additionalnotes == null || '' ? nullValue : survey?.additionalnotes | titlecase}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.hoadetails !== null">
        <ion-col size="6" > HOA Details</ion-col>
        <ion-col size="6">{{survey?.hoadetails == null || '' ? nullValue : survey?.hoadetails}}</ion-col>
      </ion-row>
      <ion-row *ngIf="survey.hoaattachments.length !== 0">
        <ion-col size="6" > HOA Attachments</ion-col>
        <ion-col size="6" >
          <ion-slides pager="false" [options]="slideOpts" zoom="true">
            <ion-slide *ngFor="let hoa of survey.hoaattachments; let i = index">
              <div>
                <img [src]="hoa.ext !== ('.png' || '.jpg' || '.jpeg' || '.gif') ? 'assets/icon/file.png' : hoa.url " style="
                    height: 10rem;
                    width: 10rem;
                    border: 3px solid black;
                  " alt="file" (click)="showimage(hoa.url)" />

                <!-- <ion-icon class="remove" name="close-circle-outline" (click)="removePrelim(i)"></ion-icon> -->
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row><br><br>
    </ion-grid>
  </div>

  <!-- <ion-content [fullscreen]="true" class="ion-padding"> -->

  <!-- </ion-content> -->
  <!-- </ion-col> -->
  <!-- </ion-row> -->
  <!-- </ion-grid> -->
  <!-- <ion-grid *ngIf="survey" class="page-text-color">
        <ion-row>
            <ion-col size="12">
                <span (click)="openAddressOnMap(survey.address)" class="address">{{survey.address}}</span>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="input-placeholder">date and time</span>
            </ion-col>
            <ion-col>
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="main-background d-flex flex-row align-center justify-center">
                            <div class="d-flex flex-column align-center justify-center ion-padding date-background">
                                <span class="month">{{survey.datetime | date: 'MMM'}}</span>
                                <span class="day">{{survey.datetime | date: 'dd'}}</span>
                            </div>
                            <div class="ion-padding">
                                <span class="time">{{survey.datetime | date: 'hh : mm a'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col size="auto" *ngIf="iseditable">
                <div class="d-flex flex-column align-center justify-center" (click)="reschedule()">
                    <ion-img src="/assets/images/schedule.svg" class="reschedule-icon"></ion-img>
                    <span>Reschedule</span>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
            <ion-col><span class="model-type">jobtype</span></ion-col>
            <ion-col size="auto">
                <span class="model-name">{{survey.jobtype}}</span>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="models">Solar Details</span>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">make</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.modulemake">{{survey.modulemake.name}}</span>
                            <span class="model-name" *ngIf="!survey.modulemake">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">model</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.modulemodel">{{survey.modulemodel.name}}</span>
                            <span class="model-name" *ngIf="!survey.modulemodel">n/a</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="models">Inverter Details</span>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">make</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.invertermake">{{survey.invertermake}}</span>
                            <span class="model-name" *ngIf="!survey.invertermake">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">model</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.invertermodel">{{survey.invertermodel}}</span>
                            <span class="model-name" *ngIf="!survey.invertermodel">n/a</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">utility</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.utility">{{survey.utility.name}}</span>
                            <span class="model-name" *ngIf="!survey.utility">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">msp location</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.msplocation">{{survey.msplocation}}</span>
                            <span class="model-name" *ngIf="!survey.msplocation">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">msp breaker</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.mspbreaker">{{survey.mspbreaker}}</span>
                            <span class="model-name" *ngIf="!survey.mspbreaker">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">msp rating</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.msprating">{{survey.msprating}}</span>
                            <span class="model-name" *ngIf="!survey.msprating">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">main breaker size</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.mainbreakersize">{{survey.mainbreakersize}}</span>
                            <span class="model-name" *ngIf="!survey.mainbreakersize">n/a</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">pv meter</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.pvmeter">{{survey.pvmeter}}</span>
                            <span class="model-name" *ngIf="!survey.pvmeter">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">pv inverter location</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name"
                                  *ngIf="survey.pvinverterlocation">{{survey.pvinverterlocation}}</span>
                            <span class="model-name" *ngIf="!survey.pvinverterlocation">n/a</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">utility meter</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.utilitymeter">{{survey.utilitymeter}}</span>
                            <span class="model-name" *ngIf="!survey.utilitymeter">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">ac disconnect</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.acdisconnect">{{survey.acdisconnect}}</span>
                            <span class="model-name" *ngIf="!survey.acdisconnect">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">no of modules</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.numberofmodules">{{survey.numberofmodules}}</span>
                            <span class="model-name" *ngIf="!survey.numberofmodules">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">service feed source</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name"
                                  *ngIf="survey.servicefeedsource">{{survey.servicefeedsource}}</span>
                            <span class="model-name" *ngIf="!survey.servicefeedsource">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">service feed source</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name"
                                  *ngIf="survey.interconnection">{{survey.interconnection}}</span>
                            <span class="model-name" *ngIf="!survey.interconnection">n/a</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-col class="ion-no-padding">
                <span class="data-header">gallery</span>
            </ion-col>
            <ion-col size="auto" [routerLink]="['/gallery/', surveyId]"
                     routerDirection="forward">
                <span>View all</span>
            </ion-col>
            <ion-col class="ion-align-items-center d-flex" size="12">
                <img src="/assets/images/images.svg" class="image-count">
                <span>{{getSurveyImages()}} images</span>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-margin-top">
            <ion-col size="12" class="ion-no-padding">
                <span class="data-header">comments</span>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
                <span class="data-point">"{{survey.comments}}"</span>
            </ion-col>
            <ion-col size="12" class="ion-no-padding ion-text-end">
                <span class="comment-by">Posted by {{survey.createdby.firstname}} {{survey.createdby.lastname}}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col><span class="model-type">created at</span></ion-col>
            <ion-col size="auto">
                <span class="model-name">{{survey.created_at | date: 'dd/MM/yyyy hh:mm a'}}</span>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-margin-top ion-justify-content-center ion-align-items-center"
                 *ngIf="assigned">
            <ion-col class="ion-justify-content-center ion-align-items-center"><span
                    class="model-type">assigned to</span></ion-col>
            <ion-col size="auto">
                <div class="selected d-flex">
                    <img *ngIf="survey.assignedto.contractorlogo && survey.assignedto.contractorlogo.logo" [src]="survey.assignedto.contractorlogo.logo.url"
                         class="assignee-image"/>
                    <div *ngIf="!survey.assignedto.contractorlogo || !survey.assignedto.contractorlogo.logo"
                         class="assignee-image d-flex flex-row align-center justify-center">
                        <div class="name_div">
                            <span style="text-transform: capitalize;">{{survey.assignedto.firstname.substring(0, 1)}}{{survey.assignedto.lastname.substring(0, 1)}}</span>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-margin-top" *ngIf="!assigned">
            <ion-col size="12">
                <form novalidate [formGroup]="assigneeForm">
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-user-selector placeholder="assign" [assignees]="listOfAssignees"
                                           formControlName="assignto"></app-user-selector>
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid> -->
</ion-content>
<ion-footer
  *ngIf="((user.role.type=='clientadmin' || user.role.type=='bd')&& survey && survey.status=='created')||(user.role.type=='clientadmin' && survey && survey.status=='assigned')"
  class="ion-no-border white-bg">
  <ion-grid>
    <ion-row class="ion-text-end ion-align-items-end ion-justify-content-end">
      <ion-col class="ion-no-margin ion-no-padding">
        <!--  <ion-col class="ion-no-margin ion-no-padding ion-text-end" *ngIf="today==item.date"> -->
        <ion-button class="ion-no-margin ion-no-padding" style="float: right; margin-right: 10%; margin-bottom: 5%"
          fill="clear" (click)="assignedTo(survey)">
          Start Survey
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
<ion-footer
  *ngIf="(user.role.type=='qcinspector'&& survey && survey.status=='reviewassigned')||(survey && survey.status=='reviewassigned' && survey.reviewassignedto.id==user.id)"
  class="ion-no-border white-bg">
  <ion-grid>
    <ion-row class="ion-text-end ion-align-items-end ion-justify-content-end">
      <ion-col size="auto">
        <ion-button class="action-button-color" fill="clear" style="float: left" (click)="openreviewPassed('fail')">
          Failed</ion-button>
        <ion-button class="action-button-color" fill="clear" style="float: right" (click)="openreviewPassed('pass')">
          Passed</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- <ion-footer *ngIf="!assigned && survey" class="ion-no-border white-bg">
    <ion-grid>
        <ion-row class="ion-text-end ion-align-items-end ion-justify-content-end">
            <ion-col size="auto">
                <ion-button class="action-button-color" fill="clear" (click)="updateAssignee()">Done</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer> -->

<!-- <ion-bottom-drawer [(state)]="drawerState" minimumHeight="0" dockedHeight="300" draggable="false" disableDrag="true"
                   shouldBounce="false" distanceTop="0" class="drawer">
    <form [formGroup]="rescheduleForm">
        <ion-grid class="drawer">
            <ion-row>
                <ion-col size="12">
                    <span>date and time</span>
                </ion-col>
                <ion-col *ngIf="survey" size="auto">
                    <ion-item lines="none" class="date-picker" (click)="changeDate()">
                        {{date | date: 'dd MMM'}}
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="survey" size="auto">
                    <ion-item lines="none" class="date-picker" (click)="changeTime()">
                        {{date | date: 'hh:mm a'}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <span>comments</span>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea class="ion-no-margin ion-no-padding comment_box" formControlName="comments"
                                  rows="3"></ion-textarea>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <ion-button class="buttom-drawer-button" (click)="rescheduleSurvey()">
                        Confirm
                    </ion-button>
                </ion-col>
                <ion-col size="auto">
                    <ion-button class="buttom-drawer-button-cancel" fill="clear" (click)="dismissBottomSheet()">
                        Cancel
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-bottom-drawer> -->