<div class="d-flex flex-column">
  <span class="input-placeholder">{{placeholder}}</span>
  <div class="main-background d-flex flex-row align-center justify-center">
    <div class="d-flex flex-column align-center justify-center ion-padding date-background" (click)="changeDate()">
      <span class="month">{{date | date: 'MMM'}}</span>
      <span class="day">{{date | date: 'dd'}}</span>
    </div>
    <div class="ion-padding" (click)="changeTime()">
      <span class="time">{{date | date: 'hh : mm a'}}</span>
    </div>
  </div>
</div>

