.main-background {
  margin-top: 8px;
  background: #EFEFEF;
  border-radius: 0.5em;
  color: #656565;
}

.date-background {
  width: 4em;
  height: 4em;
  background: #dc6e67;
  border-radius: 0.5em;
  color: white;
}

.month {
  font-size: 1em;
}

.day {
  font-size: 1.5em;
  font-weight: bold;
}

.time {
  font-size: 1.5em;
  font-weight: bold;
}


