<ion-content>
    <ion-grid *ngIf="listOfSurveyDataHelper.length !== 0">
        <ion-row *ngFor="let item of listOfSurveyDataHelper;let i = index">
            <ion-col size="12" class="ion-margin-top">
                    <span class="ion-padding" *ngIf="today === item.date">
                        Today
                      </span>
                <span class="ion-padding" *ngIf="today !== item.date">
                          {{item.date | date: 'dd MMM yyyy'}}
                    </span>
            </ion-col>
            <ion-col *ngFor="let surveyData of item.listOfSurveys;let i = index " size="6">
                <div class="ion-padding custom-card">
                    <span class="customer-name" [routerLink]="['/survey-detail/',surveyData.id]"
                          routerDirection="forward">{{surveyData.name}}</span>
                    <span class="customer-email" [routerLink]="['/survey-detail/',surveyData.id]"
                          routerDirection="forward">{{surveyData.email}}</span>
                    <a href="tel:{{surveyData.phonenumber}}" style="text-decoration: none;" class="z-100">
                        <span class="customer-phone">{{surveyData.phonenumber}}</span></a>
                    <span class="customer-address z-100"
                          (click)="openAddressOnMap(surveyData.address)">{{(surveyData.address | slice:0:60) + (surveyData.address.length > 60 ? '...' : '')}}</span>
                    <ion-row class="ion-no-margin ion-no-margin">
                        <ion-col size="auto" class="ion-no-margin ion-no-padding" *ngIf="!surveyData.modulemodel"
                                 [routerLink]="['/camera/',surveyData.id]" routerDirection="forward">
                            <span class="ion-text-end action-button-color">Start Survey</span>
                        </ion-col>
                        <ion-col></ion-col>
                        <ion-col size="auto" class="ion-no-margin ion-no-padding"
                                 *ngIf="surveyData.assignto === null || surveyData.assignto === undefined">
                            <span class="ion-text-end action-button-color"
                                  (click)="openSurveyors(surveyData.id)">Assign</span>
                        </ion-col>
                    </ion-row>

                </div>

            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="listOfSurveyDataHelper.length === 0" class="h-100 d-flex flex-column align-center justify-center">
        <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>
    </div>

</ion-content>

<ion-bottom-drawer [(state)]="drawerState" minimumHeight="0" dockedHeight="300" draggable="false" disableDrag="true"
                   shouldBounce="false" distanceTop="0" class="drawer" style="z-index: 9999 !important;">
    <form [formGroup]="assignForm">
        <ion-grid class="drawer">
            <ion-row>
                <ion-col size="12">
                    <app-user-selector placeholder="assign" [assignees]="listOfAssignees"
                                       formControlName="assignto"></app-user-selector>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <ion-button class="buttom-drawer-button" (click)="assignToSurveyor()">
                        Confirm
                    </ion-button>
                </ion-col>
                <ion-col size="auto">
                    <ion-button class="buttom-drawer-button-cancel" fill="clear" (click)="dismissBottomSheet()">
                        Cancel
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-bottom-drawer>

