<ion-content>
    <ion-grid *ngIf="listOfSurveyDataHelper.length !== 0">
        <ion-row *ngFor="let item of listOfSurveyDataHelper;let i = index">
            <ion-col size="12" class="ion-margin-top">
                    <span class="ion-padding" *ngIf="today === item.date">
                        Today
                      </span>
                <span class="ion-padding" *ngIf="today !== item.date">
                          {{item.date | date: 'dd MMM yyyy'}}
                    </span>
            </ion-col>
            <ion-col *ngFor="let surveyData of item.listOfSurveys;let i = index " size="6">
                <div class="ion-padding custom-card">
                    <span class="customer-name" [routerLink]="['/survey-detail/',surveyData.id]" routerDirection="forward">{{surveyData.name}}</span>
                    <span class="customer-email" [routerLink]="['/survey-detail/',surveyData.id]" routerDirection="forward">{{surveyData.email}}</span>
                    <a href="tel:{{surveyData.phonenumber}}" style="text-decoration: none;" class="z-100">
                        <span class="customer-phone">{{surveyData.phonenumber}}</span></a>
                    <span class="customer-address z-100"
                          (click)="openAddressOnMap(surveyData.address)">{{surveyData.address}}</span>
                    <ion-row class="ion-no-margin ion-no-margin">
                        <ion-col size="auto" class="ion-no-margin ion-no-padding" [routerLink]="['/camera/',surveyData.id]" routerDirection="forward">
                            <span class="ion-text-end action-button-color">Start Survey</span>
                        </ion-col>
                        <ion-col></ion-col>
                        <ion-col size="auto" class="ion-no-margin ion-no-padding">
                            <span class="ion-text-end action-button-color" [routerLink]="['/survey-detail/',surveyData.id]" routerDirection="forward"
                                  *ngIf="surveyData.assignto.id === null || surveyData.assignto.id === undefined">Assign</span>
                        </ion-col>
                    </ion-row>

                </div>

            </ion-col>
        </ion-row>
    </ion-grid>


    <div *ngIf="listOfSurveyDataHelper.length === 0" class="h-100 d-flex flex-column align-center justify-center">
        <ion-img src="/assets/images/blank.png" class="placeholder"></ion-img>      
      </div>

</ion-content>

