<ion-header class="ion-no-border white-bg" *ngIf="survey">
    <ion-grid class="ion-padding-top ion-padding-start ion-padding-end header-bg">
        <ion-row>
            <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
                    <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" disabled="true" size="small" class="ion-no-padding action-icon">
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-align-items-center ion-justify-content-center">
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="survey-name ion-text-center">{{survey.name}}</span>
                    </ion-row>
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="survey-email ion-text-center">{{survey.email}}</span>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding"
                            [routerLink]="['/schedule/survey/',surveyId]"
                            routerDirection="forward">
                    <ion-img src="/assets/images/edit.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col size="auto">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="deleteSurvey()">
                    <ion-img src="/assets/images/trash.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="position-relative ion-no-padding">
        <ion-row class="ion-no-padding border-header header-half-height">
        </ion-row>
        <ion-row class="ion-no-padding header-half-height">

        </ion-row>
        <ion-row class="ion-no-padding position-absolute header-icon-position full-width">
            <ion-col class="flex-center">
                <ion-img src="/assets/images/survey.svg" class="header-icon"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding page-text-color" no-bounce>
    <ion-grid *ngIf="survey" class="page-text-color">
        <ion-row>
            <ion-col size="12">
                <span (click)="openAddressOnMap(survey.address)" class="address">{{survey.address}}</span>
            </ion-col>
            <!--            <ion-col size="5" class="ion-text-end">-->
            <!--                <ion-grid class="ion-no-padding">-->
            <!--                    <ion-row>-->
            <!--                        <ion-col><span>{{survey.datetime | date: 'dd MMM, yyyy'}}</span></ion-col>-->
            <!--                    </ion-row>-->
            <!--                    <ion-row>-->
            <!--                        <ion-col><span>{{survey.datetime | date: 'hh:MM a'}}</span></ion-col>-->
            <!--                    </ion-row>-->
            <!--                </ion-grid>-->
            <!--            </ion-col>-->
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="input-placeholder">date and time</span>
            </ion-col>
            <ion-col>
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div class="main-background d-flex flex-row align-center justify-center">
                            <div class="d-flex flex-column align-center justify-center ion-padding date-background">
                                <span class="month">{{survey.datetime | date: 'MMM'}}</span>
                                <span class="day">{{survey.datetime | date: 'dd'}}</span>
                            </div>
                            <div class="ion-padding">
                                <span class="time">{{survey.datetime | date: 'hh : mm a'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col size="auto">
                <div class="d-flex flex-column align-center justify-center" (click)="reschedule()">
                    <ion-img src="/assets/images/schedule.svg" class="reschedule-icon"></ion-img>
                    <span>Reschedule</span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="models">Solar Details</span>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">make</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.modulemake">{{survey.modulemake.name}}</span>
                            <span class="model-name" *ngIf="!survey.modulemake">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">model</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.modulemodel">{{survey.modulemodel.name}}</span>
                            <span class="model-name" *ngIf="!survey.modulemodel">n/a</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col size="12">
                <span class="models">Inverter Details</span>
            </ion-col>
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">make</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.invertermake">{{survey.invertermake.name}}</span>
                            <span class="model-name" *ngIf="!survey.invertermake">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">model</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.invertermodel">{{survey.invertermodel.name}}</span>
                            <span class="model-name" *ngIf="!survey.invertermodel">n/a</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">msp location</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.msplocation">{{survey.msplocation}}</span>
                            <span class="model-name" *ngIf="!survey.msplocation">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">msp breaker</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.mspbreaker">{{survey.mspbreaker}}</span>
                            <span class="model-name" *ngIf="!survey.mspbreaker">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">msp rating</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.msprating">{{survey.msprating}}</span>
                            <span class="model-name" *ngIf="!survey.msprating">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">main breaker size</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.mainbreakersize">{{survey.mainbreakersize}}</span>
                            <span class="model-name" *ngIf="!survey.mainbreakersize">n/a</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">pv meter</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.pvmeter">{{survey.pvmeter}}</span>
                            <span class="model-name" *ngIf="!survey.pvmeter">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">pv inverter location</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name"
                                  *ngIf="survey.pvinverterlocation">{{survey.pvinverterlocation}}</span>
                            <span class="model-name" *ngIf="!survey.pvinverterlocation">n/a</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                        <ion-col><span class="model-type">utility meter</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.utilitymeter">{{survey.utilitymeter}}</span>
                            <span class="model-name" *ngIf="!survey.utilitymeter">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">ac disconnect</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.acdisconnect">{{survey.acdisconnect}}</span>
                            <span class="model-name" *ngIf="!survey.acdisconnect">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">no of modules</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name" *ngIf="survey.numberofmodules">{{survey.numberofmodules}}</span>
                            <span class="model-name" *ngIf="!survey.numberofmodules">n/a</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><span class="model-type">service feed source</span></ion-col>
                        <ion-col size="auto">
                            <span class="model-name"
                                  *ngIf="survey.servicefeedsource">{{survey.servicefeedsource}}</span>
                            <span class="model-name" *ngIf="!survey.servicefeedsource">n/a</span>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-col>
        </ion-row>


        <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-col class="ion-no-padding">
                <span class="data-header">gallery</span>
            </ion-col>
            <ion-col size="auto" [routerLink]="['/gallery/', surveyId]"
                     routerDirection="forward">
                <span>View all</span>
            </ion-col>
            <ion-col class="ion-align-items-center d-flex" size="12">
                <img src="/assets/images/images.svg" class="image-count">
                <span>{{getSurveyImages()}} images</span>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding ion-margin-top">
            <ion-col size="12" class="ion-no-padding">
                <span class="data-header">comments</span>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
                <span class="data-point">"{{survey.comments}}"</span>
            </ion-col>
            <ion-col size="12" class="ion-no-padding ion-text-end">
                <span class="comment-by">Posted by {{survey.createdby.firstname}} {{survey.createdby.lastname}}</span>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col><span class="model-type">created at</span></ion-col>
            <ion-col size="auto">
                <span class="model-name">{{survey.created_at | date: 'dd/MM/yyyy hh:mm a'}}</span>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding ion-margin-top ion-justify-content-center ion-align-items-center"
                 *ngIf="assigned">
            <ion-col class="ion-justify-content-center ion-align-items-center"><span
                    class="model-type">assigned to</span></ion-col>
            <ion-col size="auto">
                <div class="selected d-flex">
                    <img *ngIf="survey.assignto.contractorlogo" [src]="survey.assignto.contractorlogo.logo.url"
                         class="assignee-image"/>
                    <div *ngIf="!survey.assignto.contractorlogo"
                         class="assignee-image d-flex flex-row align-center justify-center">
                        <div class="name_div">
                            <span style="text-transform: capitalize;">{{survey.assignto.firstname.substring(0, 1)}}{{survey.assignto.lastname.substring(0, 1)}}</span>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding ion-margin-top" *ngIf="!assigned">
            <ion-col size="12">
                <form novalidate [formGroup]="assigneeForm">
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-user-selector placeholder="assign" [assignees]="listOfAssignees"
                                           formControlName="assignto"></app-user-selector>
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-bottom-drawer [(state)]="drawerState" minimumHeight="0" dockedHeight="300" draggable="false" disableDrag="true"
                   shouldBounce="false" distanceTop="0" class="drawer">
    <form [formGroup]="rescheduleForm">
        <ion-grid class="drawer">
            <ion-row>
                <ion-col size="12">
                    <span>date and time</span>
                </ion-col>
                <ion-col *ngIf="survey" size="auto">
                    <ion-item lines="none" class="date-picker" (click)="changeDate()">
                        {{date | date: 'dd MMM'}}
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="survey" size="auto">
                    <ion-item lines="none" class="date-picker" (click)="changeTime()">
                        {{date | date: 'hh:mm a'}}
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <span>comments</span>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea class="ion-no-margin ion-no-padding comment_box" formControlName="comments"
                                  rows="3"></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="auto">
                    <ion-button class="buttom-drawer-button" (click)="rescheduleSurvey()">
                        Confirm
                    </ion-button>
                </ion-col>
                <ion-col size="auto">
                    <ion-button class="buttom-drawer-button-cancel" fill="clear" (click)="dismissBottomSheet()">
                        Cancel
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-bottom-drawer>

<ion-footer *ngIf="!assigned && survey" class="ion-no-border white-bg">
    <ion-grid>
        <ion-row class="ion-text-end ion-align-items-end ion-justify-content-end">
            <ion-col size="auto">
                <ion-button class="action-button-color" fill="clear" (click)="updateAssignee()">Done</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>

