.survey-email {
  font-size: 0.8em;
}

.survey-name {
  font-size: 1.7em;
}

.survey-phone {
  font-size: 0.8em;
}

ion-header {
  color: #666666;
}

.header-icon {
  padding: 8px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  width: 48px;
  height: 48px;
}

.image-count {
  width: 48px;
  height: 48px;
}

.data-header {
  font-size: 0.9em;
  color: #BFBFBF;
}

.data-point {
  font-size: 1em;
  color: black;
}
