<ion-header class="ion-no-border white-bg" *ngIf="survey">
    <ion-grid class="ion-padding-top ion-padding-start ion-padding-end header-bg">
        <ion-row>
            <ion-col size="2">
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="goBack()">
                    <ion-img src="/assets/images/back.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col size="6" *ngIf="iseditable">
                <ion-button fill="clear" disabled="true" size="small" class="ion-no-padding action-icon">
                </ion-button>
            </ion-col>
            <!-- <ion-col>
                <ion-grid class="ion-align-items-center ion-justify-content-center">
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="survey-name ion-text-center">{{survey.name}}</span>
                    </ion-row>
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                        <span class="survey-email ion-text-center">{{survey.email}}</span>
                    </ion-row>
                </ion-grid>
            </ion-col> -->
            <ion-col  size="2" *ngIf="survey.createdby.id == user.id && (survey.status == 'created' || survey.status == 'requestdeclined')" style="text-align: right !important;">
                <ion-button fill="clear" size="small" class="ion-no-padding"
                            [routerLink]="['/schedule/survey/',surveyId]"
                            routerDirection="forward">
                    <ion-img src="/assets/images/edit.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col size="2" *ngIf="survey.createdby.id == user.id && (survey.status == 'created' || survey.status == 'requestdeclined')" style="text-align: right !important;" 
            size="2" >
                <ion-button fill="clear" size="small" class="ion-no-padding" (click)="deleteSurvey()">
                    <ion-img src="/assets/images/trash.svg" class="action-icon"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col size="auto" *ngIf="!iseditable">
                <ion-button fill="clear" disabled="true" size="small" class="ion-no-padding action-icon">
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="position-relative ion-no-padding">
        <ion-row class="ion-no-padding border-header header-half-height">
        </ion-row>
        <ion-row class="ion-no-padding header-half-height">

        </ion-row>
        <ion-row class="ion-no-padding position-absolute header-icon-position full-width">
            <ion-col class="flex-center">
                <ion-img src="/assets/detailpage/Survey.svg" class="header-icon"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding page-text-color" *ngIf='survey' >
    <!-- <ion-grid fixed> -->
        <!-- <ion-row> -->
            <!-- <ion-col> -->
                <ion-segment scrollable [(ngModel)]="segments" class="wd140 colorwht" *ngIf='survey.status =="surveycompleted"' mode="md">
                <ion-segment-button value="SiteDetils" class="wd140 colorwht"> 
                    <ion-label>
                        Site Details
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button value="electricals" class="wd140 colorwht">
                    <ion-label>
                        Electrical
                    </ion-label>
                </ion-segment-button>
                <!-- <ion-segment-button value="solarPanel" class="wd140 colorwht">
                    <ion-label>
                        Solar Panel
                    </ion-label>
                </ion-segment-button> -->
                <ion-segment-button value="roof" class="wd140 colorwht">
                    <ion-label>
                        Roof
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button value="attic" class="wd140 colorwht">
                    <ion-label>
                        Attic
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button value="appliances" class="wd140 colorwht">
                    <ion-label>
                        Appliances
                    </ion-label>
                </ion-segment-button>
                <!-- <ion-segment-button value="equipmentMarketing" class="wd140 colorwht">
                    <ion-label style="width:100%">
                        Equipment Marking
                    </ion-label>
                </ion-segment-button> -->
                <ion-segment-button value="generalInfo" class="wd140 colorwht">
                    <ion-label>
                        General information
                    </ion-label>
                </ion-segment-button>
                </ion-segment>
                <div [ngSwitch]="segments">
                    <ion-grid *ngSwitchCase="'SiteDetils'">
                        <ion-row class="bkg">
                            <ion-col class="hgt-margin">
                                <!-- <ion-item> -->
                                    <label>Customer Details</label>
                                <!-- </ion-item> -->
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">Name</ion-col>
                            <ion-col size="6">{{survey.name}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">Address</ion-col>
                            <ion-col size="6">{{survey.address}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">Email</ion-col>
                            <ion-col size="6">{{survey.email}}</ion-col>
                        </ion-row>
    
                        <ion-row class="bkg">
                            <ion-col class="hgt-margin">
                                <!-- <ion-item> -->
                                    <label>Job Details</label>
                                <!-- </ion-item> -->
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">Job</ion-col>
                            <ion-col size="6">{{survey.jobtype}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">Scheduled On</ion-col>
                            <ion-col size="6">{{utilities.formatDateInDisplayFormat(survey.datetime)}} {{utilities.formatTimeInDisplayFormat(survey.datetime)}}</ion-col>
                        </ion-row>
               
                        <ion-row class="bkg">
                            <ion-col size="6" class="hgt-margin">
                                <!-- <ion-item> -->
                                    <label>Comments</label>
                                <!-- </ion-item> -->
                            </ion-col>
                        
                        
        

