<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom">
    <form [formGroup]="surveyForm">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-input placeholder="name*" class="form_input" autocapitalize="words"
                                   formControlName="name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-input placeholder="email*" autocapitalize="none" formControlName="email" email="true"
                                   type="email"
                                   class="form_input"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="surveyForm.get('email').hasError('pattern') && surveyForm.get('email').dirty">
                            <span class="error">{{emailError}}</span>
                        </div>
                        <div *ngIf="surveyForm.get('email').value === '' && surveyForm.get('email').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-input placeholder="phone*" formControlName="phonenumber" type="number"
                                   class="form_input"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-date-time formControlName="datetime" placeholder="date and time"
                                       required="false"></app-date-time>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col size="12" class="ion-no-padding">
                    <span class="input-placeholder">comments</span>
                </ion-col>
                <ion-col size="12" class="ion-no-padding">
                    <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                  formControlName="comments"></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-user-selector formControlName="assignto" placeholder="assign"
                                           [assignees]="listOfAssignees"></app-user-selector>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>

</ion-content>
