<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom" >
    <form [formGroup]="surveyForm">
        <ion-grid>
            <!-- <ion-row *ngIf="address !== ''">
                <ion-col>
                    {{address}}
                </ion-col>
         
            </ion-row>
            <ion-row *ngIf="address == ''">
                <ion-col>
                Address not found.
                </ion-col>
         
            </ion-row> -->
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">name*</ion-label>
                        <ion-input type="text" class="form_input" autocapitalize="words"
                                   formControlName="name"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="surveyForm.get('name').hasError('pattern') && surveyForm.get('name').dirty">
                            <span class="error">{{nameError}}</span>
                        </div>
                        <div *ngIf="surveyForm.get('name').value === '' && surveyForm.get('name').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">email</ion-label>
                        <ion-input autocapitalize="none" formControlName="email" email="true"
                                   type="email" autocomplete="off"
                                   class="form_input"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="surveyForm.get('email').hasError('pattern') && surveyForm.get('email').dirty">
                            <span class="error">{{emailError}}</span>
                        </div>
                        <!--<div *ngIf="surveyForm.get('email').value === '' && surveyForm.get('email').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>-->
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">phone*</ion-label>
                        <ion-input formControlName="phonenumber" type="number"
                                   class="form_input"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="surveyForm.get('phonenumber').hasError('pattern') && surveyForm.get('phonenumber').dirty">
                            <span class="error">{{phoneError}}</span>
                        </div>
                    <!--    <div *ngIf="surveyForm.get('phone').value === '' && surveyForm.get('phone').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>-->
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label style="display: none;">Job Type</ion-label>
                        <ion-select class="form_input select_div" placeholder="job type"
                                    ok-text=""
                                    cancel-text=""
                                    formControlName="jobtype" interface="popover">
<!--                            <ion-select-option value="pvbattery">PV+Battery</ion-select-option>-->
<!--                            <ion-select-option value="battery">Battery</ion-select-option>-->
                            <ion-select-option value="pv">PV</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-date-time formControlName="datetime" placeholder="date and time"
                                       required="false"></app-date-time>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col size="12" class="ion-no-padding">
                    <span class="input-placeholder">comments</span>
                </ion-col>
                <ion-col size="12" class="ion-no-padding">
                    <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                  formControlName="comments"></ion-textarea>
                </ion-col>
            </ion-row>

            <!-- <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-user-selector formControlName="assignedto" placeholder="assign"
                                           [assignees]="listOfAssignees"></app-user-selector>
                    </ion-item>
                </ion-col>
            </ion-row> -->

        </ion-grid>
    </form>

</ion-content>
