<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom" style="height:650px" >
    <form [formGroup]="surveyForm">
        <ion-grid style="position: relative;">
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">Name*</ion-label>
                        <ion-input type="text" class="form_input" autocapitalize="words"
                                   formControlName="name"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="surveyForm.get('name').hasError('pattern') && surveyForm.get('name').dirty">
                            <span class="error">{{nameError}}</span>
                        </div>
                        <div *ngIf="surveyForm.get('name').value === '' && surveyForm.get('name').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input autocapitalize="none" formControlName="email" email="true"
                                   type="email" autocomplete="off"
                                   class="form_input"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="surveyForm.get('email').hasError('pattern') && surveyForm.get('email').dirty">
                            <span class="error">{{emailError}}</span>
                        </div>
                        <!--<div *ngIf="surveyForm.get('email').value === '' && surveyForm.get('email').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>-->
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating">Phone*</ion-label>
                        <ion-input formControlName="phonenumber" type="tel"
                                   class="form_input" maxLength="15"></ion-input>
                    </ion-item>
                    <div style="height: 5px;">
                        <div *ngIf="surveyForm.get('phonenumber').hasError('pattern') && surveyForm.get('phonenumber').dirty">
                            <span class="error">{{phoneError}}</span>
                        </div>
                    <!--    <div *ngIf="surveyForm.get('phone').value === '' && surveyForm.get('phone').dirty">
                            <span class="error">{{fieldRequired}}</span>
                        </div>-->
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                  <ion-item class="ion-no-padding">
                    <ion-label position="floating" class="label">Address*</ion-label>
                    <ion-input type="text" class="form_input" autocapitalize="words"
                                formControlName="address" autocomplete="off"  (ionChange)="updateSearchResults($event)"
                                (ionClear)="onCancel()" debounce="300"
                                (ionFocus)="forAutoComplete($event)" (ionBlur)="onBlur()" [disabled]="fieldDisabled"></ion-input>
                </ion-item>
                <!-- <ion-item class="ion-no-padding">
                  <ion-label position="floating" class="label">Shipping Address*</ion-label>
                  <ion-input type="text" class="form_input" autocapitalize="words"
                              formControlName="shippingaddress" autocomplete="off"></ion-input>
              </ion-item> -->
                <!-- <ion-list *ngIf="autocompleteItems.length > 0 && autoCompleteOff"> -->
                    <ion-list style="padding:0px" *ngIf="!isSelectSearchResult && surveyId == 0">
                  <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
                      <ion-label>
                          {{ item.description }}
                      </ion-label>
                  </ion-item>
              </ion-list>
              <!-- <div style="height: 5px;">
                <div *ngIf="surveyForm.get('address').hasError('pattern') && surveyForm.get('address').dirty">
                    <span class="error">{{addressError}}</span>
                </div>
                <div *ngIf="surveyForm.get('address').value === '' && surveyForm.get('address').dirty">
                    <span class="error">{{fieldRequired}}</span>
                </div>
            </div> -->
            </ion-col>
            </ion-row>
            

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding">
                        <ion-label position="floating" class="label">Job Type*</ion-label>
                        <ion-select class="form_input select_div" placeholder="job type"
                                    ok-text=""
                                    cancel-text=""
                                    formControlName="jobtype" interface="popover">
<!--                            <ion-select-option value="pvbattery">PV+Battery</ion-select-option>-->
<!--                            <ion-select-option value="battery">Battery</ion-select-option>-->
                            <ion-select-option value="pv">PV</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-date-time formControlName="surveydatetime" placeholder="Date and time"
                                       required="false"></app-date-time>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
                <ion-col size="12" class="ion-no-padding">
                    <span class="input-placeholder">Comments</span>
                </ion-col>
                <ion-col size="12" class="ion-no-padding">
                    <ion-textarea class="ion-no-margin ion-no-padding comment_box" rows="3"
                                  formControlName="comments"></ion-textarea>
                </ion-col>
            </ion-row>

            <!-- <ion-row class="ion-margin-top">
                <ion-col>
                    <ion-item class="ion-no-padding no-border" lines="none">
                        <app-user-selector formControlName="assignedto" placeholder="assign"
                                           [assignees]="listOfAssignees"></app-user-selector>
                    </ion-item>
                </ion-col>
            </ion-row> -->

        </ion-grid>
    </form>

</ion-content>
